 {% extends "layout_popup.html" %}

{% block content %}

<p>Перейдите в раздел <a href="{{url_for('account_dog_advs')}}">Мои собаки</a> или закройте текущую страницу.</p>

<script type="text/javascript">
$(document).ready(function(){
	if (opener) {
		opener.location.href = "{{url_for('account_dog_advs', _external=True)}}";
		opener.focus();
		window.close();
	} else {
		window.location.href = "{{url_for('account_dog_advs', _external=True)}}";
	}
});	
</script>

{%endblock%}

