{% extends "account/layout.html" %}

{%block page_desc%}

	<p class="">На этой странице вы можете просматривать, редактировать и удалять свои объявления о продаже собак.</p>

{%endblock%}

{% block account_content %}

<div class="account-pet-sale">

    <p class="text-left" style="margin-bottom:30px">
        <a target="_blank" href="{{url_for('account_dog_adv_new')}}" class="btn btn-success btn-sm"><i class="fa fa-paw"></i>&emsp;Подать новое объявление</a> 
    </p>


    {% if advs.count() > 0%}

    {% for adv in advs %}

      {{render_adv(adv, loop)}} 

    {% endfor %}

    {%else%}

      <blockquote>Нет объявлений</blockquote>

    {%endif%}

</div>

<script type="text/javascript">

    
</script>


{% endblock%}


{%- macro render_adv(adv, loop) -%}

{% from "attraction.html" import render_stars %}


<div class="adv {{loop.cycle('adv-odd', 'adv-even')}}" style="">



<div class="" style="margin:-5px -25px 10px -25px; padding:0px 25px 0px 25px;">
      {{render_stars(adv.get("attraction"), hint = False )}}
</div>

  <div class="row clearfix" style="">
     <div class="col-md-3 col-sm-4">
        <div class="text-center photo">

          {% set photo = (adv.get('photos') or [])[0]%}
          {% if photo %}

          <a title='{{adv.get("title")}}' href="{{url_for('dog_adv_show', adv_id = adv['_id'])}}" target="_blank" class="photo-img">
            <img src="{{url_for('thumbnail', filename=photo)}}">
            <div class="photo-count"><small><b>{{adv.get("photos") | length }}&nbsp; фото</b></small></div>                          
          </a>  

          {% else %}

            <img src="/static/img/no_photo.png" class="img-thumbnail no-photo" style="margin:0 auto" />
          
          {%endif%}

        </div> 

        


     </div>

     <div class="col-sm-8 col-md-9">

        <div class="row">
            <div class="col-md-8 col-lg-9 col-sm-8">

                <h4 class="adv-head"><a target="_blank" href="{{url_for('dog_adv_show', adv_id = adv['_id'])}}" target="_blank" title='{{adv.get("title")}}'>{{adv.get("title")}}</a></h4>
              

                <p class="">
                {% set breed_name = breeds.get_breed_name(adv.get("breed_id")) %}
                {% if breed_name %}
                <span  title="Порода">{{breed_name }}</span>
                {%endif%}

              </p>

                <p class="">
                  {% set city_id = adv.get("city_id") %}

                  {% if city_id %}
                 <b title="Местоположение">{{ geo.format_city_region_by_city_id(city_id)  }}</b>

                </span>
                {%endif%}

              </p>                
              

              {% if adv.get("desc") %}
              <p class="">
                 {{adv.get("desc") | truncate (120, end='...', killwords = False)}} 
              </p>
              {%endif%}

            </div>


            <div class="col-md-4 col-lg-3 col-sm-4 text-right">
              {%set price = (adv.get("price") or "") | int  %}
              <p class="adv-price" style="" title='Цена: {{format("{0:,}" , price) | replace(","," ")}} {{ "рубль" | morph_word(count=price )}}'>
               <b class="adv-price-number">{{ price | format_price() }}&thinsp;<i class="fa fa-ruble"></i></b>
             </p>  

             

             
            </div>

        </div> <!-- row -->

        
    </div> <!-- right-side -->

  </div>

  <div class="small" style="margin:5px 0px 15px 0px;">
    

  <!-- adv number -->

    {#<span><span class="text-muted">Объявление №</span><span> {{adv | short_adv_id}}</span>#}



    <!-- adv date -->
    {% set update_date = adv.get("update_date") %}
    {% set add_date = adv.get("add_date") %}
    {% set expire_date = adv.get("expire_date")%}

    <p>
      <i class="fa fa-clock-o"></i>&emsp;
      {%if add_date %}
       
        <span class="text-semi-muted" style="">Размещено&nbsp;</span>
        <span style="white-space:nowrap">{{ momentjs(add_date).format("D MMMM, HH:mm") }}</span>
        &emsp;
      {%endif%}
      
      <span style="{{ 'display:inline' if add_date != update_date else 'display:none' }}" adv-id="{{adv.get('_id')}}" class="adv-date-update-block">
        <span class="text-semi-muted" style="">Обновлено&nbsp;</span>
        <span style="white-space:nowrap" class="adv-date-update" adv-id="{{adv.get('_id')}}">{{ momentjs(update_date).format("D MMMM, HH:mm") }}</span>
        &emsp;
        </span>
      

      {%if expire_date %}
        <span class="text-semi-muted">Активно до&nbsp;</span>
        <span  class="adv-date-expire" adv-id="{{adv.get('_id')}}">{{ momentjs(expire_date).format("D MMMM") }}</span>&ensp;<i data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-content="<div style='width:250px'>По истечении указанного срока объявление будет перенесено в архив.</div>" class="text-muted fa fa-question-circle cursor-help"></i>
      {%endif%}

    </p>

    <p>
       <span class="glyphicon glyphicon-stats"></span>&emsp;
       {% set views_count = adv.get("stat").get("unique_views") if adv.get("stat") else 0%}
       <span class="text-semi-muted" style="">Посмотрели&nbsp;</span> 
        <span style="white-space:nowrap">{{ views_count }} {{"пользователь" | morph_word(count = views_count) }}</span>&ensp;
    </p>

      <!-- adv views -->

  </div>

  <div style="border-top:1px solid #e5e5e5; margin:10px -30px 0px -30px; padding:20px 30px 0px 30px">
      
      <div class="text-left">
            
            <button type="" title="Обновить объявление" class="btn btn-xs btn-default adv-action adv-action-refresh" adv-id="{{adv.get('_id')}}"  ><i class="fa fa-refresh fa-fw"></i><span style="">&ensp;Обновить</span></button>

            <a type="" target="_blank" title="Редактировать объявление" class="btn btn-xs btn-primary adv-action adv-action-edit"  target="_self" href="{{url_for('account_dog_adv_edit', adv_id = adv['_id'])}}"><i class="fa fa-pencil fa-fw"></i><span>&ensp;Редактировать</span></a>

            <a type="button" title="Переместить объявление в архив" class="btn btn-xs btn-warning adv-action adv-action-archive"  target="_self" href="{{url_for('account_dog_adv_archive', adv_id = adv['_id'])}}"><i class="fa fa-archive fa-fw"></i><span>&ensp;В архив</span></a>

            <a action="remove" type="button" title="Удалить объявление" class="btn btn-xs btn-danger adv-action adv-action-remove"  target="_self" href="{{url_for('account_dog_adv_remove', adv_id = adv['_id'])}}"><i class="fa fa-trash-o fa-fw"></i><span>&ensp;Удалить</span></a>

             <a type="button" title="Посмотреть объявление" class="pull-right small" target="_blank" href="{{url_for('dog_adv_show', adv_id = adv['_id'])}}"><i class="fa fa-eye"></i>&ensp;Посмотреть</a>
      </div>

     </div>

  </div>

  <script type="text/javascript">


    $(document).ready(function(){
      $(".adv-action-refresh[adv-id={{adv.get('_id')}}]").click(function(){
          var btn = $(this);
          btn.addClass("disabled");
          btn.find("span").html("&ensp;Обновляется...");
          btn.find(".fa").addClass("fa-spin");
          $.getJSON("{{url_for('ajax_account_dog_adv_refresh', adv_id = adv.get('_id')) }}",
            function(data){
              btn.replaceWith("<small>Обновлено&ensp;</small>");
              $(".adv-date-expire[adv-id={{adv.get('_id')}}]").replaceWith(moment(data.items.expire_date).format("D MMMM"));
              $(".adv-date-update[adv-id={{adv.get('_id')}}]").replaceWith(moment(data.items.update_date).format("D MMMM, HH:mm"));
              $(".adv-date-update-block[adv-id={{adv.get('_id')}}]").show();
              // btn.find("i.fa-spin").removeClass("fa-spin");
              // btn.find("span").html("&ensp;Обновлено");
            })
        });
    });

    </script>

{%- endmacro -%}
