{% extends "account/layout.html" %}

{%block page_desc%}

	<span class="">На этой странице вы можете просматривать, редактировать и удалять свои объявления о продаже собак.</span>

{%endblock%}

{% block account_content %}

<div class="account-pet-sale">

    <p class="text-left" style="margin-bottom:30px">
        <a target="_blank" href="{{url_for('account_dog_adv_new')}}" class="btn btn-default">Подать новое объявление о продаже собаки &rarr;</a> 
    </p>
    


    {% for adv in advs %}

    
      {{dog_adv(adv, loop)}}

 

    {% endfor %}

</div>

<script type="text/javascript">

    $(function(){
    });
    
</script>


{% endblock%}


{%- macro dog_adv(adv, loop) -%}

{% from "attraction.html" import render_stars %}


<div class="adv {{loop.cycle('adv-odd', 'adv-even')}}" style="">



<div class="" style="margin:-5px -25px 10px -25px; padding:0px 25px 0px 25px;">
      {{render_stars(adv.get("attraction"))}}
</div>

  <div class="row clearfix" style="">
     <div class="col-md-3 col-sm-4">
        <div class="text-center photo">

          {% set photo = (adv.get('photos') or [])[0]%}
          {% if photo %}

          <a title='{{adv.get("title")}}' href="{{url_for('dog_adv_show', adv_id = adv['_id'])}}" target="_blank" class="photo-img">
            <img src="{{url_for('thumbnail', filename=photo)}}">
            <div class="photo-count"><small><b>{{adv.get("photos") | length }}&nbsp; фото</b></small></div>                          
          </a>  

          {% else %}

            <img src="/static/img/no_photo.png" class="img-thumbnail no-photo" style="margin:0 auto" />
          
          {%endif%}

        </div> 

        


     </div>

     <div class="col-sm-8 col-md-9">

        <div class="row">
            <div class="col-md-8 col-lg-9 col-sm-8">

                <h4 class="adv-head"><a target="_blank" href="{{url_for('dog_adv_show', adv_id = adv['_id'])}}" target="_blank" title='{{adv.get("title")}}'>{{adv.get("title")}}</a></h4>
              

                <p class="adv-breed">
                {% set breed_name = adv.get("breed_id") | breed_dog_name %}
                {% if breed_name %}
                <span  title="Порода">{{breed_name }}</span>
                {%endif%}

              </p>

                <p class="adv-city">
                  {% set city_id = adv.get("city_id") %}

                  {% if city_id %}
                  <span class="glyphicon glyphicon-map-marker" title="Местоположение"></span>&nbsp;<span title="Местоположение">{{ city_id | city_region }}</span>

                  {% if adv.get("distance") and adv.get("distance") > 0 %}
                  (~{{adv.get("distance") | round(-1, "ceil") | int}} км от г.{{form.city.city_id | city_name("i") }})
                  {% endif %}

                </span>
                {%endif%}

              </p>                
              

              {% if adv.get("desc") %}
              <p class="hidden-xs hidden-sm">
                 {{adv.get("desc") | truncate (120, end='...', killwords = False)}} 
              </p>
              {%endif%}



            </div>


            <div class="col-md-4 col-lg-3 col-sm-4 text-right">
              {%set price = (adv.get("price") or "") | int  %}
              <p class="adv-price" style="" title='Цена: {{format("{0:,}" , price) | replace(","," ")}} {{ "рубль" | morph_word(count=price )}}'>
               <span class="price">{{ price | format_price() }}&thinsp;<span class="rur">руб</span></span>
             </p>  

             

             
            </div>

        </div> <!-- row -->

        
    </div> <!-- right-side -->

  </div>

  <div class="small" style="margin:5px 0px 15px 0px;">
    

  <!-- adv number -->

    {#<span><span class="text-muted">Объявление №</span><span> {{adv | short_adv_id}}</span>#}



    <!-- adv date -->
     {% set update_date = adv.get("update_date") %}
      {% set add_date = adv.get("add_date") %}
      
      <span class="text-muted" style="">Размещено&nbsp;</span> 
      <span style="white-space:nowrap">{{ momentjs(add_date).format("D MMM, H:mm") }}</span> 
      {%if add_date != update_date %}
      <span class="text-muted" style="margin-left:15px;">Обновлено&nbsp;</span> 
      <span style="white-space:nowrap">{{ momentjs(update_date).format("D MMM, H:mm") }}</span> 
      {%endif%}


      <!-- adv views -->

       <span class="text-muted" style="margin-left:15px;">Смотрели:&nbsp;</span> 
      <span style="white-space:nowrap">{{ adv.get("stat").get("unique_views") if adv.get("stat") else '0' }}</span>

  </div>

  <div style="border-top:1px solid #e5e5e5; margin:10px -30px 15px -30px; padding:15px 5px 0px 5px">
      
      <div class="col-sm-12 text-left">
           <a type="button" title="Посмотреть" class="btn btn-xs btn-default" target="_blank" href="{{url_for('dog_adv_show', adv_id = adv['_id'])}}"><span class="glyphicon glyphicon-eye-open" style="padding-right:7px"></span>Посмотреть</a>
            <a type="" target="_blank" title="Редактировать" class="btn btn-xs btn-primary"  target="_self" style="{#margin:10px 10px#}" href="{{url_for('account_dog_adv_edit', adv_id = adv['_id'])}}"><span class="glyphicon glyphicon-pencil" style="padding-right:7px"></span>Редактировать</a>

            <a action="remove" type="button" title="Удалить" class="btn btn-xs btn-danger" style="{#margin:10px 10px#}"  target="_self" href="{{url_for('account_dog_adv_remove', adv_id = adv['_id'])}}"><span class="glyphicon glyphicon-trash" style="{#padding-right:7px;#}"></span>{#Удалить#}</a>
      </div>

     </div>

  </div>

{%- endmacro -%}
