{% extends "account/layout.html" %}

{% block account_content %}

<!-- <p class="">Редактирвать</p> -->

<div class="sale-edit">
    <div class="">

        {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form class="form-sale-adv" method="post" action="{{request.url}}" enctype="multipart/form-data" >

          
              {{ form_field(form.breed, size="col-md-5", placeholder="Введите породу кошки", autocomplete="off") }}        
            
              {{ form_field(form.gender, size="col-lg-3 col-md-3 col-sm-4") }}
              
          
              {{ form_field(form.city, size="col-md-6", placeholder="Введите название населенного пункта", autocomplete="off") }}
            

        {{ form_field(form.title, size="col-md-8", placeholder="Коротко опишите название объявления")}}
            

          {{ form_field(form.desc, rows="6", size="col-md-8") }}    

          {{ form_field(form.price, size="col-lg-2 col-md-3 col-sm-4") }}
                

          <div style="display:none">
            {{ form_field(form.photos) }}
          </div>

          <div class="clearfix photos">
            <label for="uploader">
              <strong>Фотографии</strong>
            </label>
              <p class="text-warning main-photo" title="Главная фотография - это первая по счету фотография, и  именно она будет показана в списке объявлений. Вы можете перетащить любую из загруженных фотографий в эту позицию.">главная фотография</p>
              {% include "uploader.html" %}
          </div>  

        <h2>Контактная ифнормация</h2>

          <p>Контактная информация не является обязательной для заполнения, так как с вами всегда смогут связаться по электронной почте, которую вы указали при регистрации.</p>

           <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-5">

                {{ form_field(form.phone, placeholder = "Введите тел. номер") }}

            </div>
          </div>

           <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-5">
                {{ form_field(form.skype, placeholder="Введите skype-имя") }}
            </div>
          </div>


        <div class="actions">
          <button type="submit" class="btn btn-primary" id="update" data-loading-text="Сохраняется...">Сохранить</button>
          &nbsp;
          <a class="btn" href="{{url_for('account_cat_advs')}}" id="cancel">Отменить</a>
        </div>

            <script type="text/javascript">
            
            //location with autocomplete built on typeahead.js
            $(document).ready(function(){

              $("#{{form.city.id}}").typeahead(
              povodochek.typeahead(
              "{{url_for('ajax_typeahead_geo_cities')}}",
              "{{form.city.id}}")); //typeahead  


             $("#{{form.breed.id}}").typeahead(
              povodochek.typeahead(
              "{{url_for('ajax_typeahead_cat')}}",
              "{{form.breed.id}}")); //typeahead  
           

              
            //validation

              var submit = function(){photos = $("#photos").val("");
                  $.each(uploader.getFileNames(), function(i, filename) {
                    if(filename && photos.val()) {
                      photos.val(photos.val() + "," + filename);
                    } else {
                      photos.val(filename);
                    }
                  });
                };

               $(function(){
                $("#phone").inputmask({"mask": "+7(999)999-9999", 
                }); 
              });

              povodochek.validate($("form"), {
                  breed: { required: true },
                  title: { required: true, rangelength: [10, 80] },
                  desc : { required: true, minlength: 100 },
                  price : { required: true, range: [10, 900000] }, 
                  // age : {required: true},
                  // gender : {required: true},
                  city : {required: true}, 
                  phone : {_phone: true}, 
                  email : {email: true, required : true},
                  username : {required : true}
               }, submit);
 

            //remove action
     

              $("#remove").click(function(){
                return confirm("Вы уверены, что хотите удалить объявление?");
              });

              $("#price-desc").tooltip({placement:'bottom', html:false})
            });

          </script>

      </form>
        
  </div>
</div>
{% endblock%}

