{% extends "account/layout.html" %}

{%block page_desc%}

<p>
  На этой странице вы можете просмотреть, восстановить, а также удалить объявления, ранее перемещенные в архив.
</p>

{%endblock%}

{% block account_content %}

<div class="account-pet-sale">

    {% for adv in advs %}

      {{render_adv(adv, loop)}} 

    {% endfor %}

</div>


{% endblock%}


{%- macro render_adv(adv, loop) -%}


<div class="adv {{loop.cycle('adv-odd', 'adv-even')}}" style="">

  <div class="row clearfix" style="">
     <div class="col-md-3 col-sm-4">
        <div class="text-center photo">

          {% set photo = (adv.get('photos') or [])[0]%}
          {% if photo %}
          
            <img src="{{url_for('thumbnail', filename=photo)}}" class="img-responsive">
            <div class="photo-count"><small><b>{{adv.get("photos") | length }}&nbsp; фото</b></small></div>                          

          {% else %}

            <img src="/static/img/no_photo.png" class="img-responsive no-photo" style="margin:0 auto" />
          
          {%endif%}

        </div> 

        


     </div>

     <div class="col-sm-8 col-md-9">

        <div class="row">
            <div class="col-md-8 col-lg-9 col-sm-8">

                <h4 class="adv-head">{{adv.get("title")}}</h4>
              

                <p class="adv-breed">
                {% set breed_name = breeds.get_breed_name(adv.get("breed_id")) %}
                {% if breed_name %}
                <span  title="Порода">{{breed_name }}</span>
                {%endif%}

              </p>

                <p class="adv-city">
                  {% set city_id = adv.get("city_id") %}

                  {% if city_id %}
                  <i class="fa fa-map-marker" title="Местоположение"></i>&ensp;<span title="Местоположение">{{ geo.get_city_region(city_id) }}</span>

                </span>
                {%endif%}

              </p>                
              

              {% if adv.get("desc") %}
              <p class="adv-desc">
                 {{adv.get("desc") | truncate (120, end='...', killwords = False)}} 
              </p>
              {%endif%}



            </div>


            <div class="col-md-4 col-lg-3 col-sm-4 text-right">
              {%set price = (adv.get("price") or "") | int  %}
              <p class="adv-price" style="" title='Цена: {{format("{0:,}" , price) | replace(","," ")}} {{ "рубль" | morph_word(count=price )}}'>
               <b class="adv-price-number">{{ price | format_price() }}&thinsp;<i class="fa fa-ruble"></i></b>
             </p>  

             

             
            </div>

        </div> <!-- row -->

        
    </div> <!-- right-side -->

  </div>

  <div class="small" style="margin:5px 0px 15px 0px;">
    

  <!-- adv number -->

    {#<span><span class="text-muted">Объявление №</span><span> {{adv | short_adv_id}}</span>#}


    <!-- adv date -->
     {% set archive_date = adv.get("archive_date") %}

      {%if archive_date %}
      <span class="text-muted" style="">В архиве с&nbsp;</span> 
      <span style="white-space:nowrap">{{ momentjs(archive_date).format("D MMMM, H:mm") }}</span> 
      {%endif%}


      <!-- adv views -->

       <span class="text-muted" style="margin-left:15px;">Смотрели:&nbsp;</span> 
      <span style="white-space:nowrap">{{ adv.get("stat").get("unique_views") if adv.get("stat") else '0' }}</span>

  </div>

  <div style="border-top:1px solid #e5e5e5; margin:10px -30px 15px -30px; padding:15px 5px 0px 5px">
      
      <div class="col-sm-12 text-left">
            <a type="" target="_blank" title="Восстановить" class="btn btn-xs btn-primary"  target="_self" href="{{url_for('account_cat_adv_archived_restore', adv_id = adv['_id'])}}"><i class="fa fa-undo"></i>&ensp;Восстановить</a>

            <a action="remove" type="button" title="Удалить объявление" class="btn btn-xs btn-danger"  target="_self" href="{{url_for('account_cat_adv_archived_remove', adv_id = adv['_id'])}}"><i class="fa fa-trash-o fa-lg"></i>&ensp;Удалить</a>
      </div>

     </div>

  </div>

{%- endmacro -%}
