{% extends "account/layout.html" %}

{%block page_desc%}

	<span class="">На этой странице вы можете просматривать, редактировать и удалять свои объявления о продаже кошек.</span>

{%endblock%}

{% block account_content %}

<div class="account-pet-sale">


    <p class="text-left" style="margin-bottom:30px">
        <a target="_self" href="{{url_for('account_cat_adv_new')}}" class="btn btn-default">Подать новое объявление о продаже кошки &rarr;</a> 
    </p>


    {% for adv in advs %}

    <div class="adv {{loop.cycle('adv-odd', 'adv-even')}}">

    <div class="row clearfix" >
                   <div class="col-md-3">
                      <div class="text-center photo">

                        {% set photo = (adv.get('photos') or [])[0]%}
                        {% if photo %}
                        <a title='{{adv.get("title")}}' href="{{url_for('cat_adv_show', adv_id = adv['_id'])}}" target="_blank" class="photo-img">
                          <img src="{{url_for('thumbnail', filename=photo)}}">
                          <div class="photo-count"><small><b>{{adv.get("photos") | length }}&nbsp; фото</b></small></div>                          
                        </a>  
                        {% else %}
                        <img src="/static/img/no_photo.png" class="img-thumbnail no-photo" style="margin:0 auto" />
                        {%endif%}


                      </div> 

                   </div>

                   <div class="col-md-9">

                      <div class="row">
                          <div class="col-md-8 col-lg-9 col-sm-8">

                              <a href="{{url_for('cat_adv_show', adv_id = adv['_id'])}}" target="_blank" title='{{adv.get("title")}}'><h4 class="adv-head">{{adv.get("title")}}</h4></a>
                            
                              <p class="adv-breed">

                              {% set breed_name = adv.get("breed_id") | breed_cat_name %}
                              {% if breed_name %}
                              <span  title="Порода">{{breed_name }}</span>
                              {%endif%}
                            </p>
                            
                              <p class="adv-city">
                                {% set city_id = adv.get("city_id") %}

                                {% if city_id %}
                                <span class="glyphicon glyphicon-map-marker" title="Местоположение"></span>&nbsp;<span title="Местоположение">{{ city_id | city_region }}</span>

                                {% if adv.get("distance") and adv.get("distance") > 0 %}
                                (~{{adv.get("distance") | round(-1, "ceil") | int}} км от г.{{form.city.city_id | city_name("i") }})
                                {% endif %}

                              </span>
                              {%endif%}

                            </p>                
                            

                            {% if adv.get("desc") %}
                            <p class="hidden-xs hidden-sm">
                               {{adv.get("desc") | truncate (120, end='...', killwords = False)}} 
                            </p>
                            {%endif%}



                          </div>


                          <div class="col-md-4 col-lg-3 col-sm-4 text-right">
                            {%set price = (adv.get("price") or "") | int  %}
                            <p class="adv-price" style="" title='Цена: {{ format("{0:,}", price) | replace(","," ")}} {{ "рубль" | morph_word(count=price )}}'>
                             <span class="price">{{ price | format_price() }}&thinsp;<span class="rur">руб</span></span>
                           </p>  

                           <p class="adv-dates">
                                {% set update_date = adv.get("update_date") 
                                %}
                                {% set add_date = adv.get("add_date") 
                                %}

                                {% if update_date and  
                                adv.get("update_date") 
                                %}
                                <small class="text-muted">Обновлено: </small> <b style="white-space: nowrap;"><small>{{ momentjs(update_date or add_date).fromNow() }}</small></b> 

                                {% endif%}

                           </p>

                           <div class="btn-group btn-group-justified btn-group-sm">
                              <a type="button" target="_self" title="Редактировать" class="btn btn-default"  target="_blank"href="{{url_for('account_cat_adv_edit', adv_id = adv['_id'])}}"><span class="glyphicon glyphicon-pencil"></span></a>

                               <a type="button" title="Посмотреть" class="btn btn-default"  target="_self" href="{{url_for('cat_adv_show', adv_id = adv['_id'])}}"><span class="glyphicon glyphicon-eye-open"></span></a>

                              <a action="remove" type="button" title="Удалить" class="btn btn-danger"  target="_self" href="{{url_for('account_cat_adv_remove', adv_id = adv['_id'])}}"><span class="glyphicon glyphicon-trash"></span></a>

                           </div>

                          </div>

                      </div> <!-- row -->

                      
                  </div> <!-- right-side -->

                  

                </div>

              </div>

    {% endfor %}

</div>

<script type="text/javascript">

    $(function(){
        $("a[action='remove']").click(function(){
            return confirm("Вы уверены, что хотите удалить объявление?");
        });
    });
    
</script>


{% endblock%}
