*~
*.pyc
/venv/
/mongodump-*/
*.tmp
/src/static/gen/
/src/static/.webassets-cache/
\#*\#
/bootstrap/node_modules/
/bootstrap/bower_components/
/bootstrap/.csscomb.json
/bootstrap/.csslintrc
/bootstrap/.editorconfig
/bootstrap/.gitattributes

