<div class="pet-search  well">    
  <h2 class="">Поиск объявлений о&nbsp;продаже породистых собак и&nbsp;кошек</h2>

  <p class="hidden-phone">Найдите питомца интересующей вас породы, местоположению, цене, возрасту и&nbsp;другим параметрами. Выбрав подходящее объявление, вы&nbsp;сможете связаться с&nbsp;продавцом и&nbsp;при желании купить понравившуюся собаку или кошку.</p>

  <div class="">

  <form method="get" id="search" class="row-fluid" action="{{url_for('sale')}}">

    {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

    <div class="row-fluid">

      <div class="span5">
      {{ form_field(pet_search_form.pet, class="") }}
      </div>

      <div class="span7">
        {{ form_field(pet_search_form.breed, class="") }}
      </div>

  </div>

  <table style="width:100%">
    <tr>
      <td>
        {{ form_field(pet_search_form.city, placeholder = "Москва", class="", style="width:96%") }}
      </td>
      <td style="width:10px; padding-left:20px">
          <button type="submit" class="btn btn-primary pull-right" id="pet_find">Найти<span class="hidden-phone">&nbsp;питомца</span></button>
      </td>
    </tr>
  </table>
    
  </form>
</div> <!-- well -->


</div> <!-- pet-search -->

  <script type="text/javascript">

  $(window).load(function(){

   $("#city").typeahead({
    minLength: 1,
    limit: 8,
    source: function (query, process) {
      return $.getJSON('/ajax/location/typeahead/',
        {limit: 8, query: query },
        function (data) { return process(data.items);}); //getJSON
      } //source
    }); //typeahead  

   var jq_pet = $("#pet");
   jq_pet.select2({
    placeholder:"Собака",
    width: "off",
    openOnEnter : false,
    containerCssClass : "span12",
    allowClear: true
  });

   var jq_breed = $("#breed");
   jq_breed.select2({
    placeholder: "Померанский шпиц",
    width: "off",
    containerCssClass : "span12",
    allowClear: true,
    openOnEnter : false, 
    matcher: function(term, text, option) {
      var pet_id = jq_pet.val();
      return text.toLowerCase().indexOf(term.toLowerCase()) >= 0 && (!pet_id || option.val().split("_")[0] === pet_id); 
    },
    sortResults : povodochek.select2_breed_sort,
    formatResult : povodochek.select2_breed_format
  }).on('select2-opening', function(e) {});

   jq_pet.on('change', function(e){
    jq_breed.select2('val', '');
  });

 });

  </script>