{% extends "layout_popup.html" %}

{% block content %}  


<div class=""> 
        <p>Вернитесь <a href="javascript:window.history.back(-1);return false;">обратно</a> или перейдите на один из разделов сайта: </p>
			   <ul class=""><li>
            <a href="{{url_for('index')}}">Главная</a>   
         </li>
          <li>
            <a href="{{url_for('dog_search')}}">Объявления о продаже собак</a>
          </li>
          <li>
            <a href="{{url_for('cat_search')}}">Объявления о продаже кошек</a>
          </li>
          <li>
            <a href="{{url_for('advice')}}">Полезные статьи о животных</a>
          </li>
           <li>
            <a href="{{url_for('contacts')}}">Контакты</a>
          </li>
         </ul>
 

{% endblock %} 