{% extends "layout_base.html" %}

{% block layout %}  


<div class="error-404"> 
    <div>
      <a href="/" class="error-404-logo">
        Поводочек
      </a>
      </div>
      <br/>
      <div class="error-text"> 
	     
	      			
				<p class="lead"> Мы искали, но не нашли запрашиваемой вами страницы.
				</p>
				<p class="lead">
		        Вернитесь, пожалуйста, на <a href="{{url_for('index')}}">главную</a>.</p>


	      		
        
      </div>
      
</div>

{% endblock %} 