{% extends "layout.html" %}

{% block content %}      

<div class="container">	

<h1>{{title}}</h1>
<div class="row">
    <div class="col-md-8">
          <p>
          <span class="text-success">Регистрация завершена.</span>
          <br/>
          Перейдите в один из разделов сайта о продаже своих <a target="_self" href="{{url_for('account_dog_advs')}}">собак</a> или <a target="_self" href="{{url_for('account_cat_advs')}}">кошек</a>, чтобы разместить новое объявление.</p>
  </div>

</div>

</div>

{% endblock %} 