{% extends "layout.html" %}

{% block content %}      

<h1>{{title}}</h1>
<div class="row">
    <div class="col-md-8">

       
        {%if confirm %} <span class="text-danger">Не удалось активировать регистрацию, так как ссылка устарела или неверна.</span> {%endif%}
         <p>Запросите новую ссылку на активацию, введя адрес своей электронной почты и нажав кнопку "Выслать".</p>

      {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form method="post" action="{{request.path}}">

          {{ form_field(form.email, placeholder="Введите эл. почту", size="col-sm-5 col-md-5", value = current_user.email) }}

          <button type="submit" class="btn btn-primary" data-loading-text="Отправляется...">Выслать</button>
        </form>

      
  </div>

</div>

<script type="text/javascript">

  //validation
  $(function(){

    povodochek.validate($("form"), {
        {{form.email.id}} : {required : true , email: true}
     });
    });
  
</script>


{% endblock %} 