{% extends "layout.html" %}

{%block breadcrumbs%}
	<ol class="breadcrumb" >
        <li><a href="{{url_for('index')}}" title="Главная"><small class="glyphicon glyphicon-home"></small></a> </li>
        <li><a href="{{url_for('advice')}}">Полезное</a> </li>
        <li class="active" title="{{title}}">{{title | truncate(80)}}</li>
    </ol>
{%endblock%}

{% block content %}


<div class="row">

<div class="advice-article col-md-8">

	{%block advice_content%}

	{%endblock%}

</div> <!-- advice -->

</div> <!-- /row -->

{% endblock %}