{% extends "layout.html" %}

{% block content %}




<h1 class="page-header">{{header or title}}</h1>

<div class="row">
	<div class="col-md-9">
	      <h3 class=""><a href="{{url_for('advice_article_1')}}">Десять ошибок, которых следует избегать, покупая породистого щенка</a></h3>
	      <p>Если вы решились купить породистого щенка, то воодушевленные этой идеей, вы буквально не можете дождаться того момента, когда приведете его домой, и ваше дружное семейство восторженно ахнет от увиденного чуда и ринется играться с ним. Приобретение домашнего питомца всегда является незабываемым и приятным событием для вас и ваших близких...</p>
	
	      <h3 class=""><a href="{{url_for('advice_article_2')}}">Календарь собачьей беременности</a></h3>
	      <p>
	      		Итак, проведя недели или даже месяцы в скрупулезном поиске отца для ваших будущих щенков, вы все-таки нашли достойного кобеля и готовы сосватать его своей суке, которая при успешной вязке разродится очаровательными щенками уже через 60 дней. Это фантастическое и одновременно волнительное время для вас и для вашего питомца!..	

	      </p>	  
	</div>
</div> <!-- advices -->



{% endblock %}