{% extends "layout.html" %}

{%block breadcrumbs%}
	<ol class="breadcrumb" >
        <li><a href="{{url_for('index')}}">Главная</a> </li>
        <li><a href="{{url_for('advice')}}">Полезные статьи о животных</a> </li>
        <li class="active" title="{{title}}">{{title | truncate(50)}}</li>
    </ol>
{%endblock%}

{% block content %}
<div class="container">

<div class="row">

<div class="advice-article col-md-8">

	{%block advice_content%}

	{%endblock%}

</div> <!-- advice -->

</div> <!-- /row -->
</div> <!-- container -->

{% endblock %}