{%- macro render_stars(attraction) -%}

	{%set percent = attraction or 0 %}
	{% set delay = '{"show": "0", "hide":"500"}' %}

	{%set help_url = url_for("help_attraction") %}

	{% set content = "<span style=''>Привлекательность объяв. &mdash; " + format('{0:.2f}', percent).rstrip('0').rstrip('.') + "%</span><br/><a class='small' href='" + help_url + "' target='_blank'>Как мы считаем привлекательность?</a>" %}

	
	
	<span class="attraction-stars" data-toggle="popover" data-content="{{content}}" data-html="true" data-delay='{{delay}}' data-trigger="hover" data-placement="top">
	{%for k in [1, 2, 3, 4, 5] %}
		{%if (percent > 0 and percent < 10 and k == 1) 
				or (percent >= 10 and percent < 40 and k <= 2 )
				or (percent >= 40 and percent < 70 and k <= 3 )
				or (percent >= 70 and percent < 90 and k <= 4 )
				or (percent >= 90 and percent <= 100 and k <= 5 ) %}
			<span class="fa fa-star attraction-star"></span>
		{%else%}

			<span class="fa fa-star attraction-no-star"></span>
		{%endif%}

	{%endfor%}
		{#<span style="" class="glyphicon glyphicon-question-sign attraction-help"></span>#}
	</span>

{%- endmacro -%}