{%- macro breadcrumbs(items) -%}

      <ol class="breadcrumb" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
      <li><a href="{{url_for('index')}}" itemprop="url" title="Главная"><i class="fa fa-home" itemprop="name"></i></a> </li>
      
      {%for item in items | selectattr("name") %}
        
        {% if loop.last %}
            <li class="active"><span itemprop="name">{{item.name}}</span> </li>
        {%else%}
            <li><a itemprop="url" href="{{item.url}}"><span itemprop="name">{{item.name}}</span></a> <span class="divider"></span></li>
            
        {%endif%}
        
      {%endfor%}

      </ol>


{%- endmacro -%}