{%- macro breadcrumbs(items) -%}

      <ol class="breadcrumb" >
      <li><a href="{{url_for('index')}}" title="Главная"><small class="fa fa-home fa-lg"></small></a> </li>
      
      {%for item in items | selectattr("name") %}
        
        {% if loop.last %}
            <li class="active"><span>{{item.name}}</span> </li>
        {%else%}
            <li><a href="{{item.url}}">{{item.name}}</a> <span class="divider"></span></li>
            
        {%endif%}
        
      {%endfor%}

      </ol>


{%- endmacro -%}