{% extends "layout.html" %}

{%block page_header%}

{%endblock%}


{% block content %}

<div class="contacts">


	
		<div style="margin-top:40px;width:600px; border-radius:20px" class="well well-info">
			<i class="fa fa-wrench fa-fw" style="display:block; float:left; margin-top:40px;font-size:6em;"></i>
			
			<div style="margin-left:140px">
			<h2 id="support">Техническая поддержка</h2>
			<p>
			Если у&nbsp;вас есть вопросы, пожелания, предложения или&nbsp;комментарии, но&nbsp;вы&nbsp;не&nbsp;знаете к&nbsp;кому из&nbsp;нас обратиться, то&nbsp;оправляйте их&nbsp;на&nbsp;адрес технической поддержки.
			</p>
			<p>
				<span>Email:</span>		
				<a href="mailto:support@povodochek.com">support@povodochek.com</a>
			</p>
			</div>
		</div>
	


	<h2 class="page-header">Основатели проекта</h2>

	<ul class="thumbnails list-unstyled row" style="margin-top:40px">
		  <li class="col-sm-4" style="margin-bottom:40px">
		     <div class="row">
		     		<div class="col-md-12">
		     			<img class="img-responsive" src="{{url_for('static', filename='img/egor.jpg')}}" alt="Егор">	
		     		</div>
		      		
			      <div class="caption col-md-12">
				      <h2>Егор</h2>
				      <p>Наш разработчик: flask, mongodb, bootstrap and so&nbsp;on, если вы&nbsp;понимаете...</p>
				      <p><span>Email:</span>
				      	<a href="mailto:egor@povodochek.com">egor@povodochek.com</a>
				      </p>
			      </div>
		    </div>
		  </li>
		  <li class="col-sm-4" style="margin-bottom:40px">
		    <div class="">
		      		<img class="img-responsive" src="{{url_for('static', filename='img/vika.jpg')}}" alt="Виктория">
			      <div class="caption">
				      <h2>Виктория</h2>
				      <p>Наш &laquo;креативный центр&raquo;&nbsp;&mdash; всегда ищет новое, обдумывает, создает и&nbsp;вдохновляет!</p>
				      <p><span>Email:</span>
				      	<a href="mailto:vika@povodochek.com">vika@povodochek.com</a>
				      </p>
			      </div>
		    </div>
		  </li>
		  <li class="col-sm-4" style="margin-bottom:40px">
		    <div class="">
		      		<img class="img-responsive" src="{{url_for('static', filename='img/polina.jpg')}}" alt="Полина">
			      <div class="caption">
				      <h2>Полина</h2>
				      <p>Наш персональный заводчик, грумер, хендлер&nbsp;&mdash; она знает о&nbsp;собаках все :-)</p>
				      <p><span>Email:</span>
				      	<a href="mailto:polina@povodochek.com">polina@povodochek.com</a>
				      </p>
			      </div>
		    </div>
		  </li>
	</ul>
	

</div> <!-- contacts -->

{% endblock %}