{% extends "layout.html" %}

{% block content %}

<div class="contacts">

	<h1 class="">{{title}}</h1>

	<ul class="thumbnails">
		  <li class="span4">
		     <div class="">
		      		<img src="{{url_for('static', filename='img/egor.jpg')}}" alt="Егор Попов">
			      <div class="caption">
				      <h2>Егор Попов</h2>
				      <p>Наш разработчик: flask, mongodb, bootstrap and so&nbsp;on, если вы&nbsp;понимаете о&nbsp;чем&nbsp;я...</p>
				      <p><span>Email:</span>
				      	<a href="mailto:egor@povodochek.com">egor@povodochek.com</a>
				      </p>
			      </div>
		    </div>
		  </li>
		  <li class="span4">
		    <div class="">
		      		<img src="{{url_for('static', filename='img/vika.jpg')}}" alt="Виктория Попова">
			      <div class="caption">
				      <h2>Виктория Попова</h2>
				      <p>Наш &laquo;креативный центр&raquo;&nbsp;&mdash; всегда ищет новое, обдумывает, создает и&nbsp;вдохновляет!</p>
				      <p><span>Email:</span>
				      	<a href="mailto:vika@povodochek.com">vika@povodochek.com</a>
				      </p>
			      </div>
		    </div>
		  </li>
		  <li class="span4">
		    <div class="">
		      		<img src="{{url_for('static', filename='img/polina.jpg')}}" alt="Полина Дуглас">
			      <div class="caption">
				      <h2>Полина Дуглас</h2>
				      <p>Наш персональный заводчик, грумер, хендлер&nbsp;&mdash; она знает о&nbsp;собаках все :-)</p>
				      <p><span>Email:</span>
				      	<a href="mailto:polina@povodochek.com">polina@povodochek.com</a>
				      </p>
			      </div>
		    </div>
		  </li>
	</ul>

	<p>
		Если у&nbsp;вас есть вопросы, пожелания, предложения, комментарии, но&nbsp;вы&nbsp;не&nbsp;знаете к&nbsp;кому из&nbsp;нас обратиться, то&nbsp;оправляйте их&nbsp;по&nbsp;адресу <a href="mailto:support@povodochek.com">support@povodochek.com</a> 
	</p>

</div> <!-- contacts -->

{% endblock %}