{%- macro render_flahed_messages(category) -%}
 {% with messages = get_flashed_messages(category_filter=[category]) %}
{% if messages %}
<div class="well well-small flashed-messages flashed-messages-{{category}}">
  <button type="button" class="close" data-dismiss="alert">&times;</button> 
    {% for message in messages %}
    <b class="flashed-message">{{ message }}</b>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{%- endmacro -%}

{{render_flahed_messages("warning")}}

{{render_flahed_messages("error")}}

{{render_flahed_messages("success")}}

{{render_flahed_messages("info")}}

