
<div id="footer" class="footer">
<div class="container">
        <div class="row">
             <div class="col-sm-3 col-md-2">
              <p><a href="{{url_for('contacts')}}">Контакты</a></p>
              <p>
              <a href="{{url_for('tos')}}">Пользовательское соглашение</a></p> 
              <p>
              <a href="{{url_for('help')}}">Справка</a></p> 
            </div>
            <div class="col-sm-3 col-md-2">
              <p>
                  <a href="{{url_for('dog_advs_by_cities')}}">Собаки по городам</a>
              </p>
              <p>
                  <a href="{{url_for('dog_advs_by_regions')}}">Собаки по областям</a>
              </p>
              
            </div>
            <div class="col-sm-3 col-md-2">
              <p>
                  <a href="{{url_for('cat_advs_by_cities')}}">Кошки по городам</a>                
              </p>
              <p>
                  <a href="{{url_for('cat_advs_by_regions')}}">Кошки по областям</a>                
              </p>
            </div>
            <div class="col-sm-3 col-md-6 text-right">
                <a class="f-vk-logo text-muted" title="Следите за нами в Вконтакте" target="_blank" href="http://vk.com/povodochek_com"><i class="fa-vk fa fa-2x"></i></a>
                <a class="f-fb-logo text-muted" title="Следите за нами в Facebook" style="margin-left:10px" target="_blank" href="https://www.facebook.com/povodochek"><i class="fa-facebook fa fa-2x"></i></a>
    
            </div>
            
        </div>


         <div class="copyright">
          <p>&copy;&nbsp;2013–2014&nbsp;&nbsp;ООО «Поводочек»</p>
          <span>
          Поддержка: <a href="mailto:support@povodochek.com">support@povodochek.com</a></span>
        </div>

      </div>
  </div>