<div id="footer" class="footer">
      <div class="container">
        <div class="row-fluid">
            <div class="span2 ">
<a href="{{url_for('tos')}}">Пользовательское соглашение</a>
            </div>
            <div class="span2 contacts">
<a href="{{url_for('kontakty')}}">Контакты</a>
              </div>
            {#<div class="span2 company">
<a href="">О компании</a>
            </div>#}
            <div class="span2">
<a href="{{url_for('advice')}}">Полезное</a>
            </div>
            <div class="span2">
<a href="{{url_for('sale_dogs')}}">Продажа собак</a>
            </div>
            <div class="span2">
<a href="{{url_for('sale_cats')}}">Продажа кошек</a>
            </div>
            <div class="span2 ">
<a href="{{url_for('account')}}">Кабинет</a>
            </div>
        </div>

         <div class="copyright text-center">
          &copy;&nbsp;2013&nbsp;Поводочек: продажа породистых собак и&nbsp;кошек. Собаки и&nbsp;щенки на&nbsp;продажу. Кошки и&nbsp;котята на&nbsp;продажу. Купить собаку или кошку.
        </div>
      </div>
  </div>