{%- macro form_field_attraction(id = '', title = 'Влияет на привлекательность объявления', class="") -%}
  <i {{('id=' ~ id) if id else ''}} title="{{title}}" class=" fa fa-star attraction-field {{class}}" ></i>
{%- endmacro -%}

{%- macro form_field_required() -%}
<i title="Обязательное поле" class="fa fa-asterisk small required-field" style=""></i>
{%- endmacro -%}

{%- macro form_field_label(field) -%}
	{%if field.label.text %}
    <div class="list-inline {{kwargs.get('lbl_class')}}" style="{{kwargs.get('lbl_style')}}; margin-bottom:5px">
      <span style="display:inline">
        <label for="{{ field.id }}" style="display:inline" class="form-field-name">{{ field.label.text }}   
        </label> 
      </span>
       {%- if field.flags.required -%}
        <span>{{form_field_required()}}</span>&nbsp;
      {%- endif %}
       {%- if field.attrs and field.attrs.attraction -%}
        <span>{{form_field_attraction()}}</span>&nbsp;
    {%- endif %}
    </div>
    
    
    
   
    
    {%endif%}
{%- endmacro -%}

 
{%- macro form_field_description(field) -%}
    {% if field.description %}
        <div class="form-field-desc small text-left">{{field.description.msg if field.description is mapping else field.description }}</div>
    {% endif %}
{%- endmacro -%}
 
{%- macro form_field_error(field) -%}
  <ul class="form-field-errors list-unstyled small">
    {% if field.errors %}      
        {%- for error in field.errors -%}
            <li class="form-field-error">{{ error }}
            </li>
        {%- endfor -%}
    {% endif %}
  </ul>
{%- endmacro -%}

{%- macro form_field_help(field) -%}
 
  <span style="" class="form-field-help" data-toggle="popover" data-content="{{kwargs.get('help')}}" data-html="html" data-placement="{{ kwargs.get('help_placement') or 'top' }}" data-trigger="hover"><i class="fa fa-info fa-lg"></i></span>
 
{%- endmacro -%}

 
{%- macro form_field_boolean(field) -%}

      <label class="">
        {{ field(**kwargs) }} {{ field.label.text }}
      </label>
        {%- if field.attrs and field.attrs.attraction -%}
        &nbsp;{{form_field_attraction()}}
        {%-endif-%}
        
         {% if kwargs.get('help') %}
        <span style="padding-left:10px">
        {{ form_field_help(field, **kwargs) }}
        </span>
        {% endif %}

        {{ form_field_description(field) }}
        {{ form_field_error(field) }}

{%- endmacro -%}
 
{%- macro action_buttons(submit_title, cancel_href, cancel_title="Отменить", submit_class="success") -%}
<div class="actions">
  <input type="submit" class="btn btn-{{submit_class}}" value="{{submit_title}}" />
  &nbsp;
  <a class="btn" href="{{cancel_href}}" >{{cancel_title}}</a>
</div>
{%- endmacro -%}

 
{%- macro form_field(field) -%}
  <div id="{{field.id}}_field" class="{{'checkbox' if field.type in ['PBooleanField', 'BooleanField'] else 'form-group'}} form-field {{'has-error' if field.errors else ''}}">
    {% if field.type in ['PHiddenField', 'PHiddenFiled'] %}
        {{ field() }}
    {% else %}
        {% if field.type in ['BooleanField', 'PBooleanField'] %}
            {{ form_field_boolean(field, **kwargs) }}
        {% else %}
            {{form_another_field(field, **kwargs)}}
        {% endif %}
    {% endif %}
  </div>
{%- endmacro -%}



{%- macro form_another_field(field) -%}

    {% set horizontal = kwargs.get("horizontal") %}
    {% set leftside_class = horizontal.get("l") if horizontal %}
    {% set rightside_class = horizontal.get("r") if horizontal %}

    {%if horizontal %}
      <div class="row">
          <div class="{{leftside_class}}">
    {%endif%}
            {{ form_field_label(field, **kwargs) }}  
    {%if horizontal %}
          </div>
          <div class="{{rightside_class}}">
    {%endif%}
            
            {% if field.type == 'PRadioField' %}
                {{ field(class='radio-group list-unstyled',  **kwargs) }}
            {% else %}
              {% if 'size' in kwargs %}
                      <div class="row">
                        <div class="{{kwargs.get('size')}}">
              {% endif %}  
            <table style="width:100%"> <tbody><tr>
                  
                  <td>

                    {% set addon_r = kwargs.get('addon_right')%}
                    {% set addon_l = kwargs.get('addon_left')%}

                    {% set btn_r = kwargs.get('btn_right')%}
                    {% set btn_l = kwargs.get('btn_left')%}


                    {% if addon_r or addon_l or btn_r or btn_l %}
                    <div class="input-group {{kwargs.get('group_class')}}">
                    {% endif %}

                    {% if addon_l %}
                        <span class="input-group-addon">{{addon_l}}</span>
                    {% endif %}


                    {% if btn_l %}
                        <span class="input-group-btn">{{btn_l}}</span>
                    {% endif %}

                    {{ field(class='form-control', **kwargs) }}   
                    
                    {% if addon_r %}
                      <span class="input-group-addon">{{addon_r}}</span>
                    {%endif%}

                    {% if btn_r %}
                      <span class="input-group-btn">{{btn_r}}</span>
                    {%endif%}

                    {% if btn_r or btn_l or addon_r or addon_l %}

                    </div>
                    
                    {%endif%}

                  </td> 
            {% if kwargs.get('help') %}
            <td style="width:10px" class=""></td>
            <td style="width:20px;" class="">{{ form_field_help(field,  **kwargs) }}</td>
            {%endif%}
          </tr></tbody></table>
          {% if 'size' in kwargs %}
              </div>
                    </div> 
          {%endif%}
            {% endif %}
            {{ form_field_description(field) }}
            {{ form_field_error(field) }}          

    {%if horizontal %}
          </div>
      </div>

    {%endif%}
           
{%- endmacro -%}
 
{%- macro form_fields(fields, class=None, legend=None) -%}
  <fieldset {% if class %}class="{{class}}"{% endif %}>
    {% if legend %}
      <legend>{{legend}}</legend>
    {% endif %}
    {% for field in fields %}
        {% if field.type == 'HiddenField' %}
            {{ field() }}
        {% else %}
            {{ form_field(field) }}
        {% endif %}
    {% endfor %}
  </fieldset>
{%- endmacro -%}