{%- macro form_field_label(field) -%}
    <label for="{{ field.id }}" class="form-field-name"><strong>{{ field.label.text }}</strong>
    {%- if field.flags.required -%}
        <!-- <abbr title="Обязательное поле">*</abbr> -->
          <sub class="required">*</sub>
    {%- endif %}</label>
{%- endmacro -%}
 
{%- macro form_field_description(field) -%}
    {% if field.description %}
        <span class="form-field-desc help-block">{{ field.description }}</span>
    {% endif %}
{%- endmacro -%}
 
{%- macro form_field_errors(field) -%}
  <ul class="form-field-errors">
    {% if field.errors %}      
        {%- for error in field.errors -%}
            <li class="form-field-error">{{ error }}
            </li>
        {%- endfor -%}
    {% endif %}
  </ul>
{%- endmacro -%}
 
{%- macro form_field_boolean(field) -%}
  <div class="controls">
    <label class="checkbox">
      {{ field(**kwargs) }}
      <span>{{ field.label.text }}</span>
      {{ form_field_description(field) }}
      {{ form_field_errors(field) }}
    </label>
  </div>
{%- endmacro -%}
 
{%- macro action_buttons(submit_title, cancel_href, cancel_title="Отменить", submit_class="success") -%}
<div class="actions">
  <input type="submit" class="btn btn-{{submit_class}}" value="{{submit_title}}">
  &nbsp;
  <a class="btn" href="{{cancel_href}}" >{{cancel_title}}</a>
</div>
{%- endmacro -%}

 
{%- macro form_field(field) -%}
  <div id="{{field.id}}_field" class="control-group form-field clearfix {{'error' if field.errors else ''}}">
    {% if field.type == 'HiddenField' %}
        {{ field() }}
    {% else %}
        {% if field.type == 'BooleanField' %}
            {{ form_field_boolean(field, **kwargs) }}
        {% else %}
            {{ form_field_label(field) }}
            {{ form_field_errors(field) }}
          <div class="controls">
            {% if field.type == 'RadioField' %}
                {{ field(class='radio-group', **kwargs) }}
            {% else %}
                {{ field(**kwargs) }}
            {% endif %}
            {{ form_field_description(field) }}
          </div>
        {% endif %}
    {% endif %}
  </div>
{%- endmacro -%}
 
{%- macro form_fields(fields, class=None, legend=None) -%}
  <fieldset {% if class %}class="{{class}}"{% endif %}>
    {% if legend %}
      <legend>{{legend}}</legend>
    {% endif %}
    {% for field in fields %}
        {% if field.type == 'HiddenField' %}
            {{ field() }}
        {% else %}
            {{ form_field(field) }}
        {% endif %}
    {% endfor %}
  </fieldset>
{%- endmacro -%}