<div id="menu">
        <!-- <h4 class="muted">Поводочек</h4> -->
        <div class="navbar navbar-static-top navbar">
          <div class="navbar-inner">
            <div class="container">

              <!-- <brand> -->

              {% set brand_tag = 'span' if request.path == url_for('index') else 'a' %}
              <{{brand_tag}} title="Портал о продаже породистых собак и кошек" class="brand" href="{{url_for('index')}}">Поводочек&nbsp;<sub style="font-family: Arial black; color: red; font-size:10px">beta</sub></{{brand_tag}}>

            <!-- </brand> -->

             <a class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

          <ul class="nav pull-right">  <!-- current.user -->
              {%if current_user.is_signed() %}
                <li class="dropdown {{'active' if url_for('account') in request.path}}">
                  <a title="{{current_user.username}}" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><span class="hidden-phone">&nbsp;{{current_user.username | truncate(length=12, killwords = False)}}&nbsp;</span><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{url_for('account_sale')}}">Объявления</a></li>
                    <li><a href="{{url_for('account_contact')}}">Профиль</a></li>
                    <li class="divider"></li>
                    <li><a href="{{url_for('signout', url = request.url)}}">Выйти</a></li>
                  </ul>
                </li>

                {%else%}
                  <!-- anonymous -->
                  <li class="{{'active' if url_for('signup') in request.path }}">
                     <a href="{{url_for('signup')}}" class="hidden-phone signup">Регистрация</a>
                   </li>
                   <li class="divider-vertical hidden-phone"></li>
                   <li class="{{'active' if url_for('signin') in request.path  }}">
                       <a class="signin" href="{{url_for('signin')}}">Вход</a>
                  </li>
                {%endif%}
           
          </ul> <!-- current.user -->
       
           

           <div class="nav-collapse collapse">

           <ul class="nav">

               <li class="{{'active' if url_for('sale_dogs') in request.path else ''}}"><a href="{{url_for('sale_dogs')}}"  title="Объявления о продаже собак/щенков">Собаки</a></li>
               <li class="{{'active' if url_for('sale_cats') in request.path else ''}}"><a href="{{url_for('sale_cats')}}"  title="Объявления о продаже кошек/котят">Кошки</a></li>
               <li class=" {{'active' if url_for('advice') == request.path else ''}}"><a href="{{url_for('advice')}}"  title="Полезные советы и статьи о кошках, собаках и других животных">Полезное</a></li>
            </ul>

          </div> <!-- nav-collapse -->

        </div> <!-- container -->



        </div> <!-- navbar-inner -->
      </div><!-- navbar -->
    </div> <!-- #menu -->