<div id="header" style="">
  
   <div class="container"> 

    <div style="padding:25px 0px 15px 3px">
      <ul class="list-inline">
        <li class="header-logo" style="vertical-align:bottom">
            {%if url_for('index') != request.path %}
            <a href="{{url_for('index')}}" class="img-brand">
            </a>
            {%else%}
              <span href="{{url_for('index')}}" class="img-brand"></span>
            {%endif%}
        </li>
        <li style="" class="header-tagline">
          <span class="text-semi-muted">Продажа и покупка породистых собак и кошек</span>
        </li>
        <li class="header-post-adv pull-right">
          {% include "pet_post_button.html"%}   
        </li>
      </ul>
    </div>  

    {% include "menu.html" %}

    </div>

  </div>
