{% extends "layout.html" %}

{% block meta %}
	<meta name="description" content="Мы - это продажа и покупка породистых собак и кошек по всей России!" />
{% endblock %}

{%block breadcrumbs %}
	
{%endblock%}

{%  block content %}


	<div class="index">
			

			{%include "index/pet_search.html" %}		
			

			<div class="container">	

			<div class="row">
				<div class="col-sm-12">
					{%include "index/pet_top_breeds.html" %}		
				</div>
			</div>

			</div>
			

	</div>

		


{%  endblock %}