{% extends "layout.html" %}

{%  block content %}

<div class="index5">


	{%if not current_user.is_signed() %}

	<h1 class="text-center {#tagline#} hidden-phone">Поводочек&nbsp;&mdash; портал о&nbsp;продаже породистых собак и&nbsp;кошек</h1>

	{% endif %}

	<div class="row-fluid">
		<div class="span9">
			{%include "index5/pet_search.html" %}
			
			<div class="hidden-phone">
				{%include "index5/pet_mosaic.html" %}
			</div>

		</div>
	
		<div class="span3">
			{%include "index5/pet_post.html" %}

			{%include "index5/pet_by_cities.html" %}			
		</div>
	
	</div>	


</div> <!-- index -->

{%  endblock %}