{% extends "layout.html" %}

{%  block content %}

{#<h1 class="tagline">Поводочек<span style="font-family:Arial">&nbsp;&mdash;</span> портал о продаже породистых собак и кошек!</h1>#}

       {#<h1 class="tagline">Продажа породистых собак и кошек на Поводочке</h1>#}

      <div class="index">

      {%include "index2/pet_latest_2.html"%}


      <div class="row-fluid">

        <div class="span4">
          {%include "index2/pet_search_2.html"%}
        </div>

      </div>

    

    

        <div class="row-fluid" style="margin-top:20px">


          <div class="span4">

            

    </div><!--/span left-->



    <!-- center -->
    <div class="span5 hidden-phone">

    </div> <!-- span center -->



    <!-- right side -->
    <div class="span3">
      {#<div class="pet-add alert">

      <h3 class="pa-title">Ваше объявление</h3>
      <div class="pa-boby">
        <p class="">Разместите объявление о продаже своего питомца, и он найдет новые дом и семью еще быстрее!</p>
        <p class="text-right">#}
          <a class="btn btn-warning">Разместить объявление</a>
          {#</p>
        </div>
      </div> <!-- pet-add --> #}


      <div class="news">
        <h4>Новости</h4>
      </div>

      <div class="events">
        <h4>События</h4>
      </div>

    </div>  <!-- span right side -->

  </div><!--/row-fluid-->

</div> <!-- index -->

  {%  endblock %}