{% extends "layout.html" %}

{%  block content %}

<div class="index5">



	<h1 class="text-center {#tagline#}"><span class="logo" style="">Поводочек</span>&nbsp;&mdash; портал о продаже породистых собак и кошек</h1>

	<div class="row-fluid">
		<div class="span9">
			{%include "index5/pet_search.html" %}
			
			<div class="hidden-phone">
				{%include "index5/pet_mosaic.html" %}
			</div>

		</div>
	
	<div class="span3">
		{%include "index5/pet_post.html" %}
	</div>
	

	</div>	


</div> <!-- index -->

{%  endblock %}