{% extends "layout.html" %}

{% block meta %}
	<meta name="description" content="Мы - это продажа и покупка породистых собак и кошек, щенков и котят в России!" />
{% endblock %}

{%block breadcrumbs %}	
	 
{%endblock%}

{%  block content %}


	<div class="index">
			
			<div class="row">	

			{% from "index/pet_top_breeds_1.html" import top_breeds %}

			<div class="col-sm-2">
				{{ top_breeds(top_dogs, pet_id = 1)}}
			</div>

			<div class="col-sm-8">
				{%include "index/pet_search.html" %}	


				{% include "index/pet_mosaic_2.html" %}	
			</div>

			<div class="col-sm-2">
				{{ top_breeds(top_cats, pet_id = 2)}}
			</div>

			{#<div class="col-md-4">
					{%include "index/pet_top_breeds_1.html" %}
			</div>#}
			</div>

			<div class="row">
				<div class="col-md-12">
					
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
							
				</div>
			</div>

			
			

	</div>

		


{%  endblock %}