{% extends "layout.html" %}

{%  block content %}

<div class="index">


	{%if not current_user.is_signed() %}

	{% endif %}

	<div class="row">
		<div class="col-md-9">
			{%include "index/pet_search.html" %}
			
			<div class="hidden-xs">
				{%include "index/pet_mosaic.html" %}
			</div>

		</div>
	
		<div class="col-md-3">
			{%include "index/pet_post.html" %}

			{%include "index/pet_top_breeds.html" %}			
		</div>
	
	</div>	


</div> <!-- index -->

{%  endblock %}