 {% extends "layout_base.html" %}

{% block layout %}
<div class="container" style="margin-bottom:30px">

  <div title="Продажа и покупка породистых собак и кошек, щенков и котят" class="text-right" style="margin-top:10px;font-family: 'Russo One','Arial Black',sans-serif;font-size: 22px;color: #777;" >Поводочек</div>

  <h1 class="" >{{header or title}}</h1>
  {% block page_desc %}

  {% endblock %}

  <br/>
  
  {% block content %}

  {% endblock %}

</div> <!-- container -->

{%endblock%}

