<!DOCTYPE html>
<html lang="ru">
<head>
  {%block head %}

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <title>{% block title %}{{title}} на Поводочке{% endblock%}</title>
  <meta name="title" content="{{title}} на Поводочке">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='select2/select2.css')}}" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='select2/select2-bootstrap.css')}}">

  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nouislider.fox.css')}}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rur-arial.css')}}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flexslider.css')}}">

  {#<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/colorbox.css')}}">#}


  <!-- LESS -->
  <link href="{{ url_for('static', filename='css/povodochek.less')}}" rel="stylesheet/less">
  <script src="{{ url_for('static', filename='js/less.js')}}"></script>


  <!-- JS -->

  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}


  {% endblock %}

</head>
<body>
  
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>



  {% block layout %}
  
  {% endblock%}

  {%include "metrika.html"%}

  {%include "analytics.html"%}
  
</body>
</html>
