<!DOCTYPE html>
<html lang="ru">
<head>
  

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <title>{% block title %}{{title}} на Поводочке{% endblock%}</title>
  <meta name="title" content="{{title}} на Поводочке">
  <meta name="viewport" content="width=850">
  <!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;"> -->
   <!--  <meta name="viewport" content="width=600;"> -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='yandex-verification' content='45957cc740a614a9' />
  <meta name="verify-reformal" content="2e5663190c8682fd9d30fd0f" />
  <meta name="google-site-verification" content="UfiFESe1umA3ZSpA43UiukQhta5MF7F4qDY0PHIvyUA" />
  <meta name="keywords" content="продажа щенков продажа собак куплю щенка купить щенка продам щенка сколько стоит щенок продажа кошек продажа котят куплю кошку куплю котенка купить кошку продам котенка сколько стоит котенок" />
  {%block head %}

  {% endblock %}

<!-- CSS -->
  {% assets "css_all" %}
  <link rel="stylesheet" type="text/css" href="{{ASSET_URL}}">
  {% endassets %}

    <!-- JS -->
  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

</head>
<body>
  
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>



  {% block layout %}
  
  {% endblock%}


  {%include "metrika.html"%}

  {%include "analytics.html"%}

  <script type="text/javascript">
  $(document).ready(function(){
    $("[data-toggle='popover']").popover();
    $("[data-toggle='tooltip']").tooltip();
  });
  </script>
  
</body>
</html>
