<!DOCTYPE html>
<html>
<head>
  {%block head %}
  <title>{% block title %}{% endblock%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <style>
      body { padding-top: 20px;
            padding-bottom: 60px; }
      #wrap > .container {
        /*padding-top: 60px;*/
      }
  </style>
  <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet">
  <!-- LESS -->
  <link href="{{ url_for('static', filename='css/custom.less')}}" rel="stylesheet/less">
  <script src="{{ url_for('static', filename='js/less.js')}}"></script>
  {% endblock %}
</head>
<body>
  
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <!-- SCRIPTS -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

   <div id="wrap">

  <div class="container">
    <!-- header -->
    {% include "header.html" %}


    <div class="row-fluid">
        <div class="span8">
          {% block main %}
          {% endblock %}
        </div><!--/span-->


        <div class="span4">
          {% block sidebar %}
          {% endblock %}
        </div><!--/span-->

      </div><!--/row-->
</div>
 
 <div id="push"></div>

  </div>
 <div id="footer">
      <div class="container">
        <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>

</body>
</html>
