<!DOCTYPE html>
<html>
<head>
  {%block head %}
  <title>{% block title %}{% endblock%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet" media="screen">
  <!-- LESS -->
  <link href="{{ url_for('static', filename='css/custom.less')}}" rel="stylesheet/less" media="screen">
  <script src="{{ url_for('static', filename='js/less.js')}}"></script>
  {% endblock %}
</head>
<body>
 <script type=text/javascript>
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 </script>
 <!-- SCRIPTS -->
 <script src="http://code.jquery.com/jquery.js"></script>
 <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

 <div class="container">
  <div class="masthead">    
    <h3 class="muted">Povodochek.com</h3>
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#">Главная</a>
      </li>
      <li><a href="#">Найти своего питомца</a></li>
      <li><a href="#">Объявления</a></li>
    </ul> 
  </div>

  <div class="pet-search-block">
       <div class="control-group" class="pet-location">
    <label class="control-label" for="petLocation">Местоположение</label>
    <div class="controls">
      <input type="text" id="petLocation" placeholder="Санкт-Петербург">
    </div>
  </div>
  <div class="control-group" class="pet-type">
    <label class="control-label" for="petType">Тип животного</label>
    <div class="controls">
      <input type="text" id="petType" placeholder="Собаки">
    </div>
  </div>
  <div class="control-group" class="pet-breed">
    <label class="control-label" for="petBreed">Порода</label>
    <div class="controls">
      <input type="text" id="petBreed" placeholder="Померанский шпиц">
    </div>
  </div>
  <div class="control-group" class="pet-age">
    <label class="control-label" for="petAge">Возраст</label>
    <div class="controls">
      <input type="text" id="petAge" placeholder="Малыш">
    </div>
  </div>
  <div class="control-group" class="pet-gender">
    <label class="control-label" for="petGender">Пол</label>
    <div class="controls">
      <input type="text" id="petGender" placeholder="Мальчик">
    </div>
  </div>

  <button type="button" class="btn btn-primary" id="petFind">Найти</button>

  </div>
  <div  style="clear:both;">
  {% block container %}

  {% endblock %} <!-- container -->

  <div class="footer">
    <p>© company 2013</p>
  </div>

</div>
</body>
</html>
