<!DOCTYPE html>
<html lang="ru">
<head>
  {%block head %}

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <title>{% block title %}{{title}} на Поводочке{% endblock%}</title>
  <meta name="title" content="{{title}} на Поводочке">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='yandex-verification' content='45957cc740a614a9' />
  <meta name="verify-reformal" content="c64205bd20f9b54f62110816" />


<!-- CSS -->
  {% assets "css_all" %}
  <link rel="stylesheet" type="text/css" href="{{ASSET_URL}}">
  {% endassets %}

    <!-- JS -->
  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}


  {% endblock %}

</head>
<body>
  
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>



  {% block layout %}
  
  {% endblock%}


  {%include "metrika.html"%}

  {%include "analytics.html"%}
  
</body>
</html>
