 {% extends "layout_base.html" %}

{% block layout %}
<div class="container layout-popup">

  <div title="Продажа и покупка породистых собак и кошек!" class="text-left" style="margin:25px 0px" >
  <a target="_self" href="{{url_for('index')}}" class="img-brand" style="margin-left:3px"></a>
  </div>


  {%block header %}

  <h1 class="">{{header or title}}</h1>

  {%endblock%}

  {% block page_desc %}

  {% endblock %}

  <br/>
  
  {% block content %}

  {% endblock %}

</div> <!-- container -->

{%endblock%}

