{% extends "layout_base.html" %}

{%block layout %}

  {% include "header.html" %}

  <div id="wrap" class="container">

    {% block breadcrumbs %}
      {% from "breadcrumbs.html" import breadcrumbs %}
      {{breadcrumbs( [{'name':title}] ) }}
    {% endblock %}   

  
    {% include "flashed_messages.html" %}

    {%block page_header %}
    <h1 class="page-header">{{header or title}}</h1>
    {%endblock%}

    {% block content %}
    {% endblock %}


  <div id="push">&nbsp;</div>


</div> <!-- wrap -->

{% include "footer.html"%}

{#%include "reformal.html"%#}

{%endblock%}




