 {% extends "layout_base.html" %}

{% block layout %}
  <div class="container">


  <h1 class="page-header">{{title}}</h1>

    <div id="send_mail" class="send-mail">

    	{% from "forms.html" import form_field_boolean, form_field, action_buttons %}

      <form id="contact" method="post" role="form"  action="{{request.url}}">
          

            {{form_field(form.message,  size="col-md-7", rows=5) }}

            {#{%if seller.get("phone_adv_sms") %}
              {{form_field(form.sms_alert) }}
            {%endif%}#}

            {{form_field(form.username,  size="col-xs-5") }}
            {{form_field(form.email,  size="col-xs-5") }}
       
                           
          <button class="btn btn-primary" type="submit">Отправить</button>
          <a href="#" class="btn" aria-hidden="true" data-dismiss="modal" onclick="window.close();">Закрыть</a>

        </form>
      </div> <!-- send-mail -->



    </div> <!-- container -->


{% endblock %}

