{% extends "layout.html" %}

{% block head %}
	<meta name="description" content="Мы — это продажа и покупка породистых собак и кошек по всей России!" />
	<meta name="keywords" content="продажа щенков продажа собак куплю щенка купить щенка продам щенка сколько стоит щенок продажа кошек продажа котят куплю кошку куплю котенка купить кошку продам котенка сколько стоит котенок" />
{% endblock %}

{%block breadcrumbs %}	
	 
{%endblock%}

{%  block content %}

	<div class="main">

		<div style="margin-top:20px;">
				{% include "main/search.html" %}		
		
		</div>

		<div class="" style="margin-top:65px; padding-right:10px;">
				

		{% from "main/fresh.html" import render_fresh_advs %}
			{{ render_fresh_advs() }}

		</div>
		
		<div class="" style="float:left">
			<div class="" style="margin-top:65px; padding-right:50px; width:250px; float:left">
				
				{% from "main/news_feed.html" import render_news_feed %}

				{{ render_news_feed() }}

			</div>

			<div class="" style="margin-top:60px;margin-left:250px;">
			

			<div style="" class="">
				{% from "main/popular.html" import render_popular %}

				{{ render_popular()  }}
			</div>

			</div>	

		</div>

		<div class="clearfix"></div>

	</div>





{%  endblock %}