{% extends "layout.html" %}

{% block head %}
	<meta name="description" content="Мы — это продажа и покупка породистых собак и кошек по всей России!" />
	<meta name="keywords" content="продажа щенков продажа собак куплю щенка купить щенка продам щенка сколько стоит щенок продажа кошек продажа котят куплю кошку куплю котенка купить кошку продам котенка сколько стоит котенок" />
{% endblock %}

{%block breadcrumbs %}
	 
{%endblock%}

{%  block content %}

	<div class="main" style="margin-top:20px">

		<div style="float:left;width:200px">
			{% from "main/news.html" import render_news_feed %}
			{{ render_news_feed() }}
		</div>

		<div style="margin-left:220px;">
			{% include "main/search.html" %}

			<div class="" style="margin-top:65px;">

			{% from "main/fresh.html" import render_fresh_advs %}
				{{ render_fresh_advs() }}

			</div>

			<div style="" class="">
				{% from "main/popular.html" import render_popular %}

				{{ render_popular()  }}
			</div>
			
		</div>


		<div class="clearfix"></div>

	</div>





{%  endblock %}