
<div class="navbar navbar-default " role="navigation" id="menu">

  <!-- Brand and toggle get grouped for better mobile display -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
      <li class="{{'active' if url_for('index') == request.path else ''}}"><a href="{{url_for('index')}}" class="menu-breed-selector" title="Поводочек – подбор породы">&nbsp;<i class="fa fa-home"></i>&nbsp;</a></li>
      <li class="menu-item-divider"></li>
       <li class="{{'active' if url_for('dog_search') in request.path else ''}}"><a href="{{url_for('dog_search')}}"  title="Объявления о продаже собак/щенков">Продажа собак</a></li>
       <li class="menu-item-divider"></li>
       <li class="{{'active' if url_for('cat_search') in request.path else ''}}"><a href="{{url_for('cat_search')}}"  title="Объявления о продаже кошек/котят">Продажа кошек</a></li>
       <li class="menu-item-divider"></li>
       <li class=" {{'active' if url_for('advice') in request.path else ''}}"><a href="{{url_for('advice')}}"  title="Полезные советы и статьи о кошках, собаках и других животных">Полезное</a></li>
       
       {#<li class=" {{'active' if url_for('help') in request.path else ''}}"><a href="{{url_for('help')}}"  title="Справочная информация о сайте Поводочек">Справка</a></li>#}
      
    </ul>

    <ul class="nav navbar-nav navbar-right">  
      

    <!-- current.user -->
      {%if current_user.is_authenticated() %}

        <li class="dropdown {{'active' if url_for('account') in request.path}}">
          <a title="{{current_user.username}}" style="cursor:pointer" user_id="{{current_user.id}}" href="#" class="dropdown-toggle menu-account" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i><span class="">&emsp;Личный кабинет&ensp;</span><b class="caret"></b></a>
          <ul class="dropdown-menu menu-account-list">
            <li><a class="text-right" href="{{url_for('account_dog_advs')}}"><span class="pull-left">Мои собаки</span><span title="Количество объявлений о продаже собак" class="badge">{{current_user.counters.dog_advs}}</span></a></li>
             <li><a class="text-right" href="{{url_for('account_cat_advs')}}"><span class="pull-left">Мои кошки</span><span title="Количество объявлений о продаже кошек" class="badge">{{current_user.counters.cat_advs}}</span></a></li>
             <li class="divider"></li>
            <li><a href="{{url_for('account_profile')}}">Профиль</a></li>
            <li><a href="{{url_for('account_change_password')}}">Смена пароля</a></li>
            <li><a href="{{url_for('account_change_email')}}">Смена эл. почты</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('signout', url = request.url)}}">Выйти</a></li>
          </ul>
        </li>

        {%else%}
          <!-- anonymous -->
          <li class="{{'active' if url_for('signup_basic') in request.path }}">
             <a href="{{url_for('signup_basic')}}" class="menu-signup">Регистрация</a>
           </li>
           <li class="menu-item-divider"></li>
           <li class="{{'active' if url_for('signin') in request.path  }}">
               <a class="menu-signin" href="{{url_for('signin')}}">Вход</a>
          </li>
        {%endif%}
         
        </ul> <!-- current.user -->

  
    </div>
 
</div>
