<div class="pet-post-button" style="">
		<a type="button" class="btn btn-default" style="" id="pet_post" href="{{'#myModal' if not current_user.is_signed() else url_for('account_sale_add') }}" {{'data-toggle=modal data-target=#myModal' if not current_user.is_signed()}}>Разместить&nbsp;объявление</a>
</div> <!-- pet-post -->


{% if not current_user.is_signed() %}	


<div class="modal fade" aria-hidden="true"  id="myModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Разместите свое объявление</h3>
      </div>
      <div class="modal-body">
         <p style="line-height:20px">Для того чтобы разместить свое объявление о продаже кошки или собаки, необходимо войти на сайт или зарегистрироваться.</p>
	    <a class="btn btn-link btn-lg" href="{{url_for('signin', next=url_for('account_sale_add') )}}">Войти</a> <span style="">или</span> <a class="btn btn-link btn-lg" href="{{url_for('signup_basic', next = url_for('account_sale_add'))}}">Зарегистрироваться</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{%endif%}



