{% extends "layout.html" %}

{% block content %}      

<h1>{{title}}</h1>


<div class="row-fluid">
    <div class="span12">
        <p class="">Восстановить забытый пароль невозможно, так как он хранится в зашифрованном виде, но его можно установить заново.<br> Укажите адрес своей электронной почты или логин, с которым вы регистрировались ранее, чтобы получить письмо с возможностью входа в личный кабинет.<br>В письме будет выслана ссылка для входа <abbr title="Никому не сообщайте полученную ссылку"><em>без пароля</em>.</p></abbr>
        {% from "forms.html" import form_field_boolean, form_field %}

        <form method="post" action="{{request.url}}">
            
            {{ form_field(form.email_or_login, placeholder="Email или Логин, указанный при регистрации", class="input-xlarge") }}
          <button class="btn btn-primary" type="submit" data-loading-text="Отправляется..." id="reset">Отправить</button>
      </form>
  </div>
</div>

<script type="text/javascript">

  //validation
    $(function(){

      povodochek.validate($("form"), {
          email_or_login : {required : true } 
       });
    });


    
</script>
{% endblock %} 