{% extends "layout.html" %}

{% block content %}      

<h1>{{title}}</h1>


<div class="row-fluid">
    <div class="span6">
        <p class="">Восстановить забытый пароль невозможно, потому что он хранится в зашифрованном виде, но его можно установить заново.<br> Укажите адрес своей электронной почты, с которым вы регистрировались ранее, чтобы получить письмо с возможностью входа в личный кабинет.<br>В письме будет выслана ссылка для входа без пароля.</p>
        {% from "forms.html" import form_field_boolean, form_field %}

        <form method="post" action="{{request.path}}">
            {{ form_field(form.email, placeholder="Email, указанный при регистрации", class="input-xlarge") }}
            
          <button class="btn btn-primary" type="submit" data-loading-text="Отправляется..." id="reset">Отправить</button>
      </form>
  </div>
</div>

<script type="text/javascript">

  //validation
    $(function(){

      povodochek.validate($("form"), {
          email : {required : true, email: true } 
       });
    });


    
</script>
{% endblock %} 