{% extends "layout.html" %}

{% block content %}  


<div class="sale-pet"> 

   <!-- крошки -->
    <div class="clearfix container" id="breadcrumbs">
          <ul class="breadcrumb hidden-phone" >
            <li><a href="{{url_for('index')}}">Главная</a> <span class="divider">/</span></li>
            <li><a href="{{url_for_sale(pet_id = adv.get('pet_id'))}}">Продажа {{adv.get('pet_id') | pet_name | morph_word(["plur", "gent"])  | lower }}</a> <span class="divider">/</span></li>
            <li><a href="{{url_for_sale(pet_id = adv.get('pet_id'), pet=adv.get('pet_id') | int, breed='{0}_{1}'.format(adv.get('pet_id') | int,  adv.get('breed_id') | int ) )}}">{{adv.get('breed_id') | breed_name(adv.get('pet_id')) }}</a> <span class="divider">/</span></li>
            <li class="active">{{adv.get("title")}}</li>
          </ul>
    </div> 


  <h1>{{header}}</h1>

  <div class="sale-pet-container row-fluid"> 

  {%if adv.get('photos') | length > 0%}

  <div class="left-side span6">    

    <div class="photos">

      {%if adv.get("photos") | length > 1%}

      <div id="carousel" class="flexslider hidden-phone">
        <ul class="slides">
          {%for photo in adv.get('photos') %}
          <li>
            <img src="{{url_for('thumbnail', filename = photo)}}" />
          </li>
          {%endfor%}
        </ul>
      </div>

      {%endif%}

    <p class="text-left"><small>Фотография <span id="currentPhotoNumber">1</span>&nbsp;из&nbsp;{{adv.get('photos') | length}}</small></p>

      <div id="slider" class="flexslider">
        <ul class="slides ">
          {%for photo in adv.get('photos') %}
          <li class="text-center photo">
             <img id="{{'main_photo' if loop.index == 1}}" src="{{url_for('photo', filename = photo)}}" />
          </li>
          {%endfor%}
        </ul>
      </div>

     

    </div> <!-- photos -->

  </div> <!-- left-side -->

  {%endif%}

  <div class="right-side {{'span6' if adv.get('photos') | length > 0 else 'span12'}}">

      <div class="sale-pet-price text-left" title="{{'{0:,}' | format(adv.get('price')) | replace(',', ' ') }} {{ 'рубль' | morph_word(count = adv.get('price') | int) }}">
        Цена&nbsp;<span class="price-number">{{adv.get('price') | format_price() }}</span>&nbsp;<span>{{ 'рубль' | morph_word(count = adv.get('price') | int) }}</span>
      </div> <!-- price -->
    
    <h2 class="adv-title">
      {{adv.get("title")}}
    </h2>

    <!-- description -->
    <p class="adv-desc">
    {% autoescape false %}
      {{adv.get('desc') | safe | replace("\r\n", "<br>") | replace("\r", "<br>") | replace("\n", "<br>") }}
    {% endautoescape %}
    </p>



    <div class="adv-info">
      <h4>Информация о {{adv.get("pet_id") | pet_name | morph_word(["sing", "loct"]) | lower}}</h4>

      <dl class='dl-horizontal'>

       {%set city = adv.get("city_id")%}
          {%if  city %}
          <dt class="">Местоположение</dt>
          <dd>{{ city | city_region}}</dd>
          {%endif%}

        <dt class="">Порода</dt>
        <dd>{{adv.get("breed_id") | breed_name(adv.get('pet_id'))}}</dd>

        {%if adv.get("gender_id") %}
         <dt class="">Пол</dt>
         <dd>{{adv.get("gender_id") | gender_name | title }}</dd>
        {%endif%}

        <dt class="">Цена</dt>
        <dd title='{{ "{0:,}".format(adv.get("price")) | replace(",", " ") }} рублей'>{{adv.get("price") | format_price }}&nbsp;<span class="rur">руб</span>

      </dl>
    </div> <!-- adv-info -->


    <h4>Контактная информация</h4>
    <div class="seller-block row-fluid">  
  
      <div class="span12">
        
        <dl class='dl-horizontal'>
          <dt class="">Продавец</dt>
          <dd>{{adv.get('username') or seller.get("username")}}</dd>

          {%set phone = adv.get("phone")%}

          {%if phone  %}
          <dt class="">Телефонный номер</dt>
          <dd>
              {{phone}}
             </dd>
          {%endif%}

          {% set skype = adv.get("skype") %}
           {%if skype %}
          <dt class="">Skype</dt>
          <dd>
              {{skype}}
             </dd>
          {% endif %}

        </dl>   
      </div>

      <div class="seller-contact text-left span12">
        <a class="btn btn-info" href="{{url_for('mail_sale', id = adv.get('_id'))}}" onclick="var w=window.open(this.href,'','width=800,height=700,scrollbars=yes');w.focus();return false;">Написать письмо</a>
      </div>

    </div>  <!-- contact-block -->

  </div> <!-- right-side -->

  </div> <!-- sale-pet-container -->  

</div> <!-- sale-pet -->

  <script type="text/javascript">
  $(window).load(function(){
    $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemMargin: 5,
      itemWidth: 100,
      asNavFor: '#slider'
    });

    $('#slider').flexslider({
      animation: 'fade',
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      sync: "#carousel",
      smoothHeight: true,
      animationSpeed : 400,
      touch: false, 
      after: function(slider){
        $("#currentPhotoNumber").html(slider.currentSlide+1);
      }
    });

    $("#slider .flex-prev").click(function(){
      var slider = $('#slider').data('flexslider');
      slider.flexslider("prev");
    });

    $("#slider .flex-next").click(function(){
      var slider = $('#slider').data('flexslider');
      slider.flexslider("next");
    });


  });
  </script>

  {% endblock %} 