{% extends "layout.html" %}

{% block content %}  

<div class="container pet-sale">

  <h1>{{header}}</h1>
  

  <div class="row pet-sale-grid">

    <!-- ===================== фильтр ====================== -->
    <div class="col-sm-4 col-md-3">

        {% include 'sale/filter.html' %}

    </div> <!-- filter -->

          <!-- ===================== результаты ========================= -->
          <div class="col-sm-8 col-md-9">
            {% include 'sale/advs.html'%}
          </div>
            

      </div>

</div> <!-- container -->








    {% endblock %} 