{% extends "layout.html" %}

{% block content %}  


{%if count > 0 %}

{#
<p class="muted">Найдено {{ advs | length }} {{"объявление" | morph_word(count = advs | length if advs else 0) }} о продаже {{pet | morph_word(["gent", "plur"]) }} {{ breed | morph_word(["gent"]) }}</p>
#}

{%endif%}

<div class="pet-sale">

  <table style="width:100%">
    <tr>
    <td><h1>{{header}}</h1></td>
    <td class="hidden-phone">
        <div class="pull-right">{%include "pet_post_button.html" %}</div>
    </td>
    </tr>
  </table>
      

<div class="row-fluid pet-sale-grid">

    <!-- ===================== фильтр ====================== -->
    <div class="span3 filter well well-small">

          {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form action="" method="get" class="">
                <legend>Фильтр</legend>

              <div style="display:none">
                  {{ form_field(form.pet,  class="input-medium") }}
              </div>

            {{ form_field(form.breed, class="input-medium") }}

            <div class="hidden-phone">
                {{ form_field(form.gender,  class="input-medium") }}
            </div>

            <div class="hidden-phone">
              {{ form_field(form.age,  class="input-medium") }}
            </div>

            {{ form_field(form.city, placeholder="Город", class="span12") }}

            <!-- distance -->
            <div class="row-fluid filter-distance hidden-phone">
              <div class="span12">
                {{ form_field(form.distance, style="display:none") }}
                <p class="text-center slider-legend"><small class="pull-left">1</small> <span id="distanceValue">{{form.distance.data}}</span> <small class="pull-right">500</small></p>
              <div id="disatnceSlider" class="noUiSlider horizontal"></div>
            </div>
          </div>

          <!-- price -->
           <div class="row-fluid filter-price hidden-phone">
              <div class="span12">
                {{ form_field(form.price_from, style="display:none") }}
                <div style="display:none">
                  {{ form_field(form.price_to, style="display:none") }}
                </div>
                <p class="text-center slider-legend"><small class="pull-left">0</small> <span id="priceValue">{{form.distance.data}}</span> <small class="pull-right">100+</small></p>
              <div id="priceSlider" class="noUiSlider horizontal"></div>
            </div>
          </div>

            <div class="clearfix filter-misc hidden-phone" >
              <strong>Дополнительно</strong>
              {{ form_field(form.photo) }}
            </div>

            
            <div class="text-left form-actions">
              <button type="submit" class="btn btn-primary btn-small">Применить</button>&nbsp;
              <a class="btn btn-small" href="{{url_for('sale')}}">Сбросить</a>
            </div>
            
        </form>

    </div> <!-- filter -->


    <script type="text/javascript">

      var showDistance = function() {
        $("#distanceValue").html("<b>" + $("#distance").val() + "</b><small> км</small>");
      };

      $(function(){
        $("#disatnceSlider").noUiSlider({
            range: [1,500], 
            handles : 1, 
            connect: "lower",
            start: $("#distance").val(),
            serialization : {to: $("#distance"), resolution : 1},
            slide : showDistance,
            step: 1
        });

        showDistance();

        var showPrice = function() {
          var to = parseInt($("#price_to").val());
          var from = parseInt($("#price_from").val());
          var price_html = "";
          if (to === 100){
            if(from === 0) {
              price_html = "любая"
            } else {
               price_html = "<small><b>более</b></small><b> " + $("#price_from").val() + "</b><small> тыс руб</small>"
            }
          } else {
            if(from === 0) {
              price_html = "<small><b>менее</b> </small><b>" + $("#price_to").val() + "</b><small> тыс руб</small>"
            } else {
              price_html = "<b>" + $("#price_from").val() + "-" + $("#price_to").val() + "</b><small> тыс руб</small>"
            }
          }
          $("#priceValue").html(price_html);
        };

         $("#priceSlider").noUiSlider({
            range: [0,100], 
            handles : 2, 
            connect: "upper",
            start: [$("#price_from").val(), $("#price_to").val()], 
            serialization : {to: [$("#price_from"), $("#price_to")], resolution : 1},
            slide : showPrice,
            step: 1
        });

        showPrice();

        
      });

      
            //location with autocomplete built on typeahead.js
            $(function(){
              $("#city").typeahead({
                minLength: 1,
                limit: 8,
                source: function (query, process) {
                  return $.getJSON('/ajax/location/typeahead/',  {limit: 8, query: query}, function (data) { return process(data.items);
                  }); //getJSON
                } //source
              }); //typeahead  

            });


            //select2 for dropdowns 
            $(function(){


              var jq_pet = $("#pet");
              jq_pet.select2({
                placeholder:"Выберите тип",
                width: "off",
                containerCssClass : "span12",
                allowClear: true
              });

              var jq_breed = $("#breed");
              jq_breed.select2({
                placeholder: "Выберите породу",
                width: "off",
                containerCssClass : "span12",
                allowClear: true,
                matcher: function(term, text, option) {
                  var pet_id = jq_pet.val();
                  return text.toLowerCase().indexOf(term.toLowerCase()) >= 0 && (!pet_id || option.val().split("_")[0] === pet_id); 
                  },
                  sortResults : povodochek.select2_breed_sort,
                  formatResult : povodochek.select2_breed_format
               });

              jq_pet.on('change', function(e){
                jq_breed.select2('val', '');
              });

              var jq_gender = $("#gender");
              jq_gender.select2({
                placeholder: "Выберите пол",
                width: "off",
                containerCssClass: "span12",
                allowClear: true
              });

              var jq_age = $("#age");
              jq_age.select2({
                placeholder: "Выберите возраст",
                width: "off",
                containerCssClass: "span12",
                allowClear: true,
                openOnEnter : false,
              });

               var jq_perpage = $("#perpage");
              jq_perpage.select2({
                width: "off",
                containerCssClass: "span12"
              });

            });



    </script>


    <!-- ===================== результаты ========================= -->
    <div class="span9 advs">

      {%if count <= 0 %}

          <p class="text-left advs-empty lead"><small>К сожалению, не найдено ни одного объявления.</small>
          </p>

      {% else %}

          <div class="advs-sort pull-left hidden-phone">
            <span class="" title="Способы сортировки результатов поиска.">{{form.sort.label.text}}</span>:
            {% for (value, name) in form.sort.choices %}
              {%set title = "Вначале показываются самые " +  (name | morph_word(['plur']) | lower) %}
              {% if sort == value %}
                &nbsp;<small title="{{title}}" class="label">{{name}}</small>
              {%else%}
                <a title="{{title}}" href="{{ request.url | change_query(form.sort.name, sort, value)}}" class="ajax-link">{{name}}</a>
              {%endif%}
            {% endfor %}
          </div> <!-- advs-sort -->

           <div class="advs-found muted pull-right hidden-phone"><small>Найдено {{count}} {{"объявление" | morph_word(count = count) }}</small>
           </div> <!-- advs-found -->


<table class="table table-hover">

  {% for adv in advs %}

<tr>
  <td>
           

    <div class="media clearfix adv">

        <div class="pull-left">
            
            <div class="text-center photo">
                
                {% set photo = (adv.get('photos') or [])[0]%}
                {% if photo %}
                    <a title='{{adv.get("title")}}' href="{{url_for_sale_show(pet_id = adv.get('pet_id'), adv_id = adv['_id'])}}" target="_blank" class="photo-img thumbnail">
                        <img src="{{url_for('thumbnail', filename=photo)}}">
                       <div class="photo-count"><small><b>{{adv.get("photos") | length }}&nbsp; фото</b></small></div>                          
                    </a>  
                {% else %}
                    <img data-src='/static/js/holder.js/150x100/text:Нет фото' alt="{{adv['title']}}">
                {%endif%}
              
             
            </div>

              {%set price = (adv.get("price") or "") | int  %}
              <div class="text-left adv-price" title='Цена: {{"{0:,}" | format(price) | replace(","," ")}} {{ "рубль" | morph_word(count=price )}}'>
                 <span class="price">{{ price | format_price() }}&thinsp;<span class="rur">руб</span></span>
            </div>  

        </div>

        <div class="media-body">

            <a href="{{url_for_sale_show(pet_id = adv.get('pet_id'), adv_id = adv['_id'])}}" target="_blank" title='{{adv.get("title")}}'><h4 class="media-heading">{{adv.get("title")}}</h4></a>
            <ul class="unstyled">
              <li class="adv-city">
                    {% set city_id = adv.get("city_id") %}

                    {% if city_id %}
                    {#<i class="icon-map-marker" title="Местоположение"></i>&nbsp;#}<span><b title="Местоположение">{{ city_id | city_region }}</b>

                  {% if adv.get("distance") and adv.get("distance") > 0 %}
                      (~{{adv.get("distance") | round(-1, "ceil") | int}} км от {{form.city.city_id | city_name | morph_word(["gent"])}})
                    {% endif %}

                    </span>
                    {%endif%}

                </li>                
                <li class="adv-params">
                    <span>
                    {% set pet_name = adv.get("pet_id") | pet_name %}
                    {% if pet_name %}
                      <span title="Вид">{{pet_name | morph_word(["plur"]) }}</span>
                    {%endif%}

                    {% set breed_name = adv.get("breed_id") | breed_name(adv.get("pet_id")) %}
                    {% if breed_name %}
                   &nbsp;>&nbsp;
                    <span  title="Порода">{{breed_name | title }}</span>
                    {%endif%}

                    {% set gender_name = adv.get("gender_id") | gender_name  %}
                    {% if  gender_name %}
                    &nbsp;>&nbsp;
                    <span  title="Пол">{{ gender_name | title }}</span>
                    {% endif %}
  
                     {% set age_name = adv.get("age_id") | age_name %}
                    {%if age_name %}
                    &nbsp;>&nbsp;
                    <span  title="Возраст">{{ age_name | title }}</span>
                    {%endif%}
                    
                    </span>
                </li>
                <li class="adv-desc hidden-phone">
                    {{ adv["desc"] | truncate(120) }}
                </li>
                
                <li class="adv-dates">
                    <p class="text-right">
                        <small class="">
                            {% set update_date = adv.get("update_date") 
                            %}
                            {% set add_date = adv.get("add_date") 
                            %}
                            
                            {% if update_date and  
                                adv.get("update_date") 
                              %}
                                <span class="muted">Обновлено</span>&nbsp;<b>{{ momentjs(update_date or add_date).fromNow() }}</b>
                                
                            {% endif%}
                          
                        </small>
                    </p>
                </li>
            </ul>
            
        </div>
    </div>
</td>
</tr>
        {% endfor %}
</table>

{% endif %}

  {%- macro pagination(pages, current_page, page_range, paging_class) -%}
      
       <div class="pagination {{paging_class}}">
              {% if pages > 1 %}
              <p>Страницы:</p>
                <ul>

                  {% set page_range_left = ( (current_page - 1) / page_range ) | int * page_range  + 1 %}
                  {% set page_range_right = (( ((current_page - 1)  / page_range) | int + 1 ) * page_range ) | min(pages) %}

                  {% if current_page > page_range %}
                    <li><a href="{{request.url | change_query(form.page.name, current_page, 1)}}">1</a>
                    </li>
                    <li><a href="{{request.url | change_query(form.page.name, current_page, page_range_left - 1)}}">&hellip;</a></li>
                  {% endif %}

                  
                  {%for page in range(page_range_left, page_range_right + 1)%}
                    <li class="{{'disabled' if current_page == page else ''}}">
                      <a href="{{request.url | change_query(form.page.name, current_page, page)}}">{{page}}</a>
                    </li>
                  {%endfor%}

                  {%if  page_range_right < pages  %}
                    
                    <li><a href="{{request.url | change_query(form.page.name, current_page, page_range_right + 1)}}">&hellip;</a></li>
                    
                    <li><a href="{{request.url | change_query(form.page.name, current_page, pages)}}">{{pages}}</a>
                    </li>
                  {%endif%}

                </ul>                


            {% endif %}
          </div>

  {%- endmacro -%}

      <!-- desktop -->
      {{ pagination((count / form.perpage.data) | round(0) | int , form.page.data, 10, paging_class="advs-paging pagination-left  visible-desktop") }}
      <!-- tablet -->
      {{ pagination((count / form.perpage.data) | round(0) | int , form.page.data, 5, paging_class="advs-paging pagination-left pagination-large visible-tablet") }}
       <!-- phone --> 
      {{ pagination((count / form.perpage.data) | round(0) | int , form.page.data, 3, paging_class="advs-paging pagination-left visible-phone") }}


    </div>

</div>

</div> <!-- pet-sale -->


{% endblock %} 