{% extends "layout.html" %}

{% block content %}      

<div class="signin">
  <h1>{{title}}</h1>


  <div class="row-fluid">
    <div class="span12">

        <p class="">Пожалуйста, авторизуйтесь на сайте, чтобы получить доступ к размещению объявлений и вашим персональным данным.</p>

        {% from "forms.html" import form_field_boolean, form_field %}

        <form class="form-signin" id="sigin" method="post" action="{{request.url}}" >

          {{ form_field(form.login, class="input-xlarge", placeholder="Логин, указанный при регистрации") }}

          {{ form_field(form.password, class="input-xlarge", placeholder="Пароль, указанный при регистрации") }}

          {{ form_field(form.remember)}}

        <button class="btn btn-primary" type="submit" data-loading-text="Войти..." id="signin_submit">Войти</button>      
        
      </form>

    <p class="lead">
      <a class="" href="{{url_for('signup_basic')}}">Регистрация</a>
    </p>

  </div>

</div>


<script type="text/javascript">

  //validation
    $(function(){

      povodochek.validate($("form"), {
          login : {required : true, _login: true}, 
          password : { required: true }
       });

    });


</script>

</div> <!-- signin -->


{% endblock %} 