{% extends "layout.html" %}

{% block content %}      
<p class="muted"><small>Пожалуйста, авторизуйтесь на сайте, чтобы получить доступ к вашим персональным данным.</small></p>
<div class="row-fluid">
    <div class="span6">

        {% from "forms.html" import form_field_boolean, form_field %}

        <form class="form-signin" id="sigin" method="post" action="{{request.path}}" >

          {{ form_field(form.email) }}

          {{ form_field(form.password) }}

          {{ form_field(form.remember)}}

        <button class="btn btn-primary" type="submit">Войти</button>      
        
      </form>
  </div>
</div>
{% endblock %} 