{% extends "layout.html" %}

{% block content %}      

    <div class="row">
    <div class="col-sm-7">
      

        {% from "forms.html" import form_field_boolean, form_field %}

        <form style="width:350px" class="form-signup" method="post" role="form" action="{{request.url}}" >

          {{ form_field(form.username, placeholder="Введите ваше имя", class="form-control") }}

          {{ form_field(form.email, placeholder="Введите эл. почту", class="form-control") }}

          {{ form_field(form.password, placeholder="Введите пароль", class="form-control") }}

          {{ form_field(form.accept_tos, checked="checked") }}

          <br>

            <button class="btn btn-primary" type="submit" data-loading-text="Регистрация..." id="signup">Зарегистрировать</button>
     
      </form>
  </div>

  <div class="col-sm-5">
      <div style="margin-top:30px; width:350px" class="well">
        <p>Уже есть учетная запись на Поводочке?</p>
        <a class="lead" href="{{url_for('signin', next = request.args.get('next') )}}">Войдите &rarr;</a>
      
      </div>

  </div>

  </div>


<script type="text/javascript">

  //validation
  $(function(){

    povodochek.validate($("form"), {
        username : {required : true},
        email : {required : true , email: true},
        password: {required: true, rangelength: [6, 36]},
        accept_tos: {required: true}
     });


    $("#{{form.username.id}}").focus();
  });
  
</script>



{% endblock %} 