{% extends "layout.html" %}

{% block content %}      

<div class="row">
    <div class="col-md-5 col-sm-5 col-lg-4">
<p class="">Зарегистрировавшись на сайте, вы сразу же сможете разместить объявление о продаже ваших питомцев.</p>
        {% from "forms.html" import form_field_boolean, form_field %}

        <form class="form-signup" method="post" action="{{request.url}}" >

          {{ form_field(form.username, placeholder="Введите ваше имя") }}

          {{ form_field(form.login, placeholder="Введите логин") }}

          {{ form_field(form.email, placeholder="Введите адрес электронной почты") }}

          {{ form_field(form.password, placeholder="Введите пароль") }}

          {{ form_field(form.repeat_password, placeholder="Введите пароль еще раз") }}

          {{ form_field(form.accept_tos)}}

            <button class="btn btn-primary" type="submit" data-loading-text="Регистрация..." id="signup">Зарегистрироваться</button>
     
      </form>
  </div>

</div>


<script type="text/javascript">

  //validation
  $(function(){

    povodochek.validate($("form"), {
        username : {required: true}, 
        login : {required : true, rangelength: [6, 36], _login: true},
        email : {required : true , email: true},
        password: {required: true, rangelength: [6, 36]},
        repeat_password : {required: true,  equalTo: "#password"},
        accept_tos: {required: true}
     });
  });
  
</script>


{% endblock %} 