{% extends "layout.html" %}

{% block content %}

<h1>{{title}}</h1>


<div class="tos">

	{%filter markdown %}

Пользуясь сайтом Поводочек, вы обязуетесь не нарушать данное пользовательское соглашение. Пожалуйста, помните, что мы можем менять данное соглашение время от времени, поэтому старайтесь регулярно посещать данную страницу, чтобы быть в курсе изменений. Если вы не согласны с любым из нижеописанных пунктов - прекратите дальнейшее использование этого сайта.

## 1. Использование сайта

Соглашаясь с условиями использования сайта Поводочек, вы тем самым подтверждаете, что не будете:

* Создавать множество регистраций или указывать заведомо неверные контактные данные о себе. 
* Размещать любую оскорбительную, угрожающую, клеветническую или неприличную информацию.
* Размещать изображения, материалы или другую информацию, которые не принадлежат вам или ущемляют права пользователей.
* Копировать или публиковать материалы других пользователей без их согласия.
* Использовать любые виды систем сбора или копирования материалов с данного сайта в том числе автоматические.
* Размещать несвязанные с продажей домашних животных объявления или размещать множество копий одного объявления. (На данном сайте разрешена публикация объявления только о продаже собак или кошек.)
* Пытаться получить несанкционированный доступ к любым сервисам сайта, учетным данным, компьютерным системам и цифровым сетям.
* Использовать данный сайт в непредназначенной форме, которая может привести к ущербу, выходу из строя или нарушению работы сайта, а также помешать работе других пользователей.
* Выдавать себя за другое физическое или юридическое лицо с целью введения в заблуждение других пользователей.


## 2. Размещение объявлений

Одной из основных задач данного сайта является цель максимизировать ответственность хозяев в отношении своих питомцев, поэтому, размещая объявления на данном сайте, мы ожидаем, что вы будете придерживаться правил, описанных ниже. Если хотя бы одно из правил будет нарушено, то мы вправе отказать вам в размещении подобного объявления, и ваша учетная запись может быть заблокирована без дополнительных объяснений. Если мы посчитаем, что вы нарушаете законы или нормы о содержании домашних животных, размещенных на данном сайте, мы можем отправить ваши контактные данные в соответствующие органы.

* Запрещена продажа животные, если они родились менее 8 недель назад, так как это минимальный возраст, в котором они могут остаться без матери.
* ОБъявления о продаже животные должны быть размещены в правильной категории на сайте, с указанием породы, пола, местонахождения и других параметров, которые помогут будущему владельцу определиться с покупкой. Если порода животного является смешенной, то в заголовке объявления обязательно указывать полный перечень пород или вовсе не размещать подобные объявления. 
* Если вы продаете животных с родословной, то вы обязаны предоставить полный пакет документ на родословную новому владельцу. Вы также должны указать в описании объявления в какой организации животные были зарегистрированы. Вводить покупателя в заблуждение или дезинформировать его является уголовно/административно наказуемым деянием.
* Когда вы продаете щенков или котят, вам крайне желательно продемонстрировать их родителей будущему покупателю. При покупке не следует пересылать животных будущему покупателю или назначать с ним встречи в любом другом месте, кроме вашего дома, где он может увидеть в каких условиях содержатся питомцы.
* В размещаемых объявлениях вы обязаны указывать верное местоположение животных, то есть то место, где они реально находятся и где их можно увидеть.
* Запрещается повторно размещать объявления, ранее блокированные на сайте.
* Запрещается размешать объявления о продаже животных без указания цены или в виде подарка/игрушки, так как это не укрепляет чувство ответственности у будущих хозяев, не говоря уже о текущих... Мы очень стремимся к тому, чтобы забота и уважение к купленным питомцам были первостепенной значимости.
* Запрещается продавать беременных животных, так как это очень трудный и стрессовый период их жизни. Крайне желательно после родов подождать хотя бы 8 недель до того момента, пока мать оправится от родов, а дети смогут обходиться без нее. 
* Все объявления должны быть размещены только от одной учетной записи. Так как это позволит отслеживать ваши объявления и ваши жалобы. Если мы посчитаем, что вы пользуетесь множеством учетных записей для размещения объявлений, то они все будут блокированы.
*. Ваша учетная запись и объявления должны содержать только верную контактную информацию, включая местоположение.
* Если мы получим от пользователей жалобу на ваши объявления, то это может послужить поводом для блокировки вашей учетной записи и доступа к сайту до тех пор, пока мы не разберемся в ситуации.
 

## 3. Пользовательские контактные данные

Соглашаясь с условиями использования сайта Поводочек, вы тем самым подтверждаете, что во время вашего контакта с другими участниками сайта вы не будете:

* Отправлять оскорбительные, угрожающие или непристойные сообщения по электронной почте, а также совершать никаких оскорбительных или угрожающих телефонных звонков.
* Использовать контактную информацию пользователей сайта для рассылки почтовых сообщений рекламного характера или сообщений, не относящихся к объявлению, по которому вы пытаетесь связаться с автором. 

## 4. Нарушение авторского права 

Соглашаясь с условиями использования сайта Поводочек, вы тем самым подтверждаете, что мы можем сохранять или раскрывать вашу персональную информацию или другие материалы, публикуемые на сайте вами, если это требуется по действующему законодательству или необходимо для того, чтобы: 

* Зафиксировать факт нарушение авторских прав на любые публикуемые материалы или любую другую интеллектуальную собственность, размещенную на сайте.
* Подтвердить подозрение о том, что публикация материалов на сайте не согласована с правообладателем.


## 5. Содержание сайта Поводочек

Соглашаясь с условиями использования сайта Поводочек, вы тем самым подтверждаете, что:

* Вся ответственность за размещение, передачу или тиражирование объявлений, сообщений, изображений, фотографий на данном сайте, лежит исключительно на пользователях, являющихся источником данной информации.
* Вы и только вы отвечаете за размещаемый, добавленный, загруженный, переданный или созданный любым другим способом вами материал.
* Вы можете столкнуться с информацией, которая является оскорбительной, неприличной, неточной, вводящей в заблуждение. Поводочек не контролирует и не несет ответственности за любые пользовательские публикации на сайте.
* Мы стараемся делать все возможное, чтобы предотвратить мошенничество на сайте, но мы не можем гарантировать, что все объявления размещаются от реальных людей. Поэтому вы должны быть бдительными, когда связываетесь с пользователями сайта.
* Ни при каких обстоятельствах мы не несем ответственности за любой ущерб или убытки, возникшие в результате использования сайта. 

## 6. Прекращение обслуживания

У нас есть право отказать вам в доступе к любой или всем услугам сайта в любое время и по любой причине без предварительного уведомления. Мы также можем в любое время, по своему собственному усмотрению, прекратить работу сайта/услуги или любой его части без предварительного уведомления.



	{%endfilter%}

</div> <!-- tos -->

{% endblock %}