<!-- Load Queue widget CSS and jQuery -->
<style type="text/css">@import url(/static/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css);</style>

<!-- Third party script for BrowserPlus runtime (Google Gears included in Gears runtime now) -->
<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>

<!-- Load plupload and all it's runtimes and finally the jQuery queue widget -->
<script type="text/javascript" src="/static/plupload/plupload.full.js"></script>
<script type="text/javascript" src="/static/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="/static/plupload/i18n/ru.js"></script>


<script type="text/javascript">
// Convert divs to queue widgets when the DOM is ready
$(function() {
    $("#uploader").pluploadQueue({
        // General settings
        runtimes : 'gears,flash,silverlight,browserplus,html5',
        url : '/upload',
        max_file_size : '10mb',
        //chunk_size : '1mb',
        unique_names : true,

        // Resize images on clientside if we can
        resize : {width : 320, height : 240, quality : 90},

        // Specify what files to browse for
        filters : [
            {title : "Изображения", extensions : "jpg, jpeg, gif, png"},
        ],

        // Flash settings
        flash_swf_url : '/static/plupload/plupload.flash.swf',

        // Silverlight settings
        silverlight_xap_url : '/static/plupload/plupload.silverlight.xap'
    });


    $('#uploader').pluploadQueue().bind("FileUploaded", function(uploader, file, response) {
        filename = response.response;
        filenames = $("#photos").val();
        if(filenames) {
            $("#photos").val(filenames + "," + filename);
        } else {
            $("#photos").val(filename);
        }
    });

    // Client side form validation
    $('form').submit(function(e) {
        var uploader = $('#uploader').pluploadQueue();

        // Files in queue upload them first
        if (uploader.files.length > 0) {
            // When all files are uploaded submit form
            uploader.bind('StateChanged', function() {
                if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                    $('form')[0].submit();
                }
            });
                
            uploader.start();
        } else {
            alert('Не добавлен ни один файл.');
        }

        return false;
    });
});
</script>


            

