
{% extends "layout.html" %}
    

    <title>UploadKit Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/plupload/uploadkit.css"/>
    <script type="text/javascript" src="/static/plupload/plupload.full.js"></script>
    <script type="text/javascript" src="/static/plupload/uploadkit.js"></script>

    <script type="text/javascript">
    $(function() {
      $('.uk-input').bind(UKEventType.FileUploaded, function(evt) {
        console.log(evt.response);
      });
    });
    </script>

{% block content %}

  <form method="post" action="#">
    <!-- Multi-file uploader -->
    <input type="file" class="uk-input" name="attachments" multiple="multiple" data-upload-url="./" data-max-file-size="100mb"/>
    <!-- Single-file uploader -->
    <input type="file" class="uk-input" name="avatar" data-upload-url="./" data-max-file-size="10mb"/>
  </form>


{% endblock %}