
  <div class="pet-latest visible-desktop">
          

  <div class="svetofor-block" style="position:relative; height:60px">
      <h1 class="tagline pull-left">Продажа породистых собак и кошек на Поводочке</h1>

      <div id="svetofor" class="visible-desktop">
          <table>
            <!--<tr style="height:9px">
                <td></td>
              </tr>-->
              <tbody><tr>
                <td id="svetofor_stop">
                  <img src="{{ url_for('static', filename='img/svetofor_stop.png')}}"  style="display:none;">
                  &nbsp;
                </td>
                <td id="svetofor_left">
                  <img src="{{ url_for('static', filename='img/svetofor_left.png')}}" >
                  &nbsp;
                </td>
                <td id="svetofor_right">
                  <img src="{{ url_for('static', filename='img/svetofor_right.png')}}"  style="display:none;">
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>

        </div>

            
          </div>


            <div class="photos" id="scroller" style="">

            {%for adv in advs[:] %}
              {%set photo = adv.get('photos')[0]%}
              <div class="photo">
                <a href="{{url_for_sale_show(pet_id = adv.get('pet_id'), adv_id = adv['_id'])}}" target="_self" class="photo-img">
                  <img alt="{{adv.get('title')}}" src="{{url_for('thumbnail', filename=photo)}}">
                   <div class="photo-count"><small><b>{{adv.get("photos") | length }}&nbsp; фото</b></small></div>
                   {#<div class="photo-price" title="Цена {{adv.get("price") | format_price }} руб">{{adv.get("price") | format_price }}&nbsp;<span class="rur">руб</span></div> #}                         
                </a> 
                <a title="{{adv.get('title')}}" class="muted photo-title" href="#"><small>{{adv.get("title") or '' | truncate(length = 25, killwords = False, end ='...') }}</small></a> 
              </div>


              {%endfor%}

          </div> <!-- scroller -->
      

    </div> <!-- pet-latest -->


<script type="text/javascript">
  $(window).load(function(){
      $('#scroller').carouFredSel({
          responsive: true,
          scroll: {
            items : 1,
            pauseOnHover : "immediate"
          },
          items: {
            width: 170,
            visible: {
              min: 5,
              max: 10
            }
          }
        });


      var oprate_trafficlight = function(button, action, direction) {
        $("#svetofor table td img").hide();
          $(button).find("img").show();
          if(direction) {
            $("#scroller").trigger("configuration", ["direction", direction]);
          }
          $("#scroller").trigger("play");
      };

      $("#svetofor_right").click(function(){
          oprate_trafficlight(this, "play", "right");
        });

      $("#svetofor_left").click(function(){
          oprate_trafficlight(this, "play", "left");
        });


      $("#svetofor_stop").click(function(){
          oprate_trafficlight(this, "pause");
        });

  });
  
</script>