
  <div class="pet-latest visible-desktop">
        <div style="position:relative">
          <p class="lp-title">Новые объявления:
            <a class="pull-right" href="{{url_for('sale')}}">Показать все</a>
          </p>
          
        </div>
        
        
          <div class="thumbnails photos" id="scroller">


            {%for adv in advs[:] %}
              {%set photo = adv.get('photos')[0]%}
              <div class="section span2 photo {{'hidden-phone' if loop.index > 3}}">
                <a title='{{adv.get("title")}}' href="{{url_for('sale_show', id = adv['_id'])}}" target="_self" class="thumbnail photo-img">
                  <img  src="{{url_for('thumbnail', filename=photo)}}">
                   <div class="photo-count"><small><b>{{adv.get("photos") | length }}&nbsp; фото</b></small></div>
                   <div class="photo-price" title="Цена {{adv.get("price") | format_price }} руб">{{adv.get("price") | format_price }}&nbsp;<span class="rur">руб</span></div>                          
                </a> 
                <a title="{{adv.get('title')}}" class="muted photo-title" href="#"><small>{{adv.get("title") | truncate(length = 100) }}</small></a> 
              </div>


              {%endfor%}

            </div> <!-- scroller -->

      </div> <!-- pet-latest -->


<script type="text/javascript">
  $(window).load(function(){
      $("#scroller").simplyScroll({
        customClass: 'custom',
        direction: 'forwards',
        pauseOnHover: true,
        frameRate: 20,
        speed: 1
      });
  });
  
</script>