{% extends "layout.html" %}

{% block content %}

    <p>
      В связи с обновлением программного обеспечения у некоторых пользователей могли возникнуть проблемы с удалением объявлений. Приносим вам свои искрение извинения. 
      </br>
      Проблему мы исправили, и сайт работает в штатном режиме.  Постараемся не допускать подобного в будущем, так как мы ценим ваше время как свое собственное. 
      <br/>
      Спасибо за понимание и терпение.
      </p>
      <p>
      P.S. Многие пользователи сайта просили добавить архив удаленных ранее объявлений с возможностью восстановления. Мы сейчас работает над этим. Продемонстрируем архив в действии в ближайшие две недели. Ждите и удачи вам с продажей своих щенков и котят.
     </p>

{% endblock %}