{%block head %}

<meta content="{{adv.get('desc') | truncate(155)}}" name="description"/>
<meta content="{{title}}" property="og:title"/>
<meta property="og:type" content="article" />
<meta content="{{adv.get('desc') | truncate(155)}}" name="og:description"/>


{%if adv.get('photos') %}
<meta content="{{url_for('photo', filename = adv.get('photos')[0], _external = True)}}" property="og:image"/>
{%endif%}

<meta content="{{request.url}}" property="og:url"/>


{% endblock %}


{% extends "layout.html" %}


{%block breadcrumbs %}
  
    {% from "breadcrumbs.html" import breadcrumbs %}

    {{breadcrumbs( [
    {'name':"Продажа собак", 'url':url_for("dog_search")}, 
    {'name': breeds.get_breed_name(adv.get('breed_id')), 'url':url_for("dog_search", breed=adv.get("breed_id"))}, 
     {'name': geo.get_region_name(adv.get('region_id')), 'url': url_for("dog_search", breed=adv.get("breed_id"), city=adv.get("region_id"))},
    {'name': geo.get_city_name(adv.get('city_id')), 'url': url_for("dog_search", breed=adv.get("breed_id"), city=adv.get("city_id"))}, 
    {'name':adv.get("title") | capitalize}
    ] ) }}
              
    
    {%endblock%}


{% block content %}  

<div class="dog-adv-show" itemscope itemtype="http://schema.org/Offer">   
        
  <div class="row">
    <div class="col-sm-7" style="" >

          {{attraction_adv(adv)}}

          {{photos(adv)}}
       
          {{doc_info(adv)}}     

          {{video(adv)}} 

    </div>

    <div class="right-side col-sm-5">

        {{render_share()}}

        {{price_info(adv)}}

        <h2 style="margin-top:0px" itemprop="alternateName">{{adv.get("title") | capitalize}}</h2>
      
      <div style="margin-bottom:0">
        <p style="white-space:pre-line" itemprop="description">{{adv.get('desc') | trim }}</p>
      </div>

      {{dog_info(adv)}} 

        {{seller_info(adv)}}

    </div> <!-- right-side -->

  </div>

   {{adv_number(adv)}}


</div> <!-- sale-pet-container -->  

<script type="text/javascript">
  {% if archived %}

  $(document).ready(function(){
    var archive_date = moment("{{adv.get('archive_date').isoformat()}}").format('D MMMM YYYY года');
    $("body").prepend("<div class='bg-info adv-expired-block' style=''><div class='text-center aeb-inner' style=''><ul class='list-inline'><li><i class='fa fa-archive fa-5x largest'></i></li><li class='text-left' style='margin-left:20px;' class='text-left'><span style='font-size:32px;'>Объявление не актуально</span> <br/>Перенесено в архив " + archive_date + "</li><ul></div></div>")
  })

  {%endif%}

</script>

{% endblock %} 


{%- macro render_share() -%}
<div style="margin:10px 0px 30px -5px">
<script type="text/javascript" src="//yandex.st/share/share.js"
charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru"
 data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>      
 </div>
{%- endmacro -%}


{%- macro video(adv) -%}
  {% if adv.get('video_link') %}
  <div style="margin-bottom:30px" id="video">
  <div id="player"></div>
  </div>

  <script type="text/javascript">

      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
       player = new YT.Player('player', {
          height: '350',
          width: '400',
          videoId: povodochek.extract_youtube_videoid('{{adv.get("video_link")}}')
        });
      }
   
  </script>
  {% endif %}
{%- endmacro -%}

{%- macro adv_number(adv) -%}

<div class="" style="margin-top:60px">
  <ul class="list-inline">
      <li>
        <i class="fa fa-clock-o fa-fw" style="width:15px"></i>
      </li>
      {#<li>
        <span style="padding-right:15px"><span class="text-muted small">Объявление № </span>
          {%set short_id = adv | short_adv_id %}
          <span class="badge" title="№ объявления {{short_id}}" style="margin-left:5px;">
          {{short_id}}
          </span>
          </span>
      </li>#}
      {% set add_date = adv.get("add_date") %}
      {% set update_date = adv.get("update_date") %}
      {% set expire_date = adv.get("expire_date") %}
      <li>
        <span style="white-space:nowrap;margin-right:15px"><span class="text-muted" style="padding-right:5px">Размещено</span>{{momentjs(add_date).format("D MMMM, HH:mm")}}</span>   
      </li>
    {%if update_date != add_date %}
      <li>
      <span style="white-space:nowrap;margin-right:15px"><span style="padding-right:5px" class="text-muted">Обновлено</span>{{momentjs(update_date).format("D MMMM, HH:mm")}}</span>
      </li>
    {%endif%}     
    {%if expire_date %}
      <li>
      <span style="white-space:nowrap;margin-right:15px"><span style="padding-right:5px" class="text-muted">Активно до</span>{{momentjs(expire_date).format("D MMMM")}}</span>
      </li>
    {%endif%}     
  </ul>
  <ul class="list-inline">
      <li>
        <span class="glyphicon glyphicon-stats"></span>
      </li>
      <li>
        {% set views_count = adv.get("stat").get("unique_views") if adv.get("stat") else 0 %}
          <span style="white-space:nowrap;" title="Количество уникальных просмотров объявления"><span style="padding-right:5px" class="text-muted">Посмотрели:</span>{{ views_count }}&ensp;{{"пользователь" | morph_word(count=views_count)}}</span>     
      </li>
  </ul>
    
</div>

{%- endmacro -%}


{%- macro attraction_adv(adv) -%}

  <div class="das-attraction" style="margin-top:10px">
    {% from "attraction.html" import render_stars %}

    <span class="" style="padding-right:5px">Привлекательность объявления</span>{{render_stars(adv.get("attraction"))}}
</div>

{%- endmacro %}

{%- macro price_info(adv) -%}


   <div class="das-price-block" style="margin-top:40px;margin-bottom:40px;">
      <div class="text-center" style="float:left; margin-right:20px; display:inline-block"  title="{{format('{0:,}', adv.get('price')) | replace(',', ' ') }} {{ 'рубль' | morph_word(count = adv.get('price') | int) }}" itemprop="priceSpecification" itemscope itemtype="http://schema.org/UnitPriceSpecification">
             <span>Цена&ensp;</span>
             <span itemprop="price" class="das-price-number">{{adv.get('price') | format_price() }}&nbsp;<i class="fa fa-ruble"></i></span>
             <meta itemprop="priceCurrency" content="RUB" />   
      </div>


    <div class="clearfix" style="padding-top:5px">

    {%if adv.get("price_haggle") %}
      <p class="">
        <span data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Уместен торг" class="label label-danger cursor-help">торг</span>   
      </p>
      
      {%endif%}

       {%if adv.get("price_hp") %}
        <p class="">
            <span data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Возможна рассрочка платежа" class="label label-danger cursor-help">рассрочка</span>
        </p>
          
        {%endif%}
    </div>

    </div>

   

{%- endmacro-%}

{%- macro photos(adv) -%}

    <!-- photo -->
      {%if adv.get('photos') or [] | length > 0%}    

      <div class="das-photos">

        {%if adv.get("photos") | length > 1%}

        <div id="carousel" class="flexslider hidden-xs">
          <ul class="slides">
            {%for photo in adv.get('photos') %}
            <li>
              <img width="100" src="{{url_for('thumbnail', filename = photo)}}" />
            </li>
            {%endfor%}
          </ul>
        </div>

        {%else%}

          {% set photo = adv.get('photos')[0] %}
          <img style="padding-bottom:10px" width="100" src="{{url_for('thumbnail', filename = photo)}}" />

        {%endif%}

         <p class="text-left small">(фото <span id="currentPhotoNumber">1</span>&nbsp;из&nbsp;{{adv.get('photos') | length}})</p>
        
        <script type="text/javascript">

        function img_onload() {

          $('#carousel').flexslider({
              animation: "slide",
              controlNav: false,
              animationLoop: false,
              slideshow: false,
              itemMargin: 5,
              itemWidth: 100,
              asNavFor: '#slider'
            });

            $('#slider').flexslider({
              animation: 'fade',
              controlNav: false,
              animationLoop: false,
              slideshow: false,
              sync: "#carousel",
              smoothHeight: true,
              animationSpeed : 400,
              touch: false, 
              after: function(slider){
                $("#currentPhotoNumber").html(slider.currentSlide+1);
              }
            }).addClass("loading");

            $("#slider .flex-prev").click(function(){
              var slider = $('#slider').data('flexslider');
              slider.flexslider("prev");
            });

            $("#slider .flex-next").click(function(){
              var slider = $('#slider').data('flexslider');
              slider.flexslider("next");
            });
          }

        </script>

        <div id="slider" class="flexslider">
          <ul class="slides ">
            {%for photo in adv.get('photos') %}
            
            <li class="text-center photo">
              {%if loop.index == 1%}
               
               <img class="img-responsive main-photo" src="{{url_for('photo', filename = photo, height = 430)}}" onload="javascript:img_onload()" />

               {%else%} 

              {%set main_image_url = url_for('photo', filename = photo, height = 430)%}

               <img class="img-responsive" src="{{main_image_url}}" itemprop="image" />
            
               {%endif%}

            </li>

            {%endfor%}
          </ul>
        </div>

      </div> <!-- photos -->
  {%else%}
      <div class="das-photos-no">
       <img src="/static/img/no_photo.png" class="img-responsive" style="margin:0 auto"/>
    </div>
  {%endif%}
  <!-- / photo -->
{%- endmacro -%}


{%-  macro doc_info(adv) -%}
    <div class="doc-info" style="margin-bottom:30px;">
   {% set doc = adv.get("doc_id") %}
        {% if not doc %}
          <div class="" style="border-radius:5px">
              <p class="text-warning lead">
                 Нет документов о происхождении
              </p>
              <p style="">Продавец не предоставил информацию о документах, гарантирующих породистое происхождение собаки.{# Подобная собака не может принимать участия в выставках и не имеет допуска в разведение.#}</p>
          </div>
        {%else%}

       <div class="" style="padding:20px; border:2px solid #ddd;">


         <table style="margin-bottom:20px">
          <tr>
            {% set doc_id = adv.get("doc_id")%}

          {% if doc_id in pet_docs.doc_rkf%}
          <td>
            <img style="padding-right:20px; float:left" src="{{url_for('static', filename= 'img/fci_sm_2.png')}}"/>
            </td>
          {% elif doc_id in pet_docs.doc_skor%}
            <td>
            <img style="padding-right:20px; float:left" src="{{url_for('static', filename= 'img/iku_sm.png')}}"/>
            </td>
          {%endif%}
          <td class="lead">
              {{pet_docs.get_doc_dog_name(doc)}}
          </td>
          </tr>
          </table>
           

      <hr>

        {% if adv.get("doc_id") in pet_docs.doc_puppy_cards%}

        {%set puppy_card_kennel = adv.get("puppy_card_kennel") %}

        <table class="table table-non-border table-condensed" style="margin-top:20px">
        <colgroup><col style="width:180px"></col><col></col></colgroup>
        <tbody><tr><th class="small">Питомник, выдавший метрику</th>
        <td> {% if puppy_card_kennel %}
            <span class="white-space:pre-line">{{puppy_card_kennel}}</span>
          {%else%}
            <span class='text-muted' >не указан</span>
          {%endif%}</td></tr></tbody>
       </table>
        {%endif%}


            {{ parent_info(adv, "Отец", "father") }}
            {{ parent_info(adv, "Мать", "mother") }} 
             
            </div> <!-- panel -->

        {%endif%}
    </div>
{%- endmacro-%}


{%- macro parent_info(adv, title, prefix) -%}


{% set doc = adv.get("doc_id") %}
{% if doc %}

  <table class="table table-non-border table-condensed">
  <colgroup>
    <col style="width:180px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"></col>
    <col style=""></col>
  </colgroup>
  <thead><tr><th colspan="2">
    {{title}}
  </th></tr></thead>

  <tbody>

  {%set name = adv.get(prefix + "_name") %}
    {% if name %}
    <tr><th class="small">Кличка</th><td style="">
        {{ name }}
    </td></tr>
    {%endif%}

    {%set country = adv.get(prefix + "_country_id") %}
     <tr><th class="small">Страна рождения</th><td style="">
      {% if country %}
            {{ geo.get_country_name(country) }}
      {% else %}
        <span class='text-muted' >не указана</span>
      {%endif%}
    </td></tr>

     {%set birthday = adv.get(prefix + "_birthday") %}
    <tr><th class="small">Дата рождения</th><td>
      {% if birthday %}
             {{momentjs(birthday).format("D MMMM YYYY[, ]")}} 
              ~{{momentjs(birthday).fromNow(True)}} 
      {% else %}
        <span class='text-muted'>не указана</span>
      {%endif%}
    </td></tr>

    {%set mark = adv.get(prefix + "_mark") %}
     <tr><th class="small">Экстерьерная оценка</th><td style="">
     {% if mark %}
            {{ dog_marks.get_mark_name(mark) | lower }}
      {% else %}
        <span class='text-muted' >не указана</span>
      {%endif%}
    </td></tr>

    {%set color = adv.get(prefix + "_color") %}
     <tr><th class="small">Окрас</th><td style="">
     {% if color %}
            {{ color }}
      {% else %}
        <span class='text-muted' >не указан</span>
      {%endif%}
    </td></tr>


     {%set misc = adv.get(prefix + "_misc") %}
     {% if misc %}
    <tr><th class="small">Прочее</th><td style="">
     {{ misc }}
    </td></tr>
    {%endif%}

  </tbody>
  </table>


{% endif %}

{%- endmacro -%}

{%- macro dog_info(adv) -%}
    


{%set col_left_class = "col-sm-6 col-md-6 col-lg-5 text-semi-muted small" %}
{%set col_right_class = "col-sm-6 col-md-6 col-lg-7" %}

      <div class="dog-info" style="margin-bottom:40px; margin-left:-5px">

      <table class="table table-non-border table-condensed">
      <colgroup>
        <col style="width:180px">
        </col>
        <col style=""></col>
      </colgroup>
        <thead>
          <tr><th colspan="2"><h3>Подробная информация</h3></th></tr>
        </thead>
        <tbody>
          <tr itemscope itemprop="availableAtOrFrom" itemtype="http://schema.org/Place">
          <th class="small">Населенный пункт</th>
          <td>
            <span itemprop="name">{{geo.format_city_region_by_city_id(adv.get("city_id"))}}</span>

            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <meta itemprop="addressCountry" content="RU"/>
            <meta itemprop="addressLocality" content="{{geo.get_city_name(adv.get('city_id')) }}" />
            <meta itemprop="addressRegion" content="{{geo.get_region_name_by_city_id(adv.get('city_id')) }}" />
            </span>
          </td></tr>

           {% set metro_id = adv.get("metro_id") %}
            {% if metro_id %}
            <tr><th class="small">Метро</th>
            <td>
              <span title="Станция метро">{{ metro.get_station_name_by_id(metro_id) }}</span>
            </td></tr>
          {%endif%}

          <tr><th class="small">Доставка</th>
          <td>
            {% if adv.get("delivery") %}
            возможна
            {%else%}
            <span class='text-muted'>нет</span>
            {%endif%}
          </td></tr>

          <tr><th class="small">Порода</th>
          <td>
           {{breeds.get_breed_name(adv.get('breed_id')) | lower }}
          </td></tr>

          {% set gender = genders.get_gender_name(adv.get("gender_id")) %}
          {% if gender %}
          <tr><th class="small">Пол</th>
          <td>
          {{ gender | lower }}
          </td></tr>
          {%endif%}


         {% set birthday = adv.get("birthday") %}
          {% if birthday %}
          <tr><th class="small">Дата рождения</th>
          <td>
              {{momentjs(birthday).format("D MMMM YYYY[, ]")}} 
              ~{{momentjs(birthday).fromNow(True)}} 
          </td></tr>
          {%endif%}

          {% set color = (adv.get("color") or "") | lower %}
          {% if color %}
          <tr><th class="small">Окрас</th>
          <td>{{color}}</td></tr>
          {%endif%}

          <tr><th class="small">Вакцинация (прививки)</th>
          <td> {% if adv.get("vaccination") %}
              сделана
            {%else%}
              <span class='text-muted'>не сделана</span>
            {%endif%}
          </td></tr>    

          <tr><th class="small">Ветеринарный паспорт</th>
          <td> {% if adv.get("vetpassport") %}
              есть
            {%else%}
              <span class='text-muted'>нет</span>
            {%endif%}
          </td></tr>     

          <tr><th class="small">Микрочип</th>
          <td> {% if adv.get("microchip") %}
              есть
            {%else%}
              <span class='text-muted'>нет</span>
            {%endif%}
          </td></tr>

          <tr><th class="small">Допуск в разведение</th>
          <td>{% if adv.get("breeding") %}
            есть
            {%else%}
            <span class='text-muted'>нет</span>
            {%endif%}
          </td></tr>

          <tr><th class="small">Подходит для выставок</th>
          <td> {% if adv.get("show") %}
            да
            {%else%}
            <span class='text-muted' >нет</span>
            {%endif%}
          </td></tr>

          <tr><th class="small">Чемпионские крови</th>
          <td>  {% if adv.get("champion_bloodlines") %}
            да
            {%else%}
            <span class='text-muted' >нет</span>
            {%endif%}
          </td></tr>

           <tr><th class="small">Договор купли-продажи</th>
          <td>   {% if adv.get("contract") %}
            есть
            {%else%}
            <span class='text-muted'>нет</span>
            {%endif%}
          </td></tr>

        </tbody>
      </table>

  </div>

{%- endmacro -%}



{%- macro seller_info(adv) -%}

{% if not archived %}

{%set col_left_class = "col-sm-4 text-semi-muted small" %}
{%set col_right_class = "col-sm-8" %}

<div class="seller-block well" style="padding:10px 20px 20px; box-shadow:2px 2px 5px 0px #ccc" itemprop="seller" itemscope itemtype="http://schema.org/Person">  

    <table class="table table-non-border">
      <thead>
        <tr><th colspan="2"><h3>Контактная информация</h3></th></tr>  
      </thead>

      <tbody>

        {%set username = adv.get("username") or (seller.get("username") + " " + (seller.get("surname") or "") if seller else "") %}
        {% if username %}
          <tr>
          <th class="small">
            Контактное лицо
          </th>
          <td>
            <span itemprop="name">{{username | title}}</span>
          </td>
        </tr>
        {%endif%}

         {% set phone = adv.get("phone") or (seller.get("phone") if seller else "") %}
        {% if phone %}
         <tr>
            <th class="small">
              Телефон
            </th>
            <td>
               <span itemprop="telephone">{{phone}}</span>
            </td>
          </tr>
        {%endif%}

        {%set skype = adv.get("skype") or (seller.get("skype") if seller else "") %}
        {%if skype %}
          <tr>
            <th class="small">
              Skype
            </th>
            <td>
               <span>{{skype}}</span>
            </td>
          </tr>
        {%endif%}

        {#% set kennel_name = adv.get("kennel_name") %}
        {% if kennel_name %}
        <div class="row">
       <p class="{{col_left_class}}">Питомник</p>
      <p class="{{col_right_class}}">
        <span>{{kennel_name}}</span>
      </p>
      </div>
      {%endif%#}
  
      {%set site = adv.get("site_link") or (seller.get("site_link") if seller else "") %}
        {%if site %}
        <tr>
            <th class="small">
              Сайт
            </th>
            <td>
               <a itemprop="url" rel="nofollow" class="" target="_blank" href="{{site}}" title="{{site}}">{{site | truncate(30, killwords = True)}}</a>
            </td>
          </tr>
        {%endif%}

        </tbody>

    </table>

      <div class="text-left" style="margin-top:20px">
          <a rel="nofollow" style="" class="btn bnt-lg btn-primary" href="{{url_for('dog_adv_email', adv_id = adv.get('_id'))}}" onclick="var w=window.open(this.href,'','width=900,height=700,scrollbars=yes');w.focus();return false;"><i class="fa fa-envelope-o"></i>&emsp;Написать автору</a>
      </div>
    

 </div>  <!-- /seller-block -->

{%endif%}

{% endmacro%}