{%block head %}

<meta content="{{adv.get('desc') | truncate(155)}}" name="description"/>
<meta content="{{title}}" property="og:title"/>
<meta property="og:type" content="article" />
<meta content="{{adv.get('desc') | truncate(155)}}" name="og:description"/>


{%if adv.get('photos') %}
<meta content="{{url_for('photo', filename = adv.get('photos')[0], _external = True)}}" property="og:image"/>
{%endif%}

<meta content="{{request.url}}" property="og:url"/>


{% endblock %}


{% extends "layout.html" %}


{%block breadcrumbs %}
  
    {% from "breadcrumbs.html" import breadcrumbs %}

    {{breadcrumbs( [
    {'name':"Продажа собак", 'url':url_for("dog_search")}, 
    {'name': breeds.get_breed_name(adv.get('breed_id')), 'url':url_for("dog_search", breed=adv.get("breed_id"))}, 
     {'name': geo.get_region_name(adv.get('region_id')), 'url': url_for("dog_search", breed=adv.get("breed_id"), city=adv.get("region_id"))},
    {'name': geo.get_city_name(adv.get('city_id')), 'url': url_for("dog_search", breed=adv.get("breed_id"), city=adv.get("city_id"))}, 
    {'name':adv.get("title") | capitalize}
    ] ) }}
              
    
    {%endblock%}


{% block content %}  

<div class="dog-adv-show" itemscope itemtype="http://schema.org/Offer"> 

 
 <h1 itemprop="name">{{header}}</h1>
        
  <div class="row">
    <div class="col-sm-7" style="" >

          {{attraction_adv(adv)}}

          {{photos(adv)}}

          {{doc_info(adv)}}     

          {{video(adv)}} 

    </div>

    <div class="right-side col-sm-5">

        {{price_info(adv)}}

      <h2 style="margin-top:0px" itemprop="alternateName">{{adv.get("title") | capitalize}}</h2>
      
      <div style="margin-bottom:40px">
        <p style="white-space:pre-line" itemprop="description">{{adv.get('desc') | trim }}</p>
      </div>


      {{dog_info(adv)}}  

      {{seller_info(adv)}}

    </div> <!-- right-side -->

  </div>

   {{adv_number(adv)}}


</div> <!-- sale-pet-container -->  

  <script type="text/javascript">
  $(document).ready(function(){

    $("[data-toggle='tooltip']").tooltip();

  });
  </script>

  {% endblock %} 


{%- macro video(adv) -%}
  {% if adv.get('video_link') %}
  <div style="margin-bottom:30px" id="video">
  <div id="player"></div>
  </div>

  <script type="text/javascript">

      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
       player = new YT.Player('player', {
          height: '350',
          width: '400',
          videoId: povodochek.extract_youtube_videoid('{{adv.get("video_link")}}')
        });
      }
   
  </script>
  {% endif %}
{%- endmacro -%}

{%- macro adv_number(adv) -%}

<br/>

<br/>
<div class="" style="">
    {#<span style="padding-right:15px"><span class="text-muted small">Объявление № </span>
    {%set short_id = adv | short_adv_id %}
    <span class="badge" title="№ объявления {{short_id}}" style="margin-left:5px;">
    {{short_id}}
    </span>
    </span>#}

    {% set add_date = adv.get("add_date") %}
    {% set update_date = adv.get("update_date") %}

     <span style="white-space:nowrap;margin-right:15px"><span class="text-muted" style="padding-right:5px">размещено</span>{{momentjs(add_date).format("D MMMM, H:mm")}}</span>

     {%if update_date != add_date %}
      <span style="white-space:nowrap;margin-right:15px"><span style="padding-right:5px" class="text-muted">обновлено</span>{{momentjs(update_date).format("D MMMM, H:mm")}}</span>
    {%endif%}     

  <span style="white-space:nowrap;" title="Количество уникальных просмотров объявления"><span style="padding-right:5px" class="text-muted">смотрели:</span>{{ adv.get("stat").get("unique_views") if adv.get("stat") else '0' }}</span>

</div>

{%- endmacro -%}


{%- macro attraction_adv(adv) -%}

  <div class="das-attraction" style="margin-top:30px">
    {% from "attraction.html" import render_stars %}

    <span class="" style="padding-right:5px">Привлекательность объявления</span>{{render_stars(adv.get("attraction"))}}
</div>

{%- endmacro %}

{%- macro price_info(adv) -%}

   <div class="das-price-block">


      <div class="das-price-number" title="{{format('{0:,}', adv.get('price')) | replace(',', ' ') }} {{ 'рубль' | morph_word(count = adv.get('price') | int) }}" itemprop="priceSpecification" itemscope itemtype="http://schema.org/UnitPriceSpecification">
             <span itemprop="price">{{adv.get('price') | format_price() }}&nbsp;<i class="fa fa-ruble"></i></span>
             <meta itemprop="priceCurrency" content="RUB" />   
      </div>

        <ul class="list-inline">

          {%if adv.get("price_haggle") %}
            <li class="">
              <abbr data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Уместен торг" class="label label-danger" >торг</abbr>   
            </li>
            
            {%endif%}

             {%if adv.get("price_hp") %}
              <li class="">
                  <abbr data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Возможна рассрочка платежа" class="label label-danger ">рассрочка</abbr>
              </li>
                
              {%endif%}

        </ul>

    </div>

{%- endmacro-%}

{%- macro photos(adv) -%}

    <!-- photo -->
      {%if adv.get('photos') or [] | length > 0%}    

      <div class="das-photos">

        {%if adv.get("photos") | length > 1%}

        <div id="carousel" class="flexslider hidden-xs">
          <ul class="slides">
            {%for photo in adv.get('photos') %}
            <li>
              <img width="100" src="{{url_for('thumbnail', filename = photo)}}" />
            </li>
            {%endfor%}
          </ul>
        </div>

        {%else%}

          {% set photo = adv.get('photos')[0] %}
          <img style="padding-bottom:10px" width="100" src="{{url_for('thumbnail', filename = photo)}}" />

        {%endif%}

         <p class="text-left small">(фото <span id="currentPhotoNumber">1</span>&nbsp;из&nbsp;{{adv.get('photos') | length}})</p>
        
        <script type="text/javascript">

        function img_onload() {

          $('#carousel').flexslider({
              animation: "slide",
              controlNav: false,
              animationLoop: false,
              slideshow: false,
              itemMargin: 5,
              itemWidth: 100,
              asNavFor: '#slider'
            });

            $('#slider').flexslider({
              animation: 'fade',
              controlNav: false,
              animationLoop: false,
              slideshow: false,
              sync: "#carousel",
              smoothHeight: true,
              animationSpeed : 400,
              touch: false, 
              after: function(slider){
                $("#currentPhotoNumber").html(slider.currentSlide+1);
              }
            }).addClass("loading");

            $("#slider .flex-prev").click(function(){
              var slider = $('#slider').data('flexslider');
              slider.flexslider("prev");
            });

            $("#slider .flex-next").click(function(){
              var slider = $('#slider').data('flexslider');
              slider.flexslider("next");
            });
          }

        </script>

        <div id="slider" class="flexslider">
          <ul class="slides ">
            {%for photo in adv.get('photos') %}
            
            <li class="text-center photo">
              {%if loop.index == 1%}
               
               <img class="img-responsive main-photo" src="{{url_for('photo', filename = photo, height = 430)}}" onload="javascript:img_onload()" />

               {%else%} 

              {%set main_image_url = url_for('photo', filename = photo, height = 430)%}

               <img class="img-responsive" src="{{main_image_url}}" itemprop="image" />
            
               {%endif%}

            </li>

            {%endfor%}
          </ul>
        </div>

      </div> <!-- photos -->
  {%else%}
      <div class="das-photos-no">
       <img src="/static/img/no_photo.png" class="img-responsive" style="margin:0 auto"/>
    </div>
  {%endif%}
  <!-- / photo -->
{%- endmacro -%}


{%-  macro doc_info(adv) -%}
    <div class="doc-info" style="margin-bottom:30px">
   {% set doc = adv.get("doc_id") %}
        {% if not doc %}
          <div class="" style="border-radius:5px">
          <table>
            <tr>
              <td style="">
                <span class="fa fa-5x fa-exclamation-circle text-warning"></span>
            </td>
            <td style="width:30px"></td>
            <td>
                <h3 class="text-warning">
                   Нет документов о происхождении
                </h3>
                <p style="">Продавец не предоставил информацию о документах, гарантирующих породистое происхождение собаки.{# Подобная собака не может принимать участия в выставках и не имеет допуска в разведение.#}</p>
            </td>
            
            </tr>
          </table>
            
          </div>
        {%else%}
          
         
   
         <div class="panel panel-info" style="">
          <div class="panel-heading">
               <h4 class="page-heade"><span style="padding-right:5px">{{pet_docs.get_doc_dog_name(doc)}}</span>
               </h4>
          </div>
          <div class="panel-body">
             
             <!--hr/-->

            <div class="row" style="margin-top:10px">

              {% if adv.get("doc_id") in pet_docs.doc_puppy_cards%}

              {%set puppy_card_kennel = adv.get("puppy_card_kennel") %}
              <p class="col-sm-5 col-md-4 text-semi-muted small">Питомник, выдавший метрику</p>
              <p class="col-sm-7 col-md-8">
                {% if puppy_card_kennel %}
                  <span class="white-space:pre-line">{{puppy_card_kennel}}</span>
                {%else%}
                  <span class='text-muted' >не указан</span>
                {%endif%}
              </p>

              {%endif%}

            </div>

            {{ parent_info(adv, "Отец", "father") }}
            {{ parent_info(adv, "Мать", "mother") }} 
             

            </div> <!-- panel-body -->
            </div> <!-- panel -->

        {%endif%}
    </div>
{%- endmacro-%}


{%- macro parent_info(adv, title, prefix) -%}

{%set col_left_class = "col-sm-5 col-md-4 text-semi-muted small" %}
{%set col_right_class = "col-sm-7 col-md-8" %}

{% set doc = adv.get("doc_id") %}
{% if doc %}

  <div class="dog-father dog-mother" style="margin-bottom:30px;">

         <h4 class="" style="">{{title}}</h4>

         <div class="row" class="dog-parent">

           {%set pedigree_link = adv.get(prefix + "_pedigree_link") %}
            <p class="{{col_left_class}}">Родословная</p>
            <p class="{{col_right_class}}" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"> {% if pedigree_link %}
                    <a rel="nofollow" title="{{pedigree_link}}" target="_blank" href="{{pedigree_link}}">{{ pedigree_link}}</a> 
              {% else %}
                <span class='text-muted' >не указана</span>
              {%endif%}
            </p>

          </div>

          
          {%set name = adv.get(prefix + "_name") %}
          <div class="row">
          <p class="{{col_left_class}}">Кличка</p>
          <p class="{{col_right_class}}">
            {% if name %}
                  {{ name }}
            {% else %}
              <span class='text-muted' >не указана</span>
            {%endif%}
          </p>
          </div>

          
          <div class="row">
           {%set country = adv.get(prefix + "_country_id") %}
            <p class="{{col_left_class}}">Страна рождения</p>
            <p class="{{col_right_class}}">
              {% if country %}
                    {{ geo.get_country_name(country) }}
              {% else %}
                <span class='text-muted' >не указана</span>
              {%endif%}
            </p>
          </div>

          {%set color = adv.get(prefix + "_color") %}
          <div class="row">
          <p class="{{col_left_class}}">Окрас</p>
          <p class="{{col_right_class}}">
            {% if color %}
                  {{ color }}
            {% else %}
              <span class='text-muted' >не указан</span>
            {%endif%}
          </p>
          </div>
          

           {%set misc = adv.get(prefix + "_misc") %}
           {% if misc %}
           <div class="row">
            <p class="{{col_left_class}}">Прочее</p>
            <p class="{{col_right_class}}">
                {{ misc }}
            </p>
            </div>
           {%endif%}

       
    </div>


{% endif %}

{%- endmacro -%}

{%- macro dog_info(adv) -%}
    


{%set col_left_class = "col-sm-6 col-md-6 col-lg-5 text-semi-muted small" %}
{%set col_right_class = "col-sm-6 col-md-6 col-lg-7" %}

      <div class="dog-info" style="margin-bottom:40px;">

        <h3  style="margin-bottom:20px">Подробная информация</h3>

        <div class="row" itemscope itemprop="availableAtOrFrom" itemtype="http://schema.org/Place">
          <p class="{{col_left_class}}">Местоположение</p>
          <p class="{{col_right_class}}">
          <span itemprop="name">{{geo.format_city_region_by_city_id(adv.get("city_id"))}}</span>

            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <meta itemprop="addressCountry" content="RU"/>
            <meta itemprop="addressLocality" content="{{geo.get_city_name(adv.get('city_id')) }}" />
            <meta itemprop="addressRegion" content="{{geo.get_region_name_by_city_id(adv.get('city_id')) }}" />
            </div>
          </p>
        </div>

        <div class="row">
          <p class="{{col_left_class}}">Доставка в др. города</p>
          <p class="{{col_right_class}}">
            {% if adv.get("delivery") %}
            возможна
            {%else%}
            <span class='text-muted'>нет</span>
            {%endif%}
            </p>
        </div>

      

        <div class="row">
          <p class="{{col_left_class}}">Порода</p>
          <p class="{{col_right_class}}">{{breeds.get_breed_name(adv.get('breed_id')) | lower }}</p>
        </div>

        {% set gender = genders.get_gender_name(adv.get("gender_id")) %}
        {% if gender %}
        <div class="row">
          <p class="{{col_left_class}}">Пол</p>
          <p class="{{col_right_class}}">{{ gender | lower }}</p>
        </div>
        {%endif%}


          {% set birthday = adv.get("birthday") %}
          {% if birthday %}
          <div class="row">
          <p class="{{col_left_class}}">Дата рождения</p>
          <p class="{{col_right_class}}"> 
              {{momentjs(birthday).format("D MMMM YYYY")}}  
              (<small>{{momentjs(birthday).fromNow(True)}}</small>)
          </p>
          </div>
          {%endif%}

          {% set color = adv.get("color") or "" | lower %}
          {% if color %}
          <div class="row">
          <p class="{{col_left_class}}">
            Окрас
          </p>
          <p class="{{col_right_class}}">
            {{color}}
          </p>
          </div>
          {%endif%}

          <div class="row">
          <p class="{{col_left_class}}">
            Вакцинация (прививки)
          </p>
          <p class="{{col_right_class}}">
            {% if adv.get("vaccination") %}
              сделана
            {%else%}
              <span class='text-muted'>не сделана</span>
            {%endif%}
          </p>
          </div>

          <div class="row">
          <p class="{{col_left_class}}">Ветеринарный паспорт</p>
          <p class="{{col_right_class}}">
            {% if adv.get("vetpassport") %}
              есть
            {%else%}
              <span class='text-muted'>нет</span>
            {%endif%}
          </p>
          </div>

          <div class="row">
          <p class="{{col_left_class}}">Микрочип</p>
          <p class="{{col_right_class}}">
            {% if adv.get("microchip") %}
              есть
            {%else%}
              <span class='text-muted'>нет</span>
            {%endif%}
          </p>
          </div>


          <div class="row">
          <p class="{{col_left_class}}">Допуск в разведение</p>
          <p class="{{col_right_class}}">
            {% if adv.get("breeding") %}
            есть
            {%else%}
            <span class='text-muted'>нет</span>
            {%endif%}
          </p>
          </div>

          <div class="row">
          <p class="{{col_left_class}}">Подходит для выставок</p>
          <p class="{{col_right_class}}">
            {% if adv.get("show") %}
            да
            {%else%}
            <span class='text-muted' >нет</span>
            {%endif%}
          </p>
          </div>

          <div class="row">
          <p class="{{col_left_class}}">Чемпионские крови</p>
          <p class="{{col_right_class}}">
            {% if adv.get("champion_bloodlines") %}
            да
            {%else%}
            <span class='text-muted' >нет</span>
            {%endif%}
          </p>
        </div>

          <div class="row">
         <p class="{{col_left_class}}">Договор купли-продажи</p>
          <p class="{{col_right_class}}">
            {% if adv.get("contract") %}
            есть
            {%else%}
            <span class='text-muted'>нет</span>
            {%endif%}
          </p>
        </div>

      </div>

{%- endmacro -%}



{%- macro seller_info(adv) -%}


{%set col_left_class = "col-sm-4 text-semi-muted small" %}
{%set col_right_class = "col-sm-8" %}

<div class="seller-block well" style="padding:10px 20px 20px; box-shadow:2px 2px 5px 0px #ccc" itemprop="seller" itemscope itemtype="http://schema.org/Person">  
    <h3 style="margin-bottom:20px">Контактная информация</h3>      
      
      {%set username = adv.get("username") or (seller.get("username") + " " + (seller.get("surname") or "") if seller else "") %}
      {% if username %}
      <div class="row">
     <p class="{{col_left_class}}">Контактное лицо</p>
      <p class="{{col_right_class}}" >
        <span itemprop="name">{{username | title}}</span>
      </p>
      </div>
      {%endif%}

      

    

      {% set phone = adv.get("phone") or (seller.get("phone") if seller else "") %}
      {% if phone %}
      <div class="row">
       <p class="{{col_left_class}}">Телефон</p>
      <p class="{{col_right_class}}">
        <span itemprop="telephone">{{phone}}</span>
      </p>
      </div>
      {%endif%}

        {%set skype = adv.get("skype") or (seller.get("skype") if seller else "") %}
        {%if skype %}
        <div class="row">
         <p class="{{col_left_class}}">Skype</p>
        <p class="{{col_right_class}}">
            {{skype}}
        </p>
        </div>
        {%endif%}

      {#% set kennel_name = adv.get("kennel_name") %}
        {% if kennel_name %}
        <div class="row">
       <p class="{{col_left_class}}">Питомник</p>
      <p class="{{col_right_class}}">
        <span>{{kennel_name}}</span>
      </p>
      </div>
      {%endif%#}
  
      {%set site = adv.get("site_link") or (seller.get("site_link") if seller else "") %}
        {%if site %}
        <div class="row">
         <p class="{{col_left_class}}">Сайт</p>
        <p class="{{col_right_class}}" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
            <a itemprop="url" rel="nofollow" class="" target="_blank" href="{{site}}" title="{{site}}">{{site}}</a>
        </p>
        </div>
        {%endif%}
    
      <div class="text-left" style="margin-top:20px">
          <a rel="nofollow" style="" class="btn bnt-lg btn-primary" href="{{url_for('dog_adv_email', adv_id = adv.get('_id'))}}" onclick="var w=window.open(this.href,'','width=900,height=700,scrollbars=yes');w.focus();return false;"><i class="fa fa-envelope-o"></i>&emsp;Написать письмо</a>
      </div>
    

 </div>  <!-- /seller-block -->

{% endmacro%}