{#<p class="text-left"><span>Поиск объявлений о продаже породистых собак</span></p>#}

<div class="bg-info" style="border-radius:15px; margin-top:20px">

  <div class="alert-warning" style="padding:8px 25px; border-radius:15px 15px 0px 0px;"><b>Поиск объявлений о продаже породистых собак</b></div>



  <div class="" style="padding:10px 20px 20px">

      {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

      <form action="" method="get" class="" style="padding-top:0px" role="form">

      <div class="row">
        <div class="col-sm-5">
                  <table style="width:100%"><tr>
                  <td style="width:60px" class="hidden-sm hidden-md hidden-lg">
                      <label for="{{form.breed.name}}" class=" control-label" style="font-weight:normal">порода</label>
                  </td>
                  <td>
                      <label for="{{form.breed.name}}" class=" control-label" style="font-weight:normal">Порода</label>

                      <input name="{{form.breed.name}}" class="form-control" placeholder="Укажите название породы", value="{{form.breed.data or ''}}" class="form-control" autocomplete="off" id="{{form.breed.id}}">
                  </td>
                  </tr></table>
        </div>
        <div class="col-sm-7">
        <table style="width:100%"><tbody><tr>
            <td style="width:50px" class="hidden-sm hidden-md hidden-lg">
              <label for="{{form.city.name}}" class=" control-label" style="font-weight:normal">город</label>
             
            </td>
            <td>
                <label for="{{form.city.name}}" class=" control-label" style="font-weight:normal">Местоположение</label>
              <input name="{{form.city.name}}" class="form-control" placeholder="Укажите населенный пункт", value="{{form.city.data or ''}}" class="form-control" autocomplete="off" id="{{form.city.id}}">
            </td>
            <!-- <td style="width:20px;padding-top:25px" class="text-center">+</td> -->
            <td style="width:20px;padding-top:30px" class="text-center">+</td>
            <td style="width:110px">
              <label for="{{form.distance.name}}" class=" control-label" style="font-weight:normal">удаленность</label>
              <div class="input-group">
                
                <input class="form-control" name="{{form.distance.name}}" placeholder="" value="{{form.distance.default if form.distance.name not in request.args else form.distance.data or ''}}" class="form-control" id="{{form.distance.id}}">  
                <span class="input-group-addon">км</span>
              </div>
            </td>
            {#<td style="width:30px" class="text-center">
              км
            </td>#}
          </tr></tbody></table>
        </div>
      </div>

      <!-- price -->
      <div class="row" style="margin-top:20px">
        <div class="col-sm-6">
          <table style="width:100%">
            <tr>
              <td style="width:45px;">
                Цена
              </td>
              <td style="width:110px">
                <div class="input-group">
                <input class="form-control" name="{{form.price_from.name}}" placeholder="от" value="{{form.price_from.data or form.price_from.default or ''}}" class="form-control" id="{{form.price_from.id}}">  
                <span class="input-group-addon rur">руб</span>
              </div>
              </td>
              <td style="width:25px;" class="text-center small">&ndash;</td>
              <td style="width:110px; ">
               <div class="input-group">
                <input class="form-control" name="{{form.price_to.name}}" placeholder="до" value="{{form.price_to.data or form.price_to.default or ''}}" class="form-control" id="{{form.price_to.id}}">  
                <span class="input-group-addon rur">руб</span>
              </div>  
              </td>
              {#<td style="width:35px" class="text-center">руб</td>#}
              {#<td style="width:110px; padding-left:5px" class="text-center">
                   <select class="form-control" id="{{form.price_unit.id}}" name="{{form.price_unit.id}}">
                      {%for k,v in form.price_unit.choices%}
                        <option value="{{k}}">{{v}}</option>
                      {%endfor%}
                   </select>  
              </td>#}
              <td style="" class="text-right">
                 
              </td>
            </tr>
          </table>
          </div>
          <div class="col-sm-6 text-right">
                <a type="reset" class="btn btn-md btn-link" href="{{request.path}}"><span title="сбросить текущий поиск">Сбросить</span></a>
                <button type="submit" class="btn btn-primary" style="">Показать</button>
          </div>
          
      </div>

        {#{ form_field(form.photo) }#}


    </form>

     


  </div>
</div>


<script type="text/javascript">


      //location with autocomplete built on typeahead.js
      $(function(){

        $("#{{form.distance.id}}").inputmask("integer", { allowMinus: false, allowPlus: false , rightAlignNumerics: false});

        $("#{{form.price_from.id}}").inputmask("integer", { allowMinus: false, allowPlus: false, rightAlignNumerics: false});

        $("#{{form.price_to.id}}").inputmask("integer", { allowMinus: false, allowPlus: false, rightAlignNumerics: false});

        
          $("#{{form.breed.id}}").typeahead(
          povodochek.typeahead(
          "{{url_for('ajax_typeahead_dog')}}",
          "{{form.breed.id}}")); //typeahead  
        
          $("#{{form.city.id}}").typeahead(
          povodochek.typeahead(
          "{{url_for('ajax_typeahead_location')}}",
          "{{form.city.id}}")); //typeahead  
        
      });

          </script>