


{%- macro dog_adv(adv, loop) -%}

{% from "attraction.html" import render_stars %}

{% set pet_id = adv.get("pet_id")%}        
{% set breed_name = breeds.get_breed_name(adv.get("breed_id")) %}

<div class="adv {{loop.cycle('adv-odd', 'adv-even')}}" style="position:relative">

<div class="small" style="position:absolute; top:5px; left:10px">
  <small class="text-muted">{{(form.page.data - 1) * form.perpage.data + loop.index}}</small>
</div>
    <div style="margin-bottom:5px; margin-top:-5px" class="row">
    <div class="col-sm-4 col-md-3">
      <span style="padding-right:10px" class="pull-left">
      {{render_stars(adv.get("attraction"))}}
      </span>

        {%if adv.get("video_link")%}
        
        {%set adv_video_url = url_for('dog_adv_show', adv_id = adv['_id']) + "#video" %}
        
        <i class="fa fa-video-camera text-danger pull-right cursor-help" style="margin-right:5px;margin-top:3px" data-trigger="hover" data-toggle="popover" data-placemnet="top" data-html="true" data-content="<div style='width:200px'>Автор предоставил видеоролик.</div>" data-html="true" data-placement="top"></i>

        {%endif%}

        {% if adv.get("champion_bloodlines") %}

        <i class="fa fa-trophy text-warning pull-right cursor-help" style="margin-right:5px;margin-top:3px" data-trigger="hover" data-toggle="popover" data-placemnet="top" data-html="true" data-content="<div style='width:250px'>Чемпионские крови &mdash; родители завоевали на выставках чемпионские титулы.</div>" data-placement="top"></i>

        {%endif%}
        
      </div>

    </div>

  <div class="row clearfix" >

   <div class="col-sm-4 col-md-3">

      <div class="text-center photo">

      {% set doc_id = adv.get("doc_id")%}

      {% if doc_id in pet_docs.doc_rkf%}
        <img class="kennel-club-logo-mini" src="/static/img/fci_sm_2.png" data-toggle="popover" data-trigger="hover" data-content="Породистая собака с документами <a rel='nofollow' href='http://rkf.org.ru/'>РКФ</a> (FCI)" data-html='true' target='_blank' />

      {% elif doc_id in pet_docs.doc_skor%}

        <img class="kennel-club-logo-mini" src="/static/img/iku_sm.png" data-toggle="popover" data-trigger="hover" data-content="Породистая собака с документами <a rel='nofollow' target='_blank' href='http://www.iku.ru/'>СКОР</a> (IKU)" data-html='true'/>
      {%endif%}

        {% set photo = (adv.get('photos') or [])[0]%}
        {% if photo %}
        <a  title='{{adv.get("title")}}' href="{{url_for('dog_adv_show', adv_id = adv['_id'])}}" target="_blank" class="photo-img">
          <img src="{{url_for('thumbnail', filename=photo)}}" alt="{{breed_name}}">
          <div class="photo-count"><small><b>{{adv.get("photos") | length }}&nbsp; фото</b></small></div>                          
        </a>  
        {% else %}
          <img  src="/static/img/no_photo.png" class="img-thumbnail no-photo" style="margin:0 auto" />
        {%endif%}


      </div>

      <div class="small text-right">

        {#<span style="white-space: nowrap;padding-right:10px">№ {{adv | short_adv_id}}</span>#}

          {% set update_date = adv.get("update_date") %}
          {% set add_date = adv.get("add_date") %}

          {#% if add_date %}
          <span style="padding-right:10px"><span class="text-muted">Размещено</span>&nbsp;<span style="white-space: nowrap;">{{ momentjs(add_date).format("L") }}</span></span>
          {% endif%#}

          {#% if update_date %#}
          <span class="text-muted" style="margin-right:-3px">Обновлено:</span>
          <br/><span title="Дата обновления объявления" style="white-space: nowrap;">{{ momentjs(update_date).fromNow() }}</span>
          {#% endif%#}

       </div> 

        
     

   </div>

   <div class="col-sm-8 col-md-9">

      <div class="row">
          <div class="col-sm-9 col-lg-10" style="">

            <h4 style="overflow:hidden" class="adv-head"><a href="{{url_for('dog_adv_show', adv_id = adv['_id'])}}" target="_blank" title='{{adv.get("title")}}'>{{adv.get("title") | capitalize}}</a></h4>
            
            
            {% if breed_name %}
            <p class="adv-breed">
              <span>{{breed_name }}</span> 
            </p>
            {%endif%}

            {% set city_id = adv.get("city_id") %}
            {% if city_id %}
              <p class="adv-city">

              	
                
                <b title="Местоположение">{{ geo.format_city_region_by_city_id(city_id) }}</b>

                {% if adv.get("distance") and adv.get("distance") > 0 %}<span>
                (~{{adv.get("distance") | round(-1, "ceil") | int}} км от г. <b>{{city}}</b>)</span>
                {% endif %}

                {%if adv.get('delivery') %}
                &thinsp;&rarr;&ensp;<span style="white-space:nowrap" data-placement="top" data-toggle="popover" data-html="true" data-content="<div style='width:200px'>Возможна доставка в ваш населенный пункт</div>" class="cursor-help" data-trigger="hover"><i class="fa fa-truck"></i>&nbsp;<i class="small">(доставка)</i></span>
                {%endif%}


	          </p>    
            {%endif%}    

            {% if adv.get("desc") %}
            <p class="" style="">
               <span class="">{{adv.get("desc") | truncate (300, end='...', killwords = False)}} </span>
            </p>
            {%endif%}

          </div>


          <div class="col-sm-3 col-lg-2 text-right">
            {%set price = (adv.get("price") or "") | int  %}
            <span class="adv-price" style="" title='Цена: {{ format("{0:,}", price) | replace(","," ")}} {{ "рубль" | morph_word(count=price )}}'>
             <b class="adv-price-number">{{ price | format_price() }}&nbsp;<i class="fa fa-ruble"></i></b>
           </span>  

           <ul class="list-unstyled">
            {% set price_hp = adv.get("price_hp") %}
            {% if price_hp %}
             <li>
                <span class="label label-danger">рассрочка</span>
             </li>
             {%endif%}    

             {% set price_haggle = adv.get("price_haggle") %}
            {% if price_haggle %}
              
             <li>
              <span class="label label-danger">торг</span>
             </li>
             {%endif%}

           </ul>


          </div>

      </div> <!-- row -->

      
  </div> <!-- right-side -->



</div>

<div class="more">

    <a class="btn btn-sm btn-info"  target="_blank"href="{{url_for('dog_adv_show', adv_id = adv['_id'])}}">Подробнее</a>

</div>



</div>

{% endmacro%}


 {%- macro pagination(pages, current_page, page_range, paging_class) -%}
          
          <ul class="pagination {{paging_class}}">

            {% set page_range_left = (current_page - page_range / 2 ) | int | max(1) %}
            {% set page_range_right = (current_page + page_range / 2 ) | int | min(pages) %}

            {% if page_range_left != 1 %}
            <li><a href="{{request.url | change_query(form.page.name, current_page, 1)}}">1</a>
            </li>
            {%endif%}
            {%if page_range_left > 2 %}
            <li><a href="{{request.url | change_query(form.page.name, current_page, page_range_left - 1)}}">&hellip;</a></li>
            {% endif %}

            {%for page in range(page_range_left, page_range_right + 1)%}
            <li class="{{'active' if current_page == page else ''}}">
              <a href="{{request.url | change_query(form.page.name, current_page, page)}}">{{page}}</a>
            </li>
            {%endfor%}

            {%if  page_range_right < pages  %}

            <li><a href="{{request.url | change_query(form.page.name, current_page, page_range_right + 1)}}">&hellip;</a></li>

            <li><a href="{{request.url | change_query(form.page.name, current_page, pages)}}">{{pages}}</a>
            </li>
           
           {% endif %}

          </ul>                

{%- endmacro -%}



    {%if count > 0 %}

            <div class="clearfix" style="margin:0px 0px 20px 0px">

              <div class="advs-found pull-left"><span>Найдено <b>{{count}}</b> {{"объявление" | morph_word(count = count) }}</span>
              </div> <!-- advs-found -->

              <div class="advs-sort pull-right" style="white-space:nowrap">
                <span class="text-muted" title="Способы сортировки результатов поиска.">{{form.sort.label.text}}</span>
                {% for (value, name) in form.sort.choices %}
                {%set title = "Вначале показываются самые " +  (name | morph_word(['plur']) | lower) %}
                {% if sort == value %}
                <small title="{#{title}#}" class="label label-default">{{name}}</small>
                {%else%}
                <a title="{#{title}#}" href="{{ request.url | change_query(form.sort.name, sort, value)}}" class="ajax-link">{{name}}</a>
                {%endif%}
                {% endfor %}
              </div> <!-- advs-sort -->

              


            </div>

      
  {%endif%}  

<div class="advs" style="">


{%if count <= 0%}

  <div style="margin-top:30px" class="text-left">
  <span>Объявления по вашему запросу, к сожалению, не найдены :(</span>
  </div>
       
{%else%}  

      {% for adv in advs %}   
      
          {{dog_adv(adv, loop)}}

      {% endfor %}

      {%set pages = (count / form.perpage.data ) | round(0, 'ceil') | int | max(1) %}

       
          <div style="margin-top:20px">Страницы:</div>

            <!-- desktop -->
          {{ pagination(pages, form.page.data, 10, paging_class="advs-paging pagination-left") }}
      
{%endif%}


         
          

       


</div>


