{% extends "layout.html" %}

{% block breadcrumbs%}

    {% from "breadcrumbs.html" import breadcrumbs %}

    {{breadcrumbs( [
    {'name':"Продажа собак", 'url':url_for("dog_search")}, 
    {'name':breed, 'url':url_for("dog_search", breed=breed_id)}, 
    {'name':region, 'url':url_for("dog_search", breed=breed_id, city=region_id)},
    {'name':city, 'url':url_for("dog_search", breed=breed_id, city=city_id)}, 
    ] ) }}
              
{% endblock%}



{% block content %}  

<div class="dog-search">
    
      
  {% include 'dog/search_filter_horizontal.html' %}
    
  
    <div style="margin-top:40px;">

      {% include 'dog/search_advs.html'%}

    </div>

</div>

{% endblock %} 