{%- macro first_line() -%}
<div class="row">
        <div class="col-sm-5">
            <table style="width:100%"><tr>
            <td>
                <label for="{{form.breed.name}}" class="control-label">Порода</label>
                <div class="input-group">
                    <input name="{{form.breed.name}}" class="form-control" placeholder="Введите или выберите", value="{{form.breed.data or ''}}" class="form-control" autocomplete="off" id="{{form.breed.id}}">

                    <div class="input-group-btn">

                       <button id="breed_picker" title="Выбрать породу из списка" type="button" class="btn btn-default"><b>&hellip;</b></button>
                    </div>
                </div>
                {%from "breed_picker.html" import dog_breed_picker %}

                 {{dog_breed_picker(form.breed.id, "breed_picker")}}
            </td>
            </tr></table>
        </div>
        <div class="col-sm-7">
        <table style="width:100%"><tbody><tr>
           
            <td>
              <label for="{{form.city.name}}" class="control-label">Местоположение</label>
              <input name="{{form.city.name}}" class="form-control" placeholder="Город или область", value="{{form.city.data or ''}}" class="form-control" autocomplete="off" id="{{form.city.id}}">
            </td>
            <!-- <td style="width:20px;padding-top:25px" class="text-center">+</td> -->
            <td style="width:20px;padding-top:30px" class="text-center">+</td>
            <td style="width:110px">
              <label for="{{form.distance.name}}" class=" control-label">удаленность</label>
              <div class="input-group">
                
                <input class="form-control" name="{{form.distance.name}}" placeholder="150" value="{{(form.distance.default or "") if form.distance.name not in request.args else form.distance.data or ''}}" class="form-control" id="{{form.distance.id}}">  
                <span class="input-group-addon">км</span>
              </div>
            </td>
          </tr></tbody></table>
        </div>
      </div>
{%-endmacro-%}

{%- macro second_line() -%}
   <!-- price -->
      <div class="row" style="margin-top:25px">
        <div class="col-sm-5">
          <table style="width:100%">
            <tr>
              <td style="width:45px;">
                <label for="{{form.price_from.name}}" class="control-label">Цена</label>
              </td>
              <td style="width:130px">
                <div class="input-group input-group-md">
                <input class="form-control" name="{{form.price_from.name}}" placeholder="от" value="{{form.price_from.data or form.price_from.default or ''}}" class="form-control" id="{{form.price_from.id}}">  
                <span class="input-group-addon" title="Рубль"><i class="fa fa-ruble"></i></span>
              </div>
              </td>
              <td style="width:25px;" class="text-center small">&ndash;</td>
              <td style="width:130px;">
               <div class="input-group input-group-md">
                <input class="form-control" name="{{form.price_to.name}}" placeholder="до" value="{{form.price_to.data or form.price_to.default or ''}}" class="form-control" id="{{form.price_to.id}}">  
                <span class="input-group-addon rur" title="Рубль"><i class="fa fa-ruble"></i></span>
              </div>  
              </td>
            </tr>
          </table>
          </div>

          <div class="col-sm-7 text-right">
          </div>
          
      </div>
{%- endmacro -%}


{%- macro header() -%}

 <div class="ds-header" style="">Поиск объявлений</div>

{%- endmacro -%}

{%- macro advanced() -%}
  <div class="ds-advanced" >
    <ul class="list-inline" style="">
      <li>
         {{form_field(form.photo)}}
      </li>
      <li>
        {{form_field(form.video)}}
      </li>
      <li>
        {{form_field(form.champion_bloodlines)}}
      </li>
  </ul>
  </div>
{%- endmacro-%}

{%- macro actions() -%}
  <div class="ds-actions">
      <a type="reset" class="btn btn-md btn-link" href="{{request.path}}"><span title="сбросить текущий фильтр">Сбросить</span></a>
          <button type="submit" class="btn btn-primary" style=""><i class="fa fa-search"></i>&emsp;Показать</button>
  </div>
{%- endmacro -%}


<div class="ds-filter" style="">

      {% from "forms.html" import form_field_boolean, form_field, action_buttons  %}

      <form action="" method="get" class="" role="form">

      {{header()}}

      {{first_line()}}

      {{second_line()}}

      {{advanced()}}

      {{actions()}}
      

    </form>

</div>





<script type="text/javascript">


      //location with autocomplete built on typeahead.js
      $(function(){

        $("#{{form.distance.id}}").inputmask("integer", { allowMinus: false, allowPlus: false , rightAlignNumerics: false});

        $("#{{form.price_from.id}}").inputmask("integer", { allowMinus: false, allowPlus: false, rightAlignNumerics: false, autoGroup: true, groupSeparator: " ", groupSize: 3});

        $("#{{form.price_to.id}}").inputmask("integer", { allowMinus: false, allowPlus: false, rightAlignNumerics: false, autoGroup: true, groupSeparator: " ", groupSize: 3});

        
          $("#{{form.breed.id}}").typeahead(
          povodochek.typeahead(
          "{{url_for('ajax_typeahead_dog')}}",
          "{{form.breed.id}}")); //typeahead  
        
          $("#{{form.city.id}}").typeahead(
          povodochek.typeahead(
          "{{url_for('ajax_typeahead_geo_all')}}",
          "{{form.city.id}}")); //typeahead  

          
           $(".ds-header-breed").click(function(){
              $("#{{form.breed.id}}").val("").focus();
          });

           $(".ds-header-location").click(function(){
              $("#{{form.city.id}}").val("").focus();
          });
        
      });

  </script>