{%- macro first_line() -%}
<div class="row">
        <div class="col-sm-5">
            <table style="width:100%"><tr>
            <td>
                <label for="{{form.breed.name}}" class="control-label">Порода</label>
                <div class="input-group">
                    <input name="{{form.breed.name}}" class="form-control" placeholder="Введите или выберите породу", value="{{form.breed.data or ''}}" class="form-control" autocomplete="off" id="{{form.breed.id}}">

                    <div class="input-group-btn">

                       <button id="breed_picker" title="Выбрать породу из списка" type="button" class="btn btn-default"><b>&hellip;</b></button>
                    </div>
                </div>
                {%from "dog/breed_picker.html" import dog_breed_picker %}

                 {{dog_breed_picker(form.breed.id, "breed_picker")}}
            </td>
            </tr></table>
        </div>
        <div class="col-sm-7">
        <table class="dsf-geo"><tbody><tr>
           
            <td class="dsf-geo-location">
              <label for="{{form.city.name}}" class="control-label">Местоположение</label>
              <input name="{{form.city.name}}" placeholder="Укажите город или область" value="{{form.city.data or ''}}" class="form-control" autocomplete="off" id="{{form.city.id}}" style="" />

              <div class="dsf-geo-delivery">
                 <label for="{{form.delivery.name}}"><input type="checkbox" value="y" {{"checked" if form.delivery.data}} name="{{form.delivery.name}}" id="{{form.delivery.id}}" />&ensp;<span class="small">из других городов с доставкой</span></label>&ensp;<i data-toggle="popover" data-trigger="hover" data-content="<div style='width:300px'>Показывать объявления с&nbsp;доставкой из других населенных пунктов, помимо выбранного местоположения.</div>" data-placement="top" class="fa fa-question-circle text-muted" data-html="true"></i>
              </div>

            </td>
            <!-- <td style="width:20px;padding-top:25px" class="text-center">+</td> -->
            <td style="width:20px;padding-top:30px" class="text-center">+</td>
            <td style="width:110px">
              <label for="{{form.distance.name}}" class="control-label">удаленность{#&nbsp;<i class="fa fa-question-circle text-muted" data-toggle="popover" data-placement="left" data-content="<div style='width:200px; font-weight:normal'>Учитывать города в близлежащей окрестность от указаного местоположения.</div>" data-html="true" data-trigger="hover"></i>#}</label>
              <div class="input-group">
                <input class="form-control" name="{{form.distance.name}}" placeholder="150" value="{{(form.distance.default or "") if form.distance.name not in request.args else form.distance.data or ''}}" class="form-control" id="{{form.distance.id}}">  
                <span class="input-group-addon" style="font-weight:bold;">км</span>
              </div>
            </td>
          </tr></tbody></table>
        </div>
      </div>
{%-endmacro-%}

{%- macro second_line() -%}
   <!-- price -->
      <div class="" style="margin-top:15px">
        
          <label class="control-label">Цена <i>(руб)</i></label>
          <table style="">
            <tr>
              {#<td style="width:45px;">
                <label class="control-label">Цена</label>
              </td>#}
              <td style="width:100px">
               
                <div class="input-group input-group-md">
                <input name="{{form.price_from.name}}" placeholder="от" value="{{form.price_from.data or form.price_from.default or ''}}" class="form-control" id="{{form.price_from.id}}">  
                {#<span class="input-group-addon" title="рубль"><i class="fa fa-ruble" style="font-size:1.2em"></i></span>#}
              </div>
              </td>
              <td style="width:25px;" class="text-center small">&ndash;</td>
              <td style="width:100px;">
               <div class="input-group input-group-md">
                <input class="form-control" name="{{form.price_to.name}}" placeholder="до" value="{{form.price_to.data or form.price_to.default or ''}}" class="form-control" id="{{form.price_to.id}}">  
                {#<span class="input-group-addon rur" title="рубль"><i class="fa fa-ruble" style="font-size:1.2em"></i></span>#}
              </div>  
              </td>
            </tr>
          </table>
          

          <div class="col-sm-7 text-right">
          </div>
          
      </div>
{%- endmacro -%}


{%- macro header() -%}

 <div class="dsf-header" style="">Поиск объявлений</div>

{%- endmacro -%}

{%- macro advanced() -%}
  <div class="dsf-advanced" >
    <ul class="list-inline">
      <li>
         {{form_field(form.photo)}}
      </li>
      <li>
        {{form_field(form.video)}}
      </li>
      <li>
        {{form_field(form.contract)}}{#&nbsp;<i class="cursor-help fa fa-question-circle text-muted"  data-placement="top" data-trigger="hover" data-toggle="popover" data-content="<div>Продавец заключает с покупателем договор купли-продажи.</div>" data-html="true"></i>#}
      </li>
      <li>
        
        {{form_field(form.pedigree)}}
        {#&nbsp;<i class="cursor-help fa fa-question-circle text-muted"  data-placement="top" data-trigger="hover" data-toggle="popover" data-content="<div>Продавец предоставляет официальный документ, гарантирующий породистое происхождение собаки.</div>" data-html="true"></i>#}
      </li>
      <li>
      
        {{form_field(form.champion_bloodlines)}}
      {#
      &nbsp;<i class="cursor-help fa fa-question-circle text-muted"  data-placement="top" data-trigger="hover" data-toggle="popover" data-content="<div style='width:250px'>Родители собаки завоевали на выставах чемпионские титулы.</div>" data-html="true"></i>
        #}
      </li>
  </ul>
  </div>
{%- endmacro-%}

{%- macro actions() -%}
  <div class="dsf-actions">
      <a type="reset" class="btn btn-md btn-link" href="{{request.path}}"><span title="сбросить текущий фильтр">Сбросить</span></a>
          <button type="submit" class="btn btn-primary" style=""><i class="fa fa-search"></i>&emsp;Показать</button>
  </div>
{%- endmacro -%}


<div class="ds-filter" style="">

      {% from "forms.html" import form_field_boolean, form_field, action_buttons  %}

      <form action="" method="get" class="" role="form">

      {{header()}}

      {{first_line()}}

      {{second_line()}}

      {{advanced()}}

      {{actions()}}
      

    </form>

</div>

<script type="text/javascript">



      //location with autocomplete built on typeahead.js
      $(document).ready(function(){

          $("#{{form.breed.id}}").typeahead(
          povodochek.typeahead(
          "{{url_for('ajax_typeahead_dog')}}",
          "{{form.breed.id}}")); //typeahead  
        
          $("#{{form.city.id}}").typeahead(
          povodochek.typeahead(
          "{{url_for('ajax_typeahead_geo_all')}}",
          "{{form.city.id}}")); //typeahead  

          
           $(".dsf-header-breed").click(function(){
              $("#{{form.breed.id}}").val("").focus();
          });

           $(".dsf-header-location").click(function(){
              $("#{{form.city.id}}").val("").focus();
          });
        
      });

  </script>