{% extends "layout.html" %}

{% block content %}
    <p>
        Эксперты по маркетингу утверждают: <em>&laquo;Потенциальные покупатели обращают в три раза больше внимания на продукты или услуги, подкрепленные видеороликами&raquo;</em>. Безусловную истину этих слов мы воплотили у нас на сайте. Теперь вы, наши дорогие заводчики, при размещении или редактировании объявления сможете указать ссылку на видео со своими питомцами. 
        <br/>
        Повысьте число просмотров объявлений, заинтересуйте еще больше покупателей, и ваши щенки найдут заботливых и приветливых хозяев гораздо быстрее!
     </p>

     <p>
     	<b>Ссылками на видео уже воспользовались Валентина и Елена, посмотрите их объявления:</b>
     	<ul>
     		<li>
     			<a target="_blank" href="http://xn--b1aeduqbbd1f.xn--p1ai/prodazha-sobak/534cdb5da3b1083049a77fb7/">Купить щенка той-терьера, шоколадка, девочка, ркф.</a>
     		</li>
     		<li>
     			<a target="_blank" href="http://xn--b1aeduqbbd1f.xn--p1ai/prodazha-sobak/53481f97a3b1082bf324bfc7/">Вест хайленд вайт терьера щенки</a>
     		</li>
     	</ul>
     </p>
         
   <p>
   	  <b>Кроме добавления ссылок на видео, мы изменили форму размещения объявления:</b>
   	  <ul>
   	  	<li>
   	  		Убрали поля № родословной и № клейма.
   	  		<br>
   	  		Нас в этом убедили одновременно два заводчика. Спасибо Ирине Лобацевич и Татьяне Георгиевой за конструктивный диалог.
   	  	</li>
   	  	<li>
   	  		Добавили поля для указания ссылок на родословные отца и матери. 
   	  		<br/>
   	  		Посмотрите пример таких ссылок в объявлении Ирины <a target="_blank" href="http://xn--b1aeduqbbd1f.xn--p1ai/prodazha-sobak/534cf6bca3b1083049a77fc5/">&laquo;Щенок басенджи красивый мальчик&raquo;</a>.
   	  	</li>
   	  	<li>
   	  		В контактную информацию добавили поля &laquo;веб-сайт&raquo; и &laquo;название питомника&raquo;.
   	  	</li>
   	  	<li>
   	  		Добавили галочку &laquo;чемпионские крови&raquo;.
   	  	</li>
   	  </ul> 
   </p>

   <p>
   	P.S. Говорим огромное человеческое спасибо всем активным пользователям проекта за их бесценные замечания и предложения!
   </p>
        
{% endblock %}