{% extends "layout.html" %}

{% block content %}
    <p>
        С сегодняшнего вторника (25 марта 2014 года) на сайте Поводочек.рф каждому размещенному объявлению присуждается степень привлекательности, на основании которой объявления премируются звездами. 
        Более подробную информацию вы узнаете из нашей <a href="http://xn--b1aeduqbbd1f.xn--p1ai/spravka/privlekatelnost-obyavleniya/">справки</a>.
     </p>   
         
    <p>
    На момент написания этого письма самое &laquo;привлекательное объявление&raquo; размещено Еленой из Москвы: <a href="http://xn--b1aeduqbbd1f.xn--p1ai/prodazha-sobak/53288e04a3b1085c77316119/">&laquo;Продается щенок Парсон Рассел Терьера&raquo;</a>.
    </p>
        
{% endblock %}