{% extends "layout.html" %}

{% block content %}
        <p>
            Cообщаем вам, что в этот понедельник (11 марта 2014 года) на сайте <a href="http://поводочек.рф/">поводочек.рф</a> произошли важные изменения, связанные с публикацией объявлений. Мы дополнили форму "размещения объявления о продаже" следующими полями:
            <ul style="">
                <li>
                    дата рождения
                </li>
                <li>
                    ветеринарный паспорт
                </li>
                <li>
                    окрас   
                </li>
                <li>
                    вакцинация
                </li>
                <li>
                    чипирование
                </li>
                <li>
                    документы о происхождении
                </li>
                <li>
                    возможность доставки в другой город
                </li>
                <li>
                    торг
                </li>
                <li>
                    рассрочка
                </li>
                <li>
                    договор купли-продажи
                </li>
            </ul>
        </p>
        <P>
            Пожалуйста, <b>отредактируйте свои объявления</b>, так как для потенциального покупателя полнота предоставляемой информации часто играет ключевую роль при выборе будущего питомца.
        </P>

        <p>Удачным примером оформления послужит объявление, размещенное Светланой: <a href="http://поводочек.рф/prodazha-sobak/5314d2a9a3b108013a0e29bc/">&laquo;Белые щенки среднеазиатской овчарки&raquo;</a>.</p>
        
{% endblock %}