{% extends "account/layout.html" %}

{% block account_content %}

<p class="muted">Если вы не помните текущий пароль, то вы можете воспользоваться ссылкой <a href="{{url_for('reset_password')}}">сбросить пароль</a></p>

<div class="row-fluid">
    <div class="span12">


         {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form action="{{request.path}}" method="POST">

            {{ form_field(form.current_password, class="input-large", placeholder="Введите текущий пароль") }}            

            {{ form_field(form.new_password, class="input-large", placeholder="Введите новый пароль") }}

            {{ form_field(form.repeat_new_password, class="input-large", placeholder="Павторите новый пароль") }}

              <button type="submit" class="btn btn-primary" id="save" data-loading-text="Изменяется...">Изменить</button>


        </form>

    </div>
</div>


<script type="text/javascript">
    
      //validation
    $(function(){

      $("form").validate({
        rules: {
         current_password : {required: true}, 
         new_password : {required: true, rangelength: [6, 36]},
         repeat_new_password : {required: true, equalTo: "#new_password"}
       },
       errorElement : "p", 
        errorPlacement: function(error, element) {
         error.addClass("label label-important");
         $("#" + element.attr("id") + "-div label").after(error);
       },
       highlight: function(element, errorClass) {
          $("#" + element.id + "-div").addClass("error").removeClass('success');
       },
       unhighlight: function(element, errorClass) {
          $("#" + element.id + "-div").removeClass("error").addClass("success");
       },
       submitHandler: function(form) {
          var btn = $(":submit").button("loading");
          form.submit();
         }
      });
    });


</script>

{% endblock%}
