{% extends "account/layout.html" %}

{% block account_content %}

<p class="">Если вы не помните текущий пароль, то вы можете воспользоваться ссылкой <a href="{{url_for('reset_password')}}">сбросить пароль</a></p>

<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-5">


         {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form action="{{request.url}}" method="POST" role="form">

            {{ form_field(form.current_password, placeholder="Введите текущий пароль") }}            

            {{ form_field(form.new_password, placeholder="Введите новый пароль") }}

            {{ form_field(form.repeat_new_password,  placeholder="Повторите новый пароль") }}

              <button type="submit" class="btn btn-primary" id="save" data-loading-text="Изменяется...">Изменить</button>


        </form>

    </div>
</div>


<script type="text/javascript">
    
    //validation
    $(function(){
      povodochek.validate($("form"), {
         current_password : {required: true}, 
         new_password : {required: true, rangelength: [6, 36]},
         repeat_new_password : {required: true, equalTo: "#new_password"}
       });
    });


</script>

{% endblock%}
