{% extends "account/layout.html" %}

{% block account_content %}

<p class="">Контактная информация будет <b>автоматически</b> подставляться в блок с вашими контактными данными при добавлении новых объявлений, что сэкономить вам время.</p>

<div class="row-fluid account-contact">
    <div class="span12">

         {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form action="{{request.url}}" method="POST" id="contact">

            {{ form_field(form.username, class="input-xlarge", placeholder="Введите ваше имя") }}         

             <div class="phone">

              {{ form_field(form.phone, class="input-large", placeholder = "Введите тел. номер") }}
              
                {#<div class="phone-options">
                  {{ form_field(form.phone_adv_hide) }}
                  { form_field(form.phone_adv_sms) }
                </div>
              </div>  #}

               <div class="skype">
          
                   {{ form_field(form.skype, class="input-xlarge", placeholder="Введите skype-имя") }}

                   {#<div class="skype-options">
                     {{ form_field(form.skype_adv_hide) }} 
                   </div>#}

               </div>

                <div class="city">

                   {{ form_field(form.city, class="input-xxlarge", placeholder="Введите название населенного пункта") }}

                   {#<div class="city-options">
                     {{ form_field(form.city_adv_hide) }} 
                   </div>#}

               </div>

              <br/>

              <button type="submit" class="btn btn-primary" id="save" data-loading-text="Сохраняется...">Сохранить</button>


        </form>

    </div>
</div>


<script type="text/javascript">

    $(function(){
      $("#city").typeahead({
        minLength: 1, 
        limit: 8,
        source: function (query, process) {
          return $.getJSON('/ajax/location/typeahead',  {limit: 8, query: query}, function (data) { return process(data.items);
          }); //getJSON
        } //source
      }); //typeahead  
    });

    $(function(){
      $("#phone").inputmask({"mask": "+7(999)999-9999", 
      }); 
    });


      //validation
    $(function(){
      povodochek.validate($("form"),  {
         username : {required: true},
         phone : {_phone: true}
       });
    });


</script>

{% endblock%}
