{% extends "account/layout.html" %}

{%block page_desc %}

<span class="">Контактная информация будет подставляться в блок с вашими контактными данными при добавлении новых объявлений.</span>    

{%endblock%}

{% block account_content %}


<div class="account-contact row">

<div class="col-md-6">
         {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form action="{{request.url}}" method="POST" id="contact" role="form">

            {{ form_field(form.username, placeholder="Введите ваше имя", size = "col-sm-9") }}         

             <div class="phone">

              {{ form_field(form.phone, placeholder = "Введите тел. номер", size = "col-sm-6") }}
              
             

               <div class="skype">
          
                   {{ form_field(form.skype, placeholder="Введите skype-имя", size = "col-sm-6") }}

             

               </div>

                <div class="city">

                   {{ form_field(form.city, placeholder="Введите название населенного пункта", size = "col-sm-12", autocomplete = "off") }}


               </div>

              <br/>

              <button type="submit" class="btn btn-primary" id="save" data-loading-text="Сохраняется...">Сохранить</button>


        </form>

        </div>

</div>


<script type="text/javascript">

    $(function(){

	    $("#{{form.city.id}}").typeahead(
        povodochek.typeahead(
        "{{url_for('ajax_typeahead_location')}}",
        "{{form.city.id}}")); //typeahead  

	    
      $("#phone").inputmask({"mask": "+7(999)999-9999", 
      });
      
      povodochek.validate($("form"),  {
         username : {required: true},
         phone : {_phone: true}
       });
    });


</script>

{% endblock%}
