{% extends "account/layout.html" %}

{% block account_content %}



<p class="">Контактная информация будет автоматически подставляться в блок с вашими контактными данными при добавлении новых объявлений, что сэкономить вам время.</p>    



<div class="account-contact row">

<div class="col-md-6">
         {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form action="{{request.url}}" method="POST" id="contact" role="form">

            {{ form_field(form.username, placeholder="Введите ваше имя") }}         

             <div class="phone">

              {{ form_field(form.phone, placeholder = "Введите тел. номер") }}
              
             

               <div class="skype">
          
                   {{ form_field(form.skype, placeholder="Введите skype-имя") }}

             

               </div>

                <div class="city">

                   {{ form_field(form.city, placeholder="Введите название населенного пункта") }}


               </div>

              <br/>

              <button type="submit" class="btn btn-primary" id="save" data-loading-text="Сохраняется...">Сохранить</button>


        </form>

        </div>

</div>


<script type="text/javascript">

    $(function(){

	    $("#{{form.city.id}}").typeahead({
	    minLength: 1,
	    limit: 8,
	    source: function (query, process) {
	      return $.getJSON("{{url_for('ajax_typeahead_location')}}",
	        {limit: 8, query: query },
	        function (data) { return process(data.items);}); //getJSON
	      } //source
	    }); //typeahead 

	    
      $("#phone").inputmask({"mask": "+7(999)999-9999", 
      });
      
      povodochek.validate($("form"),  {
         username : {required: true},
         phone : {_phone: true}
       });
    });


</script>

{% endblock%}
