{% extends "layout.html" %}

{% block breadcrumbs %}
  {#<ol class="breadcrumb" >
    <li><a href="{{url_for('index')}}" title="Главная"><small class="glyphicon glyphicon-home"></small></a> 
    <li class="active">Личный кабинет</li>
</ol>#}
{% endblock %}

{%block page_header%}
{%endblock%}


{% macro render_nav_item(title, path) -%}
      <li class="{{'active' if request.path == path}}">
     <a  href="{{path}}" >{{title}}</a>
     </li>
{%- endmacro %}



{% block content %}      

<div class="">

  
    <div class="small" style="float:left;width:160px; margin-top:20px">
      
        
      <ul class="nav nav-pills nav-stacked" >

      <li class="{{'active' if request.path  == url_for('account_dog_advs')}}">
        <a href="{{url_for('account_dog_advs')}}">Мои собаки <span class="badge pull-right">{{current_user.counters.get("dog_advs")}}</span></a>
      </li>

      <li class="{{'active' if request.path  == url_for('account_dog_advs_archived')}}">
        <a href="{{url_for('account_dog_advs_archived')}}">Архив <span class="badge pull-right">{{current_user.counters.dog_advs_archived}}</span></a>
      </li>

      <li class="nav-divider"></li>

      <li class="{{'active' if request.path  == url_for('account_cat_advs')}}">
        <a  href="{{url_for('account_cat_advs')}}">Мои кошки <span class="badge pull-right">{{current_user.counters.cat_advs}}</span></a>
      </li>

      <li class="{{'active' if request.path  == url_for('account_cat_advs_archived')}}">
        <a href="{{url_for('account_cat_advs_archived')}}">Архив <span class="badge pull-right">{{current_user.counters.cat_advs_archived}}</span></a>
      </li>

      <li class="nav-divider"></li>

        <li class="{{'active' if request.path  == url_for('account_profile')}}">
        <a href="{{url_for('account_profile')}}">Профиль</span></a>
        </li>

        <li class="{{'active' if request.path  == url_for('account_change_password')}}">
        <a href="{{url_for('account_change_password')}}">Смена пароля</span></a>
        </li>

        <li class="{{'active' if request.path  == url_for('account_change_email')}}">
        <a href="{{url_for('account_change_email')}}">Смена эл. почты</span></a>
        </li>

         <li class="{{'active' if request.path  == url_for('account_subscribe')}}">
        <a href="{{url_for('account_subscribe')}}">Подписки</span></a>
        </li>


      </ul>
    </div>  <!-- left-side -->


    <div class="clearfix" style="margin-left:220px">
      <h1 class="page-header">{{ title }}</h1>

      <div style="margin-bottom:30px" class="text-semi-muted">
      {%block page_desc %}

      {%endblock%}
      </div>
    


      {% block account_content %}
        
      {% endblock%}
    </div>
  </div>
</div>

  {% if not current_user.activated and not session["activate_remember_later"] %}


  <div id="activate_remember" class="modal fade text-left" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_rem" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
      
    <div class="modal-header">
      <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button-->
      <h3 id="myModalLabel_rem">Напоминание o подтверждении регистрации</h3>
    </div>
    <div class="modal-body">
      <p style="line-height:20px">Ваша электронная почта все еще не подтверждена! Не забудьте это сделать в ближайшее время, перейдя по ссылке в письме, которое было отправленно при регистрации, или <a href="{{url_for('activate')}}" target='_blank'>вышлете новую ссылку</a>.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" id="activate_remember_later">Закрыть</button>
    </div>
    </div>  
    </div> <!--modal-dialog-->
  </div> <!--modal-->

    <script type="text/javascript">

    $(window).load(function(x){

      $("#activate_remember_later").click(function() {
          $.getJSON('{{url_for("ajax_activate_remember_later")}}', function(data) {

          });
          $('#activate_remember').modal('hide');
      });
      setTimeout(function(){$('#activate_remember').modal('show');},
        2000);
    });

    </script>

  {%endif%}



{% endblock %} 