{% extends "layout.html" %}


{% macro render_nav_item(title, path) -%}
    <li {% if request.path  == path %} class="active" {% endif %}><a href="{{path}}">{{title}}</a></li>
{%- endmacro %}


{% block content %}      

<div class="container">

  <div class="row account" style="">
    <div class="col-sm-4 col-md-3" style="">
      <div class="left-side">
        
      <ul class="nav nav-pills nav-stacked" >
        
        {% for (title, path) in [("Объявления о продаже", url_for('account_sale')), ("Новое объявление", url_for('account_sale_add'))
          ] 
        %}

          {{render_nav_item(title, path)}}

        {% endfor %}

      

        {% for (title, path) in [
          ("Контактная информация", url_for('account_contact'))
          , ("Сменить пароль", url_for('account_change_password'))
          , ("Сменить эл. почту", url_for('account_change_email'))] 
        %}
        
          {{render_nav_item(title, path)}}

        {% endfor %}

      </ul>
      </div> <!-- left-side -->
    </div> 
    <div class="col-sm-8 col-md-9" style="">
      <h1 class="">{{ title }}</h1>

      {% block account_content %}
        
      {% endblock%}
    </div>
  </div>
</div>

  {% if not current_user.active and not session["activate_remember_later"] %}


  <div id="activate_remember" class="modal fade text-left" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_rem" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
      
    <div class="modal-header">
      <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button-->
      <h3 id="myModalLabel_rem">Напоминание o подтверждении регистрации</h3>
    </div>
    <div class="modal-body">
      <p style="line-height:20px">Ваша электронная почта все еще не подтверждена! Не забудьте это сделать в ближайшее время, перейдя по ссылке в письме, которое было отправленно при регистрации, или <a href="{{url_for('activate')}}" target='_blank'>вышлете новую ссылку</a>.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" id="activate_remember_later">Закрыть</button>
    </div>
    </div>  
    </div> <!--modal-dialog-->
  </div> <!--modal-->

    <script type="text/javascript">

    $(window).load(function(x){

      $("#activate_remember_later").click(function() {
          $.getJSON('{{url_for("ajax_activate_remember_later")}}', function(data) {

          });
          $('#activate_remember').modal('hide');
      });
      setTimeout(function(){$('#activate_remember').modal('show');},
        2000);
    });

    </script>

  {%endif%}



{% endblock %} 