{% extends "account/layout.html" %}

{%block page_desc %}


{%endblock%}

{% block account_content %}


<div class="account-contact row">

<div class="col-md-6">
         {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form action="{{request.url}}" method="POST" id="contact" role="form">

            {{ form_field(form.username, placeholder="Введите ваше имя", style="width:250px") }}  

            {{ form_field(form.surname, placeholder="Введите вашу фамилию", style="width:250px") }}    

           
              {{ form_field(form.phone, placeholder = "Введите тел.", style="width:150px") }}

                   {{ form_field(form.skype, placeholder="Введите skype", style="width:180px") }}

             

                   {{ form_field(form.city, placeholder="Введите название населенного пункта", style="width:350px", autocomplete = "off") }}


                   {#{ form_field(form.kennel_name, placeholder="Введите название питомника", style="width:350px", autocomplete = "off") }#}

                    {{ form_field(form.site_link, placeholder="http://", style="width:350px", autocomplete = "off") }}

              <br/>

              <button type="submit" class="btn btn-primary" id="save" data-loading-text="Сохраняется...">Сохранить профиль</button>


        </form>

        </div>

</div>


<script type="text/javascript">

    $(function(){

	    $("#{{form.city.id}}").typeahead(
        povodochek.typeahead(
        "{{url_for('ajax_typeahead_geo_cities')}}",
        "{{form.city.id}}")); //typeahead  

	    
      $("#phone").inputmask({"mask": "+7(999)999-9999", 
      });
      
      povodochek.validate($("form"),  {
         username : {required: true},
         phone : {_phone: true}, 
         {{form.site_link.id}} : {url:true}
       });
    });


</script>

{% endblock%}
