{% extends "account/layout.html" %}

{%block page_desc %}

<span class="">Контактная информация будет подставляться в блок с вашими контактными данными при добавлении новых объявлений.</span>    

{%endblock%}

{% block account_content %}


<div class="account-contact">
        <table class="table table-non-border">
           <colgroup>
            <col style="width:200px">
            <col style="">
          </colgroup>
          <tbody>
            <tr>
              <th>
                Имя
              </th>
              <td>
                {{current_user.username}}  
              </td>
            </tr>
            <tr>
              <th>Фамилия</th>
              <td>
                {{current_user.surname or "<span class='text-semi-muted'>не указан</span>" | safe}}  
              </td>
            </tr>
            <tr>
              <th>Телефон</th>
              <td>
                {{current_user.phone or "<span class='text-semi-muted'>не указан</span>" | safe}}
              </td>
            </tr>
            <tr>
              <th>Skype</th>
              <td>
                {{current_user.skype or "<span class='text-semi-muted'>не указан</span>" | safe}}
              </td>
            </tr>
            <tr>
              <th>Населенный пункт</th>
              <td>
                {{geo.format_city_region_by_city_id(current_user.city_id) or "<span class='text-semi-muted'>не указан</span>" | safe}}
              </td>
            </tr>
            <tr>
              <th>Персональный веб-сайт</th>
              <td>
                {{current_user.site_link or "<span class='text-semi-muted'>не указан</span>" | safe}}
              </td>
            </tr>
          </tbody>
        </table>


       
        <br/>

        <a class="btn btn-primary" id="save" href="{{url_for('account_profile_edit')}}">Редактировать профиль</a>


        

</div>


{% endblock%}
