{% extends "account/layout.html" %}

{%block page_desc %}

<span class="">Контактная информация будет подставляться в блок с вашими контактными данными при добавлении новых объявлений.</span>    

{%endblock%}

{% block account_content %}


<div class="account-contact row">

  <div class="col-md-6">
        <div class="row">
          <p class="col-sm-4"><b>Имя</b></p>
          <p class="col-sm-8">{{current_user.username}}</p>
        </div>
         <div class="row">
          <p class="col-sm-4"><b>Фамилия</b></p>
          <p class="col-sm-8">{{current_user.surname or "<span class='text-semi-muted'>не указан</span>" | safe}}</p>
        </div>
        <div class="row">
          <p class="col-sm-4"><b>Телефон</b></p>
          <p class="col-sm-8">{{current_user.phone or "<span class='text-semi-muted'>не указан</span>" | safe}}</p>
        </div>

          <div class="row">
          <p class="col-sm-4"><b>Skype</b></p>
          <p class="col-sm-8">{{current_user.skype or "<span class='text-semi-muted'>не указан</span>" | safe}}</p>
        </div>

          <div class="row">
          <p class="col-sm-4"><b>Населенный пункт</b></p>
          <p class="col-sm-8">{{geo.format_city_region_by_city_id(current_user.city_id) or "<span class='text-semi-muted'>не указан</span>" | safe}}</p>
        </div>

         <div class="row">
          <p class="col-sm-4"><b>Сайт</b></p>
          <p class="col-sm-8">{{current_user.site_link or "<span class='text-semi-muted'>не указан</span>" | safe}}</p>
        </div>



       
              <br/>

              <a class="btn btn-primary" id="save" href="{{url_for('account_profile_edit')}}">Редактировать профиль</a>


        </div>

</div>


{% endblock%}
