{% extends "layout.html" %}

{% block content %}

<p class="muted"><small>Описать тут, как что и где писать кратко.</small></p>

<div class="row-fluid">
    <div class="span8">

        {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form class="form-sale-adv" id="adv" method="post" action="{{request.path}}" enctype="multipart/form-data" >

          {{ form_field(form.pet) }}

          {{ form_field(form.breed) }}
          
          {{ form_field(form.title, class="span12" )}}

          {{ form_field(form.desc, rows="6", class="span12") }}    

          {{ form_field(form.price, class="span2") }}

          {{ form_field(form.photos) }}

          <div class="cleafix">
            <label for="uploader">
              <strong>Фотографии</strong>
            </label>

              {% include "uploader.html" %}
        </div>  

        <br>



        <div class="actions">
          <input type="submit" class="btn btn-primary" value="{{btn_name}}" id="update">
          &nbsp;
          <a class="btn btn-danger" href="#" id="delete">Удалить</a>
          &nbsp;
          <a class="btn" href="/account/sale" id="cancel">Отменить</a>
        </div>

            <script type="text/javascript">
            //add custom logic before submit action
              $(function(){
                $(":submit").bind('click', function() {
                  photos = $("#photos");
                  images = $("img[file-name]");
                  photos.val("");
                  $.each(images, function(i, image) {
                    filename = $(image).attr("file-name");
                    if(filename && photos.val()) {
                      photos.val(photos.val() + "," + filename);
                    } else {
                      photos.val(filename);
                    }
                  });
                });
              });
    
            //select2 for dropdowns 
            $(function(){

              var jq_breed = $("#breed");
              jq_breed.select2({
                placeholder: "Выберите породу",
                width: "off",
                containerCssClass : "span6",
                matcher: function(term, text, option) {
                  //debugger;
                  var pet_id = jq_pet.val();
                  return text.toUpperCase().indexOf(term.toUpperCase())>=0 && option.val().split("_")[0] === pet_id; 
                  }
               });

              var jq_pet = $("#pet");
              jq_pet.select2({
                placeholder:"Выберите вид животного",
                width: "off",
                containerCssClass : "span6"
              });

              jq_pet.on('change', function(e){
                jq_breed.select2('val', '');
              });
            });


            //validation
            $(function(){

              var get_element_container = function(element) {
                return element_container = $("#" + element.id + "-div");
              };

              $("form").validate({
                rules: {
                  pet : {required : true }, 
                  breed: { required: true },
                  title: {required: true},
                  desc : {required: true},
                  price : {required: true}
               },
               errorElement : "p", 
                errorPlacement: function(error, element) {
                 error.addClass("label label-important");
                 $("#" + element.attr("id") + "-div label").after(error);
               },
               highlight: function(element, errorClass) {
                  $("#" + element.id + "-div").addClass("error");
               },
               unhighlight: function(element, errorClass) {
                  $("#" + element.id + "-div").removeClass("error");
               }
              });
            });

            //delete action
            $(function(){

              $("#delete").click(function(){
                alert("Вы уверены что хотите удалить объявление.");
                return false;
              });
             
            });


            //maskedit
            $(function(){
              $('#price').mask('000000', {reverse: true});
            });

          </script>

      </form>
        
  </div>
</div>
{% endblock%}

