{% extends "account/layout.html" %}

{% block account_content %}

<div class="account-pet-sale">

    <p class="">На этой странице вы можете просматривать, редактировать и удалять свои объявления о продаже собак и кошек.</p>



    {%if advs | count <= 0 %}
    <p class="text-left" style="margin-top:30px">
        <a href="{{url_for('account_sale_add')}}" class="btn btn-success">Добавить объявление</a> 
    </p>
    {%endif%}

    {% for adv in advs %}


    <div class="row clearfix adv {{loop.cycle('adv-odd', 'adv-even')}}" >
                   <div class="col-sm-3 col-md-3">
                      <div class="text-center photo">

                        {% set photo = (adv.get('photos') or [])[0]%}
                        {% if photo %}
                        <a title='{{adv.get("title")}}' href="{{url_for_sale_show(pet_id = adv.get('pet_id'), adv_id = adv['_id'])}}" target="_blank" class="photo-img thumbnail">
                          <img src="{{url_for('thumbnail', filename=photo)}}">
                          <div class="photo-count"><small><b>{{adv.get("photos") | length }}&nbsp; фото</b></small></div>                          
                        </a>  
                        {% else %}
                        <img class="hidden-xs" data-src='/static/js/holder.js/150x100/text:Нет фото' alt="{{adv['title']}}">
                        {%endif%}


                      </div> 

                   </div>

                   <div class="col-sm-9 col-md-9">

                      <div class="row">
                          <div class="col-md-8 col-lg-9 col-sm-8">

                              <a href="{{url_for_sale_show(pet_id = adv.get('pet_id'), adv_id = adv['_id'])}}" target="_blank" title='{{adv.get("title")}}'><h4 class="adv-head">{{adv.get("title")}}</h4></a>
                            

                              <p class="adv-city">
                                {% set city_id = adv.get("city_id") %}

                                {% if city_id %}
                                <span class="glyphicon glyphicon-map-marker" title="Местоположение"></span>&nbsp;<span title="Местоположение">{{ city_id | city_region }}</span>

                                {% if adv.get("distance") and adv.get("distance") > 0 %}
                                (~{{adv.get("distance") | round(-1, "ceil") | int}} км от г.{{form.city.city_id | city_name("i") }})
                                {% endif %}

                              </span>
                              {%endif%}

                            </p>                
                            <p class="adv-breed">

                              {% set pet_name = adv.get("pet_id") | pet_name %}
                              {% if pet_name %}
                              <span title="Тип животного">{{pet_name | morph_word(["plur"]) }}</span>
                              {%endif%}

                              {% set breed_name = adv.get("breed_id") | breed_name(adv.get("pet_id")) %}
                              {% if breed_name %}
                              &nbsp;>&nbsp;
                              <span  title="Порода">{{breed_name }}</span>
                              {%endif%}

                              {% set gender_name = adv.get("gender_id") | gender_name  %}
                              {% if  gender_name %}
                              &nbsp;>&nbsp;
                              <span  title="Пол">{{ gender_name | title }}</span>
                              {% endif %}

                            </p>

                            {% if adv.get("desc") %}
                            <p class="hidden-xs hidden-sm">
                               {{adv.get("desc") | truncate (120, end='...', killwords = False)}} 
                            </p>
                            {%endif%}



                          </div>


                          <div class="col-md-4 col-lg-3 col-sm-4 text-right">
                            {%set price = (adv.get("price") or "") | int  %}
                            <p class="adv-price" style="" title='Цена: {{"{0:,}" | format(price) | replace(","," ")}} {{ "рубль" | morph_word(count=price )}}'>
                             <span class="price">{{ price | format_price() }}&thinsp;<span class="rur">руб</span></span>
                           </p>  

                           <p class="adv-dates">
                                {% set update_date = adv.get("update_date") 
                                %}
                                {% set add_date = adv.get("add_date") 
                                %}

                                {% if update_date and  
                                adv.get("update_date") 
                                %}
                                <small class="text-muted">Обновлено: </small> <b style="white-space: nowrap;"><small>{{ momentjs(update_date or add_date).fromNow() }}</small></b> 

                                {% endif%}

                           </p>

                           <div class="btn-group btn-group-justified btn-group-sm">
                              <a type="button" target="_self" title="Редактировать" class="btn btn-default"  target="_blank"href="{{url_for('account_sale_edit', id = adv['_id'])}}"><span class="glyphicon glyphicon-pencil"></span></a>

                               <a type="button" title="Посмотреть" class="btn btn-default"  target="_self" href="{{url_for_sale_show(pet_id = adv.get('pet_id'), adv_id = adv['_id'])}}"><span class="glyphicon glyphicon-eye-open"></span></a>

                              <a action="remove" type="button" title="Удалить" class="btn btn-danger"  target="_self" href="{{url_for('account_sale_remove', id = adv['_id'])}}"><span class="glyphicon glyphicon-trash"></span></a>

                           </div>

                          </div>

                      </div> <!-- row -->

                      
                  </div> <!-- right-side -->

                  

                </div>


    {% endfor %}

</div>

<script type="text/javascript">

    $(function(){
        $("a[action='remove']").click(function(){
            return confirm("Вы уверены, что хотите удалить объявление?");
        });
    });
    
</script>


{% endblock%}
