{% extends "layout.html" %}

{% block content %}

<h1>{{page_title}}</h1>

<p class="muted"><small>Описать тут, как что и где писать кратко.</small></p>

<div class="row-fluid">
    <div class="span8">

        {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form class="form-sale-adv" id="adv" method="post" action="{{request.path}}" enctype="multipart/form-data" >

          {{ form_field(form.pet) }}

          {{ form_field(form.breed) }}

          {{ form_field(form.gender) }}

          {{ form_field(form.age) }}

          {{ form_field(form.city, placeholder="Введите название населенного пункта", class="span8") }}

          {{ form_field(form.price, class="span2") }}
          
          {{ form_field(form.title, class="span12" )}}

          {{ form_field(form.desc, rows="6", class="span12") }}    

          {{ form_field(form.photos) }}

          <div class="cleafix">
            <label for="uploader">
              <strong>Фотографии</strong>
            </label>

              {% include "uploader.html" %}
        </div>  

        <br>

        <div class="actions">
          <button type="submit" class="btn btn-primary" id="update" data-loading-text="Сохраняется...">{{btn_name}}</button>
          {%if adv %}
          &nbsp;
          <a class="btn btn-danger" href="{{request.path}}/remove" id="remove">Удалить</a>
          {%endif%}
          &nbsp;
          <a class="btn" href="/account/sale" id="cancel">Отменить</a>
        </div>

            <script type="text/javascript">
            
            //location with autocomplete built on typeahead.js
            $(function(){
              $("#city").typeahead({
                minLength: 1, 
                limit: 8,
                source: function (query, process) {
                  return $.getJSON('/ajax/location/typeahead',  {limit: 8, query: query}, function (data) { return process(data.items);
                  }); //getJSON
                } //source
              }); //typeahead  
            });

            
            //select2 for dropdowns 
            $(function(){

              var jq_breed = $("#breed");
              jq_breed.select2({
                placeholder: "Выберите породу",
                width: "off",
                containerCssClass : "span6",
                matcher: function(term, text, option) {
                  var pet_id = jq_pet.val();
                  return text.toUpperCase().indexOf(term.toUpperCase())>=0 && option.val().split("_")[0] === pet_id; 
                  }
               });

              var jq_pet = $("#pet");
              jq_pet.select2({
                placeholder:"Выберите вид",
                width: "off",
                containerCssClass : "span6"
              });

              jq_pet.on('change', function(e){
                jq_breed.select2('val', '');
              });

              var jq_gender = $("#gender");
              jq_gender.select2({
                placeholder: "Выберите пол",
                width: "off",
                containerCssClass: "span6",
                allowClear: true
              });

              var jq_age = $("#age");
              jq_age.select2({
                placeholder: "Выберите возраст",
                width: "off",
                containerCssClass: "span6"
              });
            });


            //validation
            $(function(){

              $("form").validate({
                rules: {
                  pet : {required : true }, 
                  breed: { required: true },
                  location : {required: true}, 
                  title: { required: true, rangelength: [10, 80] },
                  desc : { required: true, minlength: 120 },
                  price : { required: true, range: [10, 900000] }, 
                  age : {required: true}
               },
               errorElement : "p", 
                errorPlacement: function(error, element) {
                 error.addClass("label label-important");
                 $("#" + element.attr("id") + "-div label").after(error);
               },
               highlight: function(element, errorClass) {
                  $("#" + element.id + "-div").addClass("error");
               },
               unhighlight: function(element, errorClass) {
                  $("#" + element.id + "-div").removeClass("error");
               },
               submitHandler: function(form) {
                  var btn = $(":submit").button("loading");
                  photos = $("#photos");
                  images = $("img[file-name]");
                  photos.val("");
                  $.each(images, function(i, image) {
                    filename = $(image).attr("file-name");
                    if(filename && photos.val()) {
                      photos.val(photos.val() + "," + filename);
                    } else {
                      photos.val(filename);
                    }
                  });
                  form.submit();
                 }
              });
            });

            //remove action
            $(function(){

              $("#remove").click(function(){
                return confirm("Вы уверены, что хотите удалить объявление?");
              });
             
            });


            //maskedit
            $(function(){
              $('#price').mask('99?99999', {placeholder:""});
            });

          </script>

      </form>
        
  </div>
</div>
{% endblock%}

