{% extends "account/layout.html" %}

{% block account_content %}

<!-- <p class="">Редактирвать</p> -->

<div class="row-fluid sale-edit">
    <div class="span12">

        {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

        <form class="form-sale-adv" id="adv" method="post" action="{{request.url}}" enctype="multipart/form-data" >

          {{ form_field(form.pet) }}

          {{ form_field(form.breed) }}

          {{ form_field(form.gender) }}

           {{ form_field(form.city, placeholder="Введите название населенного пункта", class="input-xxlarge") }}

          {# {{ form_field(form.age) }} #}
          
          {{ form_field(form.title, class="input-xxlarge" )}}

          {{ form_field(form.desc, rows="6", class="input-xxlarge") }}    

          {{ form_field(form.price, class="input-small") }}

          <div style="display:none">
            {{ form_field(form.photos) }}
          </div>

          <div class="clearfix photos">
            <label for="uploader">
              <strong>Фотографии</strong>
            </label>
              <abbr class="label main-photo" title="Главная фотография - это первая по счету фотография, и  именно она будет показана в списке объявлений. Вы можете перетащить любую из загруженных фотографий в эту позицию.">главная фотография</abbr>
              {% include "uploader.html" %}
          </div>  

        <h2 class="page-header">Контактная ифнормация</h2>

          {{ form_field(form.phone, class="input-large", placeholder = "Введите тел. номер") }}

          {{ form_field(form.skype, class="input-large", placeholder="Введите skype-имя") }}

        <div class="actions">
          <button type="submit" class="btn btn-primary" id="update" data-loading-text="Сохраняется...">{{btn_name}}</button>
          &nbsp;
          <a class="btn" href="{{url_for('account_sale')}}" id="cancel">Отменить</a>
        </div>

            <script type="text/javascript">
            
            //location with autocomplete built on typeahead.js
            $(window).load(function(){
              $("#city").typeahead({
                minLength: 1,
                limit: 8,
                source: function (query, process) {
                  return $.getJSON('/ajax/location/typeahead',  {limit: 8, query: query}, function (data) { return process(data.items);
                  }); //getJSON
                } //source
              }); //typeahead  
          
            
            //select2 for dropdowns 
           

              var jq_breed = $("#breed");
              jq_breed.select2({
                placeholder: "Выберите породу",
                width: "off",
                containerCssClass : "input-xlarge",
                matcher: function(term, text, option) {
                  var pet_id = jq_pet.val();
                  return text.toUpperCase().indexOf(term.toUpperCase())>=0 && option.val().split("_")[0] === pet_id; 
                  },
                sortResults : povodochek.select2_breed_sort
               });

              var jq_pet = $("#pet");
              jq_pet.select2({
                placeholder:"Выберите тип животного",
                width: "off",
                containerCssClass : "input-xlarge"
              });

              jq_pet.on('change', function(e){
                jq_breed.select2('val', '');
              });

              var jq_gender = $("#gender");
              jq_gender.select2({
                placeholder: "Выберите пол",
                width: "off",
                containerCssClass: "input-xlarge"
              });

              // var jq_age = $("#age");
              // jq_age.select2({
              //   placeholder: "Выберите возраст",
              //   width: "off",
              //   containerCssClass: "input-xlarge"
              // });


            //validation

              var submit = function(){photos = $("#photos").val("");
                  $.each(uploader.getFileNames(), function(i, filename) {
                    if(filename && photos.val()) {
                      photos.val(photos.val() + "," + filename);
                    } else {
                      photos.val(filename);
                    }
                  });
                };

               $(function(){
                $("#phone").inputmask({"mask": "+7(999)999-9999", 
                }); 
              });

              povodochek.validate($("form"), {
                  pet : {required : true }, 
                  breed: { required: true },
                  title: { required: true, rangelength: [10, 80] },
                  desc : { required: true, minlength: 120 },
                  price : { required: true, range: [10, 900000] }, 
                  // age : {required: true},
                  // gender : {required: true},
                  city : {required: true}, 
                  phone : {_phone: true}
               }, submit);


              $('#desc').textareaCount({
                'originalStyle': 'textarea-counter', 
                'displayFormat' : "#input"});
 

            //remove action
     

              $("#remove").click(function(){
                return confirm("Вы уверены, что хотите удалить объявление?");
              });
            });

          </script>

      </form>
        
  </div>
</div>
{% endblock%}

