{% extends "layout.html" %}

{% block breadcrumbs%}


          <ol class="breadcrumb" >
            <li><a href="{{url_for('index')}}" title="Главная"><small class="glyphicon glyphicon-home"></small></a> </li>
            {%if not breed %}
            <li class="active">Продажа {{pet | morph_word(["plur", "gent"])  | lower }}</li>
            {%else%}
              <li><a href="{{url_for('cat_search')}}">Продажа {{pet | morph_word(["plur", "gent"])  | lower }}</a> <span class="divider"></span></li>
              <li class="active">{{breed}}</li>
            {%endif%}

          </ol>

              
{% endblock%}

{% block content %}  

<div class="pet-sale">

  <h1>{{header}}</h1>
  
    



  <div class="row pet-sale-grid" style="margin-top:20px;">

    
      <div class="col-sm-4 col-md-3" style="">

          {% include 'cat/search_filter.html' %}

      </div> <!-- filter -->

          
      <div class="col-sm-8 col-md-9">
        {% include 'cat/search_advs.html'%}
      </div>
            

    </div>

</div> <!-- container -->








    {% endblock %} 