{% extends "layout.html" %}

{% block breadcrumbs%}

    {% from "breadcrumbs.html" import breadcrumbs %}

    {{breadcrumbs( [
    {'name':"Продажа кошек", 'url':url_for("cat_search")}, 
    {'name':breed, 'url':url_for("cat_search", breed=breed_id)},
    {'name':region, 'url':url_for("cat_search", breed=breed_id, city=region_id)}, 
    {'name':city, 'url':url_for("cat_search", breed=breed_id, city=city_id)}, 
    ] ) }}
              
{% endblock%}

{% block content %}  

<div class="pet-sale">

  <div class="row pet-sale-grid" style="margin-top:20px;">

    
      <div class="col-sm-4 col-md-3" style="">

          {% include 'cat/search_filter.html' %}

      </div> <!-- filter -->

          
      <div class="col-sm-8 col-md-9">
        {% include 'cat/search_advs.html'%}
      </div>
            

    </div>

</div> <!-- container -->








    {% endblock %} 