<div class="pet-post row-fluid">
	
		<div class="span9" {#style="position:relative; padding-right:40px"#}>
			<h2>
				Вы&nbsp;заводчик и&nbsp;хотите продать собаку или кошку? 
			</h2>
			<!-- <blockquote> -->
				<p class="qoute">
					Хотите продать собаку или кошку, чтобы у&nbsp;них появились надежный дом и&nbsp;добрая семья&nbsp;&mdash; разместите бесплатное объявление о&nbsp;продаже.
				</p>
			<!-- </blockquote> -->
			{#<div style="position:absolute; top: 45px; right: -10px; font-size:8em; color:#cccccc; font-family:times new roman">}</div>#}
		</div>
		<div class="span3" style="margin-top:40px">
			{#<ul class="unstyled steps">
				<li class="step step-1"><span class="step-num">1</span><a href="{{url_for('signup')}}">Зарегистрируйтесь</a></li>
				<li class="step step-2"><span class="step-num">2</span><a href="{{url_for('account_sale_add')}}">Разместите&nbsp;объявление</a></li>
			</ul>#}

			{% include "pet_post_button.html" %}

			{#<a class="btn btn-link btn-large" href="{{url_for('signup', next = url_for('account_sale_add'))}}">Регистрация</a> &rarr; <a class="btn btn-link btn-large" href="{{url_for('signup', next = url_for('account_sale_add'))}}">Разместить обявление</a>#}

		</div>
	
</div> <!-- pet-post -->