body {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
}


.pet-search-block {
    .control-group {
        float:left;
        margin-right: 1em;

        input#petLocation {
            width:150px;
        }

        input#petAge {
            width: 100px;
        }

        input#petGender {
            width: 70px;
        }
    }

     button#petFind {
            margin-top:24px;
        }
}


.container {
    max-width: 1000px;
}