/*
Content-Type: multipart/related; boundary="FONT"

--FONT
Content-Location: regular
Content-Transfer-Encoding: base64

HAUAAF4EAAACAAIABAAAAAAAAAAAAAAAAAAAAJABAAAAAExQAQIAAAAAAAAAAAAAAAAAAAEAAAAA
AAAATtwdrwAAAAAAAAAAAAAAAAAAAAAAABQAUgB1AGIAIABBAHIAaQBhAGwAAAAAABAAUgBlAGcA
dQBsAGEAcgAAAAAAAAAAACIAUgB1AGIAIABBAHIAaQBhAGwAIABSAGUAZwB1AGwAYQByAAAAAABC
U0dQ5AQAAAAAAAAAAAAAAAAAAAMAJTwAA8MAA8iAAvKfCMSDs8gsHozkQ7m5Oykq1MmeY4sI/yQw
cNIQiIRCXIYB0HBlcjZDf0mZl5k4IaNtebtrAJIlpFJS4+X6MWgcN5UswR84ulkN9W46cCP/eHKp
TKCWWwst5/VfvBemT3GczdtKLTSW3SN3KiKhPHZHEWxNI1RIFmgVSqcuasC9GXQo8MvoNK0xDRl3
hZMqsHLVy/VGEQRVmOXTKHeQZcQcdY9Buth1XaoHNmboubAfXV88/u7yxj2UxQyEi6AVSYOA4iZL
7wJ/KEyECazo8OF+IPEWxntuHC6Is8YvNKJgoRrx4+OUvb6rA+NrIlTFBZIu+2yYHRKMmBbctbkr
ldFOshHZBOxICexLCRIlKoJrzA8GJDkf7IMfhnoBlyiBAFHHukYbfH7caHm2DmQ3RjU06gcKHA9c
9R6MU7GXbcBeBSVb4MPQYGL+GolA1sUvlF+VTodzAK+uRRMRf2tSYIhL4LKk/okEygqeelZ8Zm4S
DldJOEwFdSIKnMKU3+grcDfnTnMsKNgTImHBX6QfYj459iEy2mYd12zA3WZBlDTfPhvHAkUAZr0l
6hAmKidV5GXHCRCksRIGBsSjk98rgDlvKJQabeSYsMKvcyUKGH1T4qlEd05YXnyNn0JtUq1qaMf4
Dk85OfF2DRHHAVYWdBtnBdmzITjGvQZFqUtqwpDUPJNdtenXGq5A7ChZJDwdluKfrtbWqpTJOslM
X1qcVSac2EoGeFgf7OYfjsShJrDprVZXzTVwXB6vnsYSQYAuP6XqFTCwwBaNri12JKywwSAzhkKv
dpvYf4NUpIrOG2kse6DC3KdmMGfrMOpK7yKSTUlrLIuEe15OILHOgtFTxdnYZgE1sE3YEbYDs3hn
7lOugSFEL9qXKvRSCr9cqarj8g1t7hcVwhQcWg3TuM2Tm3UqGgDTDgjYpRW2IwV0pEAzADG/e7vm
pSA6xMdQiA8SIiF6E12JYIMHStgQPSt38hU5xLgGrIT2FYVBwJLgAHh9EdzBGgGYwFUaF+DLhKCD
49GsljN0E/AyH5I05nci59B+6t+jFAjEuxLx5APlGKCFl0ND2f90b1Sl+kMU9Eq1K5XE3ypdqSSk
V/ugIxEF48OzMXK6NTx4gYwZ5UHT9ewzwxtGdL+N1rrvfGvuP2NrG7UuihWHKplBvxMip3LYEEb1
8Ysk8mo3q4ZYwhY+K9dFgqOScrVcPC4sPAFNjgagVBKm64IsIM5UdF4nTf9OGoji+i9PUw2gGGk6
eLbBQ6ppoNQJ2hb49QAAAJmAAAB3pWmGzwcKGdjaDnWdBOuaZT6nKjgUuBm8GJURDNTFJQFxKIh6
yLXRbCLJRZSLLRXEV1E+R+mbCyxas+v3bZOeI5lhg4iTSjstdFgQHKOlVygMByEo1VRLXolJJuoz
AyGT0PVoGjCRMKqeVKWMw89SwLBKHVV26MtXOEG4UljRcFrJk0K9yFhceIkHchom/TejSGj2

--FONT
Content-Location: italic
Content-Transfer-Encoding: base64

2QQAAB8EAAACAAIABAAAAAAAAAAAAAAAAAAA/5ABAAAAAExQAQIAAAAAAAAAAAAAAAAAAAEAAAAA
AAAAhCAsiAAAAAAAAAAAAAAAAAAAAAAAABQAUgB1AGIAIABBAHIAaQBhAGwAAAAAAA4ASQB0AGEA
bABpAGMAAAAAAAAAAAAgAFIAdQBiACAAQQByAGkAYQBsACAASQB0AGEAbABpAGMAAAAAAEJTR1Dk
BAAAAAAAAAAAAAAAAAAAAwAkyAAD4AAD5IADARQEYkHZ5BYPRnIh3NydlJVqZM8DQsI/yQwcNIQi
IXWp2vjoODK5GyHHpMzLzJwmI215y2sAkiWsUlLb5foxYB03lSy+pTi9lUzWI7bCMSPDwimUEsth
X3oFV6+O9P3c5zN6xUQHSSPSLlLhKhPIgCETCNFxe52nvLW1aWRQOr1lOxBkQq6alDmlTXi6UW0r
po6FRTkjjRJU199L86GS+AgEHO/nkdruslA2Yea9tB983VQFwIURj2iqgsmTzByltsElElS1gcM8
AkIJtlJgAH+MSeVzLb7xYsIOKW3mdEScY1+53/yB3ic0DF2FCP6ExtWRF14NXkplu3xF3J3M7N5b
DRLgDq8DPelqKKp6RQ0h8IDjpg5E/MAC+GZIJMcZ0gXxZACQMvhbpFNBLAWubcIWXKmJoxgpEJ7i
XtGewbYHMAjXoZ8oFBXtrQUp4WIj3GScVGYuv23Kqg/gE6EkHjGQWXVIwucmGAniktMVRYWH+O1D
PLO3CNbYiMj34/TGlTtYZX7icJ1MU1lzNfwS7r/LM8ETWWqy4PHJZvNRheuwzU0vK0PEBgWHQKjf
TrbBfKNe6BpOs8XPtMZm7kDYIWZ2PdlvxFRQMkWuJ5C9dpmTs8RskAl7TkhPS8wU6yL9dZKo2U6J
rLaialBUl0eBmZlpD7CvEV7wb5sJc0iVIdKhOWtRPgeYpM9WRbQ1buKVKqBRQLNZTyo4lUNUl7bf
C0i8ltM/hqbyPuhnRCH9DnOoNrWbeR9x6r2SLWQUiyWclImK1CxoLfd7LYwC9+pImiNk1ZJsKYr9
3inv5hsPZlVCMZYiKrKFgtK41hPLBAFbI/NOP4ZouwVhTGMtTMzjifR49YTLtLpI4HyDkbM2C413
qJWVzH+Dh4F8LQMfAqmhaif0yHWFFFaBSAOoJCoLLINMxzmcCtXzHI4tFKuQZd7TEqeVBAr1YdJD
62c4pmNS/O1v9bXWf8NGOxNHngHxOePG7drAxBM8A6E5GgQiUrBcuOUZCkoVltem6JuIFqZz4EEx
E6FFQ50lw3i/QxQBHn7HoBL1aQCJYzlISPgM99mOM6xqKmhRTK8RSJkhqkmcsWbhUMrCI89hRoLI
6AzGPHJkTwPuOKR96VGHdbTWWlb3SKXOILhswhCnvnC8QuuXS0rZiRt1l6zLO1n620c21p5tvh6J
3xh9g6QIHqifMo/xVgm8kxM7kNdUshsij3BbWWIKFIwjWE/Mw2ro5YO1OBmMMAKwf3nXgyX5jtxb
oLUgSC8Sa7Zt8jEOvIeViAOElcXb480/jzjVYSJ9gNIDMUSHRMAAAAAAAAAmBvTKTsDmNslJQ+1D
oMHFl01UA0Okl0nJYnnJgeCepBHKUJoaCRvrTaGqQkTpCXi1eRlYmJqNTQA=

--FONT
Content-Location: bold
Content-Transfer-Encoding: base64

hAQAANIDAAACAAIABAAAAAAAAAAAAAAAAAAAALwCAAAAAExQAQIAAAAAAAAAAAAAAAAAAAEAAAAA
AAAAFgBfBAAAAAAAAAAAAAAAAAAAAAAAABQAUgB1AGIAIABBAHIAaQBhAGwAAAAAAAoAQgBvAGwA
ZAAAAAAAAAAAABwAUgB1AGIAIABBAHIAaQBhAGwAIABCAG8AbABkAAAAAABCU0dQ5AQAAAAAAAAA
AAAAAAAAAAMAJEgAA8oAA86AAu2fCMSDs8gsHozkQ7m5Oykq1V/SFsWEf5IYOGkISTk2p2vjoODK
5GyHHpUzLoxwnI+1xy2sAkiU2KS2B8REctA6b6pZeVJxd7OkCRL9sI8t4eVJ5MTGmFiRRLd6927N
pttJmrWUw5SXnSLXMjrBPSvSItKiQvJCYlridQIpbVgXqEz+NA2abUOXUNGW4zwprHLJuASIjV+j
qU24ByVHMVbWPnti88DuYpegdtmfvCH4FhA8AB02Y9q2Ja3j+2oZv0SVAxS0gD+6JEITt8jwYd/j
RGebH425IEZNDKXudCLghX342TEW7k9cKJt2SWjRw13jrN1EEbBjJkWyNdxlwBfP9YaD0AGlgb2a
tBljdmilvOfh/0cSJRAAcfTeUFqoM3AL1YvUxoMy8P7My9FtXpAAtOQnqpvglkL0im969AsAKjI0
UZhygElOWdZVGSusc+noCiypJ/dRZYG+4cWoNRZ+Wl/qWHxE7y3tYqnkw6nL/2TDaRNsyPcYiJhv
Iu9HFhTWMrwfLkqjVVR/Bg2QKcBF4XpM4FyUviYROb9qMr16IgjGBXhEHKItuQRGZVS9u9T99KsT
rzvR6hzU7Ug5iNYTofKbiUlbgZIegTxjqMRTCxERmQ5W8rtnvDBAVqtfNhydIi0qJrpcyCmqwGw7
CYnrgIZ/ZctJjg5sP5wpqSV1C0tOkhw8xyZ4lmuVcfKCjSlSyXBJzC3hHGvBu+nx+nmmLrCvInff
UZbDaiEPSv4QXK2s25lbylki+sZ0fnMp27AOkld4/LsFSeBVLmlEFcspXPN+RUvm2HbfOctgI5tk
+FpTBlgUUiyRrxIJYJbEWdcWbxe0qoK/UrzfMnuVYzMfRrOIEC0wZw4EYAtzfYhgQ0NlsmXoj1QM
05k2vlIU9LKY1QMWZn49wIVXbRcbSJLtBdoao0/jwmyjz1SgGaHwSjLxgiLdpH+juBXfqF+JNfAN
IePAJAQDwGZiVQDCZUhsHQcFWlclZN9w5K0mRoBYIhfxEk5CEacSAKY0Cvg7xJ84Dw0I0SUFF+ZI
8YxGWGB86AX6hw9H4SjzCHol4Bc2r6NeCePT0DE5ayBRsyzLevTKp19TXINIyNFxmaboV0CNhEl0
AXIHGxMEQtsjW2eo+xUj6T2fUrTbDfKNjt0u6YmQ9ZAH4WnT2p/IVPaHHkDgneeJdfa5v7ZUNvhR
TBGAZF7dHzy5wVIZmYouDho4sVq0tYbngm1bZjNARBmSIlsWC7QSCkvQMbdr4Gb4cO4teZs/zXdD
qRxBSGHfnmAAAAAAAAAAAA==

--FONT
Content-Location: bolditalic
Content-Transfer-Encoding: base64

CgUAADwEAAACAAIABAAAAAAAAAAAAAAAAAAA/7wCAAAAAExQAQIAAAAAAAAAAAAAAAAAAAEAAAAA
AAAATPTXvQAAAAAAAAAAAAAAAAAAAAAAABQAUgB1AGIAIABBAHIAaQBhAGwAAAAAABgAQgBvAGwA
ZAAgAEkAdABhAGwAaQBjAAAAAAAAAAAAKgBSAHUAYgAgAEEAcgBpAGEAbAAgAEIAbwBsAGQAIABJ
AHQAYQBsAGkAYwAAAAAAQlNHUOQEAAAAAAAAAAAAAAAAAAADACUAAAP1AAP5AAQkCMSDs84sHozk
Q7m5Oykq1V/SZwsI/yQwcNIQkmputHoHO+BXI2Q49JmZePL01GHWnLaOjuJTIpKYHxDOS0npvEJZ
eU5xd06wME522EmW9DnSmUEsthZtpxY5hhubLcmkDUIFIPUl90k1vIqqT3ZLiLCnEPxQlqSGqyyK
+mFtOT1a/iwE6ihzhwDRBwCT1h25YtzUK11ayQ7Z1Hvx4xizytMhxpdbhjd/M/BJy8LuEU2W61Ph
QMpAnlGRTIvG+dB5ChTsDqg0A/yhkgiHsoL9kkgfxpVzY7L7hPA2OMr+AGCbpDTDYcII9t1m7F17
BLjxYTcrClj8gKSSzE0KO96Z/Mdxp3cTEtO3CgHQR9qBZkFLYMYCDPVwVX07BooB1PEOH+St0RuC
Y4/RQ7A89XGxYg/DmMVY50ZeEdEMuxbRGQugSRz2BgTPZhPoNcPG+eIN6DZn9WHICP8nvLeSA8V+
0SHWBYu81yzJKKRm3DI6Jzh1AyC5qDh0bUCqpKqnkw1mtfsUEuKZhGF/bmJkNc5bTAm9V9rFihoP
0aoRyHEDb/cpLG7YN5MAk7+Uy3YbSjmifqbL8ktJyjpKeAWF4whWFBR7tGDjnBf+2borLmb0YJOI
PqW9Ec1JnRByNEyGrM+Ja0H4vHXEDayegFiMkXBOhp3EDMdiiY0Wd5KQHsfPxcryfBH+qsfXbZ+F
V7SUoyPQxLTpVMKT5lEivU8vwq9NBL4lpdVVZ0pZYottK+HZSuTIV1G7d8gDNqxImUxnbPRFfGWG
cWoaK7nhumyCgBAANkTRKa0LrMSxYcuD2gwffuG/oyf0ROjYBmgLUq/Z4mE+NtdM0zyx1GR/VmmB
OunQuhmvpBWZ3Nb3ZJe2FtkuGIShHH29y2ovx7XCNNiIYl5DCIfvg66UZFxSUJy/Ky4yn1QA/oIg
cgEB7jgF59MDbHyoaYVPYCUOLw7zlJm44kf0Oelsl4AoDz/dL6KUcbZhzzkj+osZlDrHGyEYSoxg
AVs3oqtmYsIHwcnfZcSDSAyPILikZd7IKjahC0B0oEmoBLRTgyBGlhd7ggNS0V8D7guaRBIOAD9i
2NusEOvgM6kU92XolSEa3NtCIVW0oyPz6vYuM/n9dlj9oBucthrjPm6R2WE2bUMBmzmrr5PD4Sku
o82TBCc6l1OSaM/GuLBqUQNtW2tdeCFohgllteCumIn0RSME2I94XPNOCdKatBlfsFOVsExFAHrL
8X3QV9epi2HASnJcoYfNqhWf+saBZXa548IWxRkx9PKDEiAO4ZOafh2LoVaNAVoTZBjuoep/Sc+H
FVM0PCYCu2XJQfRV6B3V+eUdYG7BsgAAAAAAACwG9MpOwOY2yQlD7UOgwcWXTVQDs5OONCMXyCl4
PAmrqjlKGCNBIr1piyokr3VaIn9VTpQchI5da+SlMBamqEbA

--FONT--

*/


@font-face {
	font-family: 'RurArial';
	src: url('mhtml:http://chipdip.dev.design.ru/f/src/global/rur-arial-ie.css!regular');
}
@font-face {
	font-family: 'RurArial';
	src: url('mhtml:http://chipdip.dev.design.ru/f/src/global/rur-arial-ie.css!italic');
	font-style: italic;
}
@font-face {
	font-family: 'RurArial';
	src: url('mhtml:http://chipdip.dev.design.ru/f/src/global/rur-arial-ie.css!bold');
	font-weight: bold;
}
@font-face {
	font-family: 'RurArial';
	src: url('mhtml:http://chipdip.dev.design.ru/f/src/global/rur-arial-ie.css!bolditalic');
	font-weight: bold;
	font-style: italic;
}
