{% extends "layout.html" %}

{% block content %}

<div class="advice-article">

	{%filter markdown %}

# Календарь собачьей беременности

<div style="float: right; padding-left: 2em "><img src="{{url_for('static', filename='img/articles/article_2.jpg')}}" /></div>

Итак, проведя недели или даже месяцы в скрупулезном поиске отца для ваших будущих щенков, вы все-таки нашли достойного кобеля и готовы сосватать его своей суке, которая при успешной вязке разродится очаровательными щенками уже через 60 дней. Это фантастическое и одновременно волнительное время для вас и для вашего питомца!

Ознакомившись с данным руководством, вы получите достаточно полное представление о том, какие и в какой последовательности будут происходить события в жизни вашей собаки с момента зачатия щенков до их появления на свет. Полученные от прочтения данной статьи знания будут не только полезными, но также сберегут ваши время и нервы. 

## Неделя первая, дни c 0-го по 7-ой

Овуляция, спаривание и оплодотворение - эти три важных события являются неотъемлемой частью последующего процесса беременности. Обратный отсчет времени до момента родов начинается именно с овуляции. Помните, что при вязках вы должны быть не только бдительным хозяином, но также заботиться о здоровье своего питомца, ведь подцепить инфекционное заболевание во время спаривания, не составляет особого труда - обязательно проверяйте кобеля на предмет инфекционных заболеваний. Во время первых семи дней светло-розовые выделения из влагалища могут как присутствовать, так и отсутствовать, и это не повод для беспокойства, а нормальное явление.

На данной стадии любые перемены в еде или уменьшение физических нагрузок для собаки крайне нежелательны - придерживайтесь обычного рациона и физического режима. Однако, при предварительном согласовании с ветеринаром, вы можете начать подмешивать к корму пищевые добавки.

Помните, что начиная с этого момента и во время всего процесса беременности, запрещено давать лекарства от блох или глистогонные средства, если только они не были специально прописаны ветеринаром.

## Неделя вторая, дни с 7-го по 14-ый

Во время второй недели клетки, которые в итоге превратятся в очаровательных щенков, начинают подрастать и делиться, а уже в течение оставшегося срока беременности эмбрионы опустятся в матку.

Также как и на предыдущей неделе постарайтесь сохранять регулярность в кормлении и придерживайтесь обычных физических нагрузок.

## Неделя третья, дни с 14-го по 21-ый

В течение третьей недели беременности эмбрионы начнут имплантироваться в матку, где они получат жизненно важные питательные вещества и необходимое жизнеобеспечение. На данном этапе развития длина плода не превышает 1 сантиметра.  

Продолжайте поддерживать обычный рацион питания и физическую нагрузку.  Кстати, на этой стадии вы должны наблюдать увеличение аппетита у будущей мамочки, поэтому смена корма или пищевых добавок может негативно сказаться на ее растущем аппетите - настоятельно рекомендуем не подвергать собаку подобным стрессам.

## Неделя четвертая, дни с 21-го по 28-ой

К концу четвертой недели беременности опытные заводчики или ветеринары путем пальпации живота смогут определить наличие щенков у вашей собаки. В этот же период у будущих малышей начинают развиваться глазки, позвоночник и формируются мордочки. Размер плода увеличивается в длине до 1.5 сантиметров. У суки могут начать набухать соски, и , возможно, появление тонких прозрачных выделений из влагалища.

Четвертая неделя развития плода считается одной из самых важных в стадии формирования беременности, во время которой растущие щенки наиболее подтверждены физическим повреждениям, а также развитию дефектов. Запомните, что на этом этапе надо ограничивать вашу собаку от любых тяжелых и утомительных физических игр и тренировок. Проконсультируйтесь со своим ветеринаром по поводу изменения рациона питания.

##  Неделя пятая, дни с 28-го по 35-ый

Около 32-го дня беременности количество околоплодных вод в матке увеличивается, способствуя дополнительной защите щенков от внешних физических воздействий. Следовательно, после пятой недели беременности щенки становятся менее восприимчивы к любым проблемам в развитии, в том числе физическим дефектам. В это же время начинают формироваться пальцы на лапах, подрастают когти и усы, а также развиваются признаки половой принадлежности.

На данном этапе сука начнет стремительно набирать вес, и вы должны быть готовы к тому, чтобы своевременно увеличивать количество ежедневно принимаемой еды, если, конечно, вы этого уже не сделали. Кормление стоит участить, но порции сделать меньше, подмешивая к обычному корму заранее выбранную щенячью еду. 

Если вы решили сделать ультразвуковое обследование (УЗИ) вашей собаки, чтобы установить количество щенков, а также детектировать проблемы со здоровьем на ранних стадиях, то пятая неделя является самым подходящим периодом.

## Неделя шестая, дни с 35-го по 42-ой

Живот суки становится все больше и больше, а ее беременность станет очевидна большинству окружающих людей. Вы сможете отчетливо пронаблюдать, что животик будущей мамочки подрастает почти каждый день, а соски становятся заметно темнее. В этот период времени формируется окрас щенков и пигментация кожи, которые, в конечном счете, определят их цвет и внешний вид. 

Не ограничивайте ее в питании и всегда добавляйте ей столько еды, сколько она сможет съесть. Не забывайте увеличивать количество щенячьего корма. Прием поливитаминов на этой стадии только приветствуется.

Самое время начать готовить лежак или ящик, который сука будет использовать для щенки. Постарайтесь сделать его максимально удобным, привлекательным и достаточно мягким для нее и ее будущих щенков. Обязательно подумайте над тем, где его разместить, и не забывайте приучать собаку до момента родов спасть именно в этом месте, чтобы она смогла адаптироваться и привыкнуть. 

## Неделя седьмая, дни с 42-го по 49-ый

Во время подготовки к рождению щенков у вашей суки начнется линька на животе, которая является абсолютно нормальным явлением! Щенки продолжают расти, развиваться и к данному моменту времени почти полностью сформировались.

К концу седьмой недели перестаньте кормить суку щенячьей едой и вернитесь к ее регулярному полноценному питанию, причем давайте ей столько корма, сколько она сможет съесть. Данная смена рациона приведет к тому, что организм собаки начнет накапливать кальций из той жирной щенячьей пищи, которая сука получала по настоящий момент. (Кальций является очень важным минеральным элементом, особенно, на самых поздних стадиях беременности.)

## Неделя восьмая, дни с 49-го по 57-ый

Начиная с текущего периода, будьте готовы к тому, что щенки могут появиться на свет в любой момент. Избегайте любых тяжелых физических игр или других стимуляций, которые могут привести к преждевременным родам - в идеальной ситуации щенки должны провести в утробе матери еще около недели. К этому моменту времени сука начнет "гнездоваться", а вы сможете увидеть и даже почувствовать щенков, перемещающихся в животике лежащей собаки. 

К концу восьмой недели, у суки начнет образовываться молозиво, предшествующее богатому питательными веществами молоку, а затем и само молоко. Продолжайте кормить собаку столько, сколько она способна съесть, и готовьтесь к рождению щенков!

## Девятая неделя, дни с 57-го по 65-ый

Роды стремительно приближаются и уже становятся неизбежной реальностью... Убедитесь, что вы максимально подготовились к этому животрепещущему событию! К данному моменту сука должна полностью адаптироваться и комфортно устроиться в своем лежаке, который уже через некоторое время станет домом её будущих щенков. Подготавливаясь к приближающимся родам, скорее всего, собака станет более тихой и замкнутой, чем обычно. Как и на предыдущих нескольких неделях не стоит ограничивать суку в еде - пусть есть столько, сколько может, но будьте готовы к тому, что аппетит может неожиданно пропасть, особенно, если момент щенки уже совсем близок.

Для того чтобы точнее определить момент начала родов, измеряйте температуру собаки несколько раз в день. Если процесс беременности длится более 60-ти дней, то измерение температуры следует участить, и не забывать снимать показания не только днем, но ночью.


	{%endfilter%}

</div> <!-- advice -->

{% endblock %}