<div class="main-pet-search center-block" style="max-width:850px;">

	<form action="{{url_for('dog_search')}}" method="get" class="bg-info" role="form" style="padding:15px 15px; border-radius:10px;">
	<table style="width:100%"><tr>
		<td style="width:80px" class="text-center">
		<label for="pet_search_breed" class="mps-label text-large">Я ищу </label>
		</td>
		<td>
			<div class="input-group mps-breed-selector bg-info" style="">
		      <div class="input-group-btn">
		        <button style="width:125px;"  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&emsp;<span class="mps-breed-selector-label">Собаку</span>&emsp;<span class="caret"></span></button>
		        <ul class="dropdown-menu">
		          <li><a href="javascript:void(0);" class="mps-breed-selector-dog">Собаку</a></li>
		          <li><a href="javascript:void(0);" class="mps-breed-selector-cat">Кошку</a></li>
		        </ul>
		      </div><!-- /btn-group -->
		      <input type="text" name="breed" id="pet_search_breed" class="form-control" placeholder="Введите или выберите породу" style="width:100%; box-shadow:none"/>
		      <div class="input-group-btn">
		      	<button type="button" id="pet_search_breed_picker_dog" class="btn btn-default"><b>&hellip;</b></button>
		      	<button type="button" id="pet_search_breed_picker_cat" class="btn btn-default" style="display:none"><b>&hellip;</b></button>
		      </div>
		       
		    </div><!-- /input-group -->

		    {%from "dog/breed_picker.html" import dog_breed_picker %}

		    {{dog_breed_picker("pet_search_breed", "pet_search_breed_picker_dog")}}

		    {%from "cat/breed_picker.html" import cat_breed_picker %}

		    {{cat_breed_picker("pet_search_breed", "pet_search_breed_picker_cat")}}

		</td>
		<td style="width:95px; text-align:center">
			<button class="btn btn-default btn-sm"><i class="fa fa-search"></i>&ensp;Найти</button>
		</td>
		</tr>
	</table>

	</form>

	</div>


 <script type="text/javascript">
	$(document).ready(function(){
		$(".mps-breed-selector-dog").click(
			function(event) {
			$(".mps-breed-selector-label").text($(this).text());
			$(".main-pet-search form").attr('action', '{{url_for("dog_search")}}');
			$("#pet_search_breed_picker_cat").hide();
			$("#pet_search_breed_picker_dog").show();
			$("#pet_search_breed").typeahead('destroy').typeahead(povodochek.typeahead(
					"{{url_for('ajax_typeahead_dog')}}",
					"pet_search_breed")); //typeahead 
			$("#pet_search_breed").val("").focus();
		});

		$(".mps-breed-selector-cat").click(
			function(event) {
			$(".mps-breed-selector-label").text($(this).text());
			$(".main-pet-search form").attr('action', '{{url_for("cat_search")}}');
			$("#pet_search_breed_picker_dog").hide();
			$("#pet_search_breed_picker_cat").show();
			
			$("#pet_search_breed").typeahead('destroy').typeahead(povodochek.typeahead(
					"{{url_for('ajax_typeahead_cat')}}",
					"pet_search_breed")); //typeahead
			 $("#pet_search_breed").val("").focus();
		});

	   $("#pet_search_breed").typeahead(
			povodochek.typeahead(
			"{{url_for('ajax_typeahead_dog')}}",
			"pet_search_breed")
		); //typeahead 


    	})
    </script>