<div style="max-width:800px; margin:20px auto; font-family:arial,sans-serif; font-size: 14px;">
    <div style="color: #464545">
    
    <p style="font-size:18px; font-weight: bold; 
font-style:italic">Уважаемый пользователь портала Поводочек</span>!</p>
        
        {% block content %}

        {% endblock %}
        
    </div>
    <!-- footer -->
    <div style="color:rgb(136,136,136); font-size:12px;line-height:18px;margin-top:40px">
        <hr>
        <p style="">
            С уважением,
            <br>
            команда Поводочек
        </p>
    </div>
</div>