<div style="max-width:800px; margin:20px auto; font-family:arial,sans-serif; font-size: 14px;">
    <div style="color: #464545">
    
    <p style="font-size:18px; font-weight: bold;">
        {%block title%}
        Уважаемый пользователь портала Поводочек!
        {%endblock%}
    </p>
        
        {% block content %}

        {% endblock %}
        
    </div>
    <!-- footer -->
    <div style="color:rgb(136,136,136); font-size:12px;line-height:18px;margin-top:30px">
        <hr>
        <p style="">
            С уважением, команда Поводочек
            <br/>
            Сообщите нам о своих предложениях и пожеланиях, написав письмо на адрес <a href="mailto:support@povodochek.com" target="_blank">support@<span class="il">povodochek</span>.<span class="il">com</span></a>
        </p>
    </div>
</div>