{% extends "email/layout.html" %}


{% block content %}

        <p>Вы или кто-то другой воспользовались функцией восстановления пароля на портале Поводочек. Если вы действительно хотите продолжить, перейдите по нижеследующей ссылке для активации нового пароля.
            <ul style="list-style:none">   
                <li><b>Ваша эл. почта</b>: <span>{{email}}</span></li>
                <li><b>Новый пароль</b>: <span>{{password}}</span></li>
            </ul>
            <a target="_blank" href="{{url_for('asignin', asign = asign, _external =True)}}">Активировать новый пароль!</a>
        </p>
        <p>
           Мы рекомендуем изменить этот сложный, автоматически сгенерированный пароль на более запоминающийся и удобный для вас. Вы сможете сделать это в любое время из раздела <a target="_blank" href="{{url_for('account_change_password', _external =True)}}">Сменить пароль</a> своего профиля.
        </p>
        <p>
        Не нажимайте на ссылку, если вы передумали или не оставляли запрос на изменения данных для входа на сайт. В таком случае пароль останется прежним.
        </p>
        
{% endblock %}