{% extends "email/layout.html" %}


{% block content %}

        <p>При регистрации на сайте вы указали:
            <ul style="list-style:none">   
                <li><b>логин</b>: {{login}} </li>
                <li><b>пароль</b>: {{password}}</li>
            </ul>
        </p>
        <p>
            Для завершения регистрации перейдите по ссылке:<a target="_blank" href="{{url_for('activate', confirm=confirm, _external = True)}}">{{url_for('activate', confirm=confirm, _external = True)}}
            </a>
        </p>
        <p >
        Если вы не регистрировались на нашем сайте, то просто удалите это письмо.
        </p>
        
{% endblock %}