<div id="indexPetEvents" class="index-pet-events">
    <h4>Ближайщие события</h4>

      <div class="ipe-event">
         <div class="pull-left ipe-date text-center">
            <span class="ipe-number">1&thinsp;&ndash;&thinsp;3</span>
            <br/>
            <span class="ipe-month">апреля</span>
        </div>
        <div class="ipe-body">
            <h5 class="ipe-heading"><a href="#">Fima Ganadera - 2013 </a></h5>
            <p>Международная выставка животноводства (г. Сарагоса, Испания)</p>
      </div>
  </div>
       <div class="ipe-event">
        <div class="pull-left ipe-date text-center">
            <span class="ipe-number">1</span>
            <br/>
            <span class="ipe-month">марта</span>
        </div>
        <div class="ipe-body">
            <h5 class="ipe-heading"><a href="#">Munchner Heimtiermesse - 2013</a></h5>
            <p>Ярмарка домашних животных (г. Мюнхен, Германия)</p>
      </div>
  </div>


  <div class="ipe-event">
         <div class="pull-left ipe-date text-center">
            <span class="ipe-number">12&thinsp;&ndash;&thinsp;30</span>
            <br/>
            <span class="ipe-month">апреля</span>
        </div>
        <div class="ipe-body">
            <h5 class="ipe-heading"><a href="#">Animalia Expo - 2013 </a></h5>
            <p>Специализированная выставка товаров для животных (г. Льеж, Бельгия)</p>
      </div>
  </div>


  <div class="ipe-event">
         <div class="pull-left ipe-date text-center">
            <span class="ipe-number">28&thinsp;&ndash;&thinsp;31</span>
            <br/>
            <span class="ipe-month">марта</span>
        </div>
        <div class="ipe-body">
            <h5 class="ipe-heading"><a href="#">Florist & Pet Show Istanbul</a></h5>
            <p>Выставка флористики и домашних животных (г. Стамбул, Турция)</p>
      </div>
  </div>

</div>