
<div class="pet-search">

  <div class="bg-info " style="padding:30px 20px 20px 20px; margin:30px 0px; border-radius:5px;">

  <div class="row">
    
    <div class="col-md-10 col-md-push-1">
      <h1 class=" text-center alert-warning" style="top:0px;left:0px;margin:0px;width:100%; padding:15px 20px; border-radius: 5px; {#color:#555;#}">Найдите своего идеального&nbsp;питомца</h1>

    <form method="get" id="search" action="" style="margin-top:20px; padding:0px 20px">

      {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

      <div class="">

        <div class="">
          <div class="form-group">
            {% set breed = ( breeds | random) %}
            {% set pet = breed.get('pet') | pet_name | morph_word(['plur']) | lower %}
            <label for="{{pet_search_form.breed.id}}" class="{#small#}" style="font-weight:normal;{#color:#555#}">Какой породы? Например, <a tabindex="-1"  style="text-decoration:none;border-bottom:1px dotted;" href="#" title="{{breed.get('name') + ', '  + pet}}" id="breed_example">{{breed.get('name') | truncate(40, killwords = True) | lower}}</a>.</label>
            <input autocomplete="off" type="text" class="form-control input-lg" id="{{pet_search_form.breed.id}}" placeholder="Укажите породу собаки или кошки" name="{{pet_search_form.breed.name}}">
          </div>
        </div>
        <div class="">

            <div class="form-group">

            {% set city = (large_cities | random).get("city_name")%}

            <label for="{{pet_search_form.city.id}}" class="{#small#}" style="font-weight:normal;{#color:#555#}">Из какого города? Например, <a title="{{city}}" id="city_example" tabindex="-1" href="#" style="text-decoration:none;border-bottom:1px dotted;">{{city}}</a>.</label>
            <input autocomplete="off" type="text" class="form-control input-lg" id="{{pet_search_form.city.id}}" placeholder="Укажите населенный пункт" name="{{pet_search_form.city.name}}">
          </div>

        </div>
            
            
      </div>

      <div class="" style="margin-top:25px">
              {#<div class="col-sm-12 hidden-sm hidden-xs" style="margin-top:23px">
                
              </div>#}

              <div class="text-right" style="; white-space:nowrap" id="pet_find_block" data-toggle="tooltip" >
              {#<button class="btn btn-success btn-lg pull-left">Подать объявление</button>#}
                    <button type="submit" class="btn btn-primary btn-md" style="" id="pet_find"><span class="glyphicon glyphicon-search" style="padding-right:10px"></span>Найти питомца</button>
              </div>
          </div>    
    </form>
    </div>

  </div>

    

  </div>
</div> <!-- pet-search -->


<script type="text/javascript">

  $(document).ready(function(){

   $("#{{pet_search_form.city.id}}").typeahead(
      povodochek.typeahead(
      "{{url_for('ajax_typeahead_location')}}",
      "{{pet_search_form.city.id}}")); //typeahead  

   breed_typeahead = povodochek.typeahead(
      "{{url_for('ajax_typeahead_breed')}}",
      "{{pet_search_form.breed.id}}",
      function(item ) {
        breed_name = on_select_breed(item);
        return breed_name;
      });
   $("#{{pet_search_form.breed.id}}").typeahead(breed_typeahead); //typeahead  

    var on_select_breed = function(breed_name) {
      $("#{{pet_search_form.breed.id}}").tooltip("destroy");
      breed_lower = breed_name.toLowerCase();
      var pet_name_index = breed_lower.indexOf(', собаки');
      if (pet_name_index > 0) {
        $("#search").attr("action", "{{url_for('dog_search')}}");
        return breed_name.substring(0, pet_name_index);

      } else {
        var pet_name_index = breed_lower.indexOf(', кошки');
        if (pet_name_index > 0){
          $("#search").attr("action", "{{url_for('cat_search')}}"); 
          return breed_name.substring(0, pet_name_index); 
        } 
      } 
      
      $("#search").attr("action", "");
      return breed_name;
    }

    $("#pet_find").click(function(e){
      var breed = $("#{{pet_search_form.breed.id}}");
      if($("#search").attr("action") === "") {
        breed.focus();
        $("#{{pet_search_form.breed.id}}").tooltip({
          title: "Пожалуйста, укажите породу собаки или кошки",
          html : true,
          placement : "top",
          trigger : "click"
        }).tooltip("show");
        return false;
      }
    });

    $("#city_example").click(function(){
      var city_name = $(this).attr("title");
      $("#{{pet_search_form.city.id}}").val(city_name);
      return false;
    });

    $("#breed_example").click(function(){
      var breed_name = on_select_breed($(this).attr("title"));
      $("#{{pet_search_form.breed.id}}").val(breed_name);
      return false;
    });


   

});

</script>