<div class="pet-search container ">
  <div class="jumbotron ">
    <h1 style="text-indent:-3px">Объявления о&nbsp;продаже собак&nbsp;и&nbsp;кошек</h1>
    <p class="hidden-xs"><small>Поиск объявлений о продаже породистых собак и кошек по всей России.</small></p>

    <form method="get" id="search" action="{{url_for('sale')}}">

      {% from "forms.html" import form_field_boolean, form_field, action_buttons %}

      <div class="row">

        <div class="col-sm-4">
          <div class="form-group">
            <label for="{{pet_search_form.breed.id}}">Порода</label>
            <input type="text" class="form-control" id="{{pet_search_form.breed.id}}" placeholder="Укажите породу собаки или кошки" name="{{pet_search_form.breed.name}}">
          </div>
        </div>
        <div class="col-sm-5">

            <div class="form-group">
            <label for="{{pet_search_form.city.id}}">Местоположение</label>
            <input type="text" class="form-control" id="{{pet_search_form.city.id}}" placeholder="Укажите населенный пункт" name="{{pet_search_form.city.name}}">
          </div>

        </div>
            
          <div class="col-sm-3 row">
              <div class="col-sm-12 hidden-xs">
                &nbsp;
              </div>
              <div class="col-sm-12" style="margin-top:5px">
                  <button type="submit" class="btn btn-primary btn-md" id="pet_find">Найти&nbsp;питомца</button>
              </div>
                

          </div>

            
      
      </div>
    </form>

  </div>
</div> <!-- pet-search -->

<script type="text/javascript">

  $(document).ready(function(){

   $("#{{pet_search_form.city.id}}").typeahead({
    minLength: 1,
    limit: 8,
    source: function (query, process) {
      return $.getJSON("{{url_for('ajax_typeahead_location')}}",
        {limit: 8, query: query },
        function (data) { return process(data.items);}); //getJSON
      } //source
    }); //typeahead  

    $("#{{pet_search_form.breed.id}}").typeahead({
    minLength: 1,
    limit: 8,
    source: function (query, process) {
      return $.getJSON("{{url_for('ajax_typeahead_breed')}}",
        {limit: 8, query: query },
        function (data) { return process(data.items);}); //getJSON
      }, //source
      updater : function(item ) {
        rewrite_search_url(item);
        return item.substring(0, item.indexOf(","));
      }
    }); //typeahead  


   var rewrite_search_url = function(breed_name) {
    if (breed_name.indexOf(', Собаки') > 0) {
      $("#search").attr("action", "{{url_for('sale_dogs')}}");
    } else {
      $("#search").attr("action", "{{url_for('sale_cats')}}");
    }
  }

});

</script>