<div id="indexPetSearch" class="">
  <h1>Найдите своего питомца</h1>
  <p class="muted"><small>Поиск объявлений о продаже кошек, собак, птиц, кроликов и других друмашних животных, находящихся по всей России.</small></p>
    
    <form method="get" class="well">
        <fieldset>
            <div class="row-fluid">
                <div class="span6 pet-type">

                    <label class="control-label" for="petType">Тип</label>

                    <select id="petType" name="petType">
                        <option value="" selected="selected">Любой</option>
                        <option value="1">Собаки</option>
                        <option value="2">Кошки</option>
                        <option value="3">Кролики</option>
                    </select>

                </div>
                <div class="span6 pet-breed">

                    <label class="control-label" for="petBreed">Порода</label>
                    
                    <select id="petBreed">
                        <option value="" selected="selected">Любая</option>
                        <option value="1">Померанский шпиц</option>
                        <option value="2">Колли</option>
                        <option value="3">Овчарка</option>
                    </select>

                </div>
            </div>
            <div class="row-fluid">
               <div class="span6 pet-location">
                <label class="control-label" for="petLocation">Местоположение</label>
                <input type="text" id="petLocation" placeholder="Санкт-Петербург">
                </div>
                <div class="span6 pet-find">
                    <button type="submit" class="btn btn-primary" id="petFind">Найти питомца</button>
                </div>
            </div>
    </fieldset>
</form>

</div>